.sky {
    height: 499px;
    position: relative;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 275px;
}

.main_page.fon_big_business .sky
{
    top: 250px;
    overflow: visible;
}


.main_page.fon_big_business .sky .clouds_three
{
    margin-left: -6%;
    margin-top: 210px;
}

.main_page.fon_big_business .sky .clouds_one
{
    margin-left: 20%;
}

.main_page.fon_big_business .sky .clouds_two
{
    margin-left: 20%;
}

.clouds_one,
.clouds_two,
.clouds_three,
.main_slider:after,
.main_slider:before
{
    background-size: 25%;
    background-position: top center;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 400%;
}

.main_slider:before {
    height: 499px;
    top: 290px;
    display: block;
    content: '';
    z-index: 4;
    background: url("../img/slider/_cloud_four1.png");
    margin-top: 30px;
    margin-top: 61px;
    margin-left: -5%;
}

.main_page.fon_big_business .main_slider:before
{
    margin-left: 27%;
}

.main_slider:after {
    height: 499px;
    top: 290px;
    display: block;
    content: '';
    z-index: 3;
    background: url("../img/slider/_cloud_four.png");
    margin-left: 30%;
}

.clouds_one
{
    background: url("../img/slider/_cloud_one.png");
}

.clouds_two {
    background: url("../img/slider/_cloud_two.png");
}

.clouds_three {
    background: url("../img/slider/_cloud_three.png");
}
