/**button**/
.button
{
    vertical-align: middle;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    padding: 0px 36px;
    margin: 0px;
    border: 1px solid #1da9af;
    line-height: 61px;
    height: 59px;
    position: relative;
    background: #1da9af;
    border-radius: 3px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    min-width: 102px;
    text-align: center;
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;

    transition: background 0.2s linear, color 0.2s linear;
    -webkit-transition: background 0.2s linear, color 0.2s linear;
    -moz-transition: background 0.2s linear, color 0.2s linear;
    -o-transition: background 0.2s linear, color 0.2s linear;
    -ms-transition: background 0.2s linear, color 0.2s linear;
}

.button.inn
{
    margin-top: 30px;
}

.button:hover
{
    background: #1a9599;
    border-color: #1a9599;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.button:disabled
{
    background: #e2e8eb;
    border-color: #e2e8eb;
    color: #899aa3;
}

.button:active
{
    background: #1a9599;
    border-color: #1a9599;;
}

.button:focus{outline: none;}

.button.footer
{
    background: transparent;
    border-color: #1ab3a5;
    color: #fff;
    height: 50px;
    padding: 0px 30px;
    line-height: 52px;
}

.button.footer:hover
{
    background: #1a9599;
    border-color: #1a9599;
}

.button.transparent
{
    background: transparent;
    color: #000;
}

.button.maxwidth
{
    width: 100%;
    padding: 0px 0px;
    line-height: 46px;
    height: 45px;
    min-width: 0px;
}

.button.bigmaxwidth
{
    width: 100%;
    padding: 0px 0px;
    min-width: 0px;
}

.button.min_height
{
    line-height: 46px;
    height: 45px;
    padding: 0px 26px;
}

.right_bank_summ .button
{
    width: 100%;
    padding: 0px 0px;
}

/**simple_input**/
.simple_input
{
    font-size: 18px;
    color: rgb(27, 29, 31);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    border: none;
    background: transparent;
    height: 24px;
    line-height: 25px;
    margin-top: 2px;
    width: 100%;
}

.simple_input.big
{
    font-size: 30px;
    height: 33px;
    line-height: 30px;
    margin-top: 0px;
}

.simple_input:focus
{
    outline: none;
}

.complex_input_noicon .simple_input
{
    margin: 11px 0px 3px;
}

textarea.simple_input
{
    height: 170px;
}

/**complex_input**/

.wr_complex_input.complex_input_noicon.focus
{
    border-color: #bcc7cc;
}

.wr_complex_input
{
    border: 2px solid #e2e8eb;
    border-radius: 2px;
    position: relative;
    background: #fff;
}

.wr_complex_input .complex_input_body
{
    margin-right: 60px;
    padding: 12px 13px 7px;
    position: relative;
}

.wr_complex_input.big .complex_input_body
{
    padding: 15px 13px 9px;
    background: #fff;
}

.wr_complex_input.complex_input_noicon .text
{
    position: absolute;
    top: 16px;
    width: 100%;
    font-size: 18px;
    font-weight: 400;

    transition: top 0.2s linear, font-size 0.2s linear;
    -webkit-transition: top 0.2s linear, font-size 0.2s linear;
    -moz-transition: top 0.2s linear, font-size 0.2s linear;
    -o-transition: top 0.2s linear, font-size 0.2s linear;
}

.wr_complex_input.use.complex_input_noicon .text
{
    top: 8px;
    font-size: 11px;
}

.wr_complex_input.complex_input_noicon .complex_input_body
{
    margin-right: 0px;
}

.wr_complex_input .text
{
    font-size: 11px;
    color: rgb(137, 154, 163);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1px;
}

.wr_complex_input .complex_input_block
{
    position: absolute;
    top: -2px;
    bottom: -2px;
    right: -2px;
    width: 64px;
}

.wr_complex_input .complex_input_block.summ
{
    background: url('../img/tile/rub.png') no-repeat center transparent;
}

.wr_complex_input.big .complex_input_block
{
    background-color: #fff;
    color: rgb(27, 29, 31);
    top: 0px;
    bottom: 0px;
    right: 0px;
    text-align: center;
    font-size: 32px;
    line-height: 59px;
    width: 71px;
}

.wr_complex_input .complex_input_block.search
{
    background: url('../img/tile/loop.png') no-repeat center #1da9af;
}

.wr_complex_input.error,
.wr_complex_input.error.focus
{
    border-color: #d0021b;
}

label.error
{
    font-size: 14px;
    color: rgb(208, 2, 27);
    margin-top: 10px;
    display: block;
    position: absolute;
}

label label.error
{
    margin-left: 34px;
}

/**card_to_card_select**/
.card_to_card_select
{

}

/**jq-radio**/
.jq-radio {
    top: -1px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin: 0 20px 0 0;
    border: 2px solid #e4eaec;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

.calculator .jq-radio
{
    margin: 0 15px 0 0;
}

label:hover .jq-radio,
.jq-radio:hover
{
    border-color: #bcc7cc;
}
.jq-radio.checked
{
    border-color: #1da9af;
    background: #1da9af;
}
label:hover .jq-radio.checked,
.jq-radio.checked:hover,
.jq-radio.checked.error,
label:hover .jq-radio.checked.error,
.jq-radio.checked.error:hover

{
    border-color: #1a9599;
    background: #1a9599;
}
.jq-radio.checked .jq-radio__div {
    width: 8px;
    height: 8px;
    margin: 4px 0 0 4px;
    border-radius: 50%;
    background: #ffffff;
}
.jq-radio.focused {

}
.jq-radio.disabled,
label:hover .jq-radio.disabled,
.jq-radio.disabled:hover
{
    border-color: #e2e8eb;
    background: #e2e8eb;
}
.jq-radio.error,
label:hover .jq-radio.error,
.jq-radio.error:hover
{
    border-color: #d0021b;
}




/**jq-checkbox**/
.jq-checkbox {
    top: -1px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin: 0 20px 0 0;
    border: 2px solid #e4eaec;
    border-radius: 3px;
    background: #fff;
    cursor: pointer;
}
label:hover .jq-checkbox,
.jq-checkbox:hover
{
    border-color: #bcc7cc;
}
.jq-checkbox.checked
{
    border-color: #1da9af;
    background-color: #1da9af;
    background-image: url('../img/checkbox.png');
    background-repeat: no-repeat;
    background-position: center;
}
label:hover .jq-checkbox.checked,
.jq-checkbox.checked:hover,
.jq-checkbox.checked.error,
label:hover .jq-checkbox.checked.error,
.jq-checkbox.checked.error:hover
{
    border-color: #1a9599;
    background-color: #1a9599;
}
.jq-checkbox.checked .jq-checkbox__div {

}
.jq-checkbox.focused {

}
.jq-checkbox.disabled,
label:hover .jq-checkbox.disabled,
.jq-checkbox.disabled:hover
{
    border-color: #e2e8eb;
    background: #e2e8eb;
}
.jq-checkbox.error,
label:hover .jq-checkbox.error,
.jq-checkbox.error:hover
{
    border-color: #d0021b;
}

/**jq-selectbox**/
.jq-selectbox {
    vertical-align: middle;
    cursor: pointer;
    width: 100%;
    /*z-index: 9!important;*/
}

.jq-selectbox.min
{
    width: auto;
}

.jq-selectbox .select_title
{
    font-size: 11px;
    color: rgb(137, 154, 163);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 18px;
    margin: 8px 0px 0px;
    letter-spacing: 0px;
}

.jq-selectbox.disabled .select_title
{
    color:#899aa3;
}

.jq-selectbox__select {
    height: 60px;
    padding: 0 48px 0 14px;
    border: 2px solid #e2e8eb;
    color: rgb(137, 154, 163);
    border-radius: 4px;
    background: #ffffff;
    letter-spacing: -0.5px;
}

.min .jq-selectbox__select
{
    padding: 0 15px 0 0px;
}

.min .jq-selectbox__select
{
    border-color: transparent;
    background: transparent;
}

.jq-selectbox__select:hover,
.jq-selectbox.opened .jq-selectbox__select
{
    border-color: #bcc7cc;
}

.min .jq-selectbox__select:hover,
.min.jq-selectbox.opened .jq-selectbox__select
{
    border-color: transparent;
}

.min .jq-selectbox__select:hover,
.min .jq-selectbox.opened .jq-selectbox__select
{
    border-color: transparent;
}

.jq-selectbox__select:active {


}
.jq-selectbox.focused .jq-selectbox__select {

}
.jq-selectbox.disabled .jq-selectbox__select {
    border-color: #e2e8eb;
    background: #f6f8f9;
}
.jq-selectbox__select-text {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%!important;
    font-size: 18px;
    color: #000;
    font-weight: 300;
}

.min .jq-selectbox__select-text
{
    margin-top: 15px;
    border-bottom: 1px dashed #1b1d1f;
}

.jq-selectbox .placeholder {
    color: #888;
}
.jq-selectbox__trigger {
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 100%;
}

.min .jq-selectbox__trigger
{
    width: 14px;
}

.jq-selectbox__trigger-arrow {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 48px;
    bottom: 0px;
    background: url('../img/select.png') no-repeat center;
}

.min .jq-selectbox__trigger-arrow
{
    width: 14px;
}

.jq-selectbox:hover .jq-selectbox__trigger-arrow {

}
.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
    background: url('../img/_select.png') no-repeat center;
}
.jq-selectbox__dropdown {
    box-sizing: border-box;
    width: 100%;
    margin: 0px 0 0;
    padding: 0;
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    top: 62px!important;
    -webkit-box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.06);
    -moz-box-shadow:    0px 10px 8px 0px rgba(0, 0, 0, 0.06);
    box-shadow:         0px 10px 8px 0px rgba(0, 0, 0, 0.06);
}
.jq-selectbox ul {
    margin: 0;
    padding: 0;
    background: #FFF;
}
.jq-selectbox li {
    font-size: 18px;
    min-height: 18px;
    padding: 21px 10px 19px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
    font-weight: 300;
    border-bottom: 1px solid #e2e8eb;
}

.min .jq-selectbox li
{
    padding: 1px 8px 0px;
}

.jq-selectbox li::before {
    content: "";
}

.jq-selectbox li:last-child
{
    border-bottom:none;
}

.jq-selectbox li.selected {
    color: rgb(29, 169, 175);
}
.jq-selectbox li:hover {
    color: rgb(29, 169, 175);
}
.jq-selectbox li.disabled {

}
.jq-selectbox li.disabled:hover {

}