.ico
{
    display: inline-block;
    vertical-align: middle;
}

.ico.bottom
{
    background: url('../img/downmenu.png') no-repeat center;
    width: 10px;
    height: 7px;
    margin-left: 5px;
}

.ico.map
{
    background: url('../img/top/_map1.png') no-repeat top center;
    width: 8px;
    height: 11px;
    margin-right: 8px;
    vertical-align: -1px;
}

a:hover .ico.map
{
    background-position: bottom center;
}

.ico.note
{
    background: url('../img/top/_note1.png') no-repeat top center;
    width: 14px;
    height: 13px;
    margin: 0px 7px 0px 0px;
}


a:hover .ico.note
{
    background-position: bottom center;
}

.ico.close
{
    background: url('../img/top/_lock.png') no-repeat top center;
    width: 10px;
    height: 12px;
    margin-right: 13px;
    vertical-align: 0px;
}

a:hover .ico.close
{
    background-position: bottom center;
}

.ico.all_products
{
    background: url('../img/top/_menu.png') no-repeat top center;
    width: 13px;
    height: 12px;
    margin-right: 13px;
    vertical-align: 0px;
}

a:hover .ico.all_products
{
    background-position: bottom center;
}

.ico.tile_more
{
    background: url('../img/tile/arrright.png') no-repeat center;
    width: 7px;
    height: 10px;
    margin-left: 14px;
    vertical-align: 1px;
}












/**simple_benefits**/
.simple_benefits .pict
{
    width: 40px;
    float: left;
    height: 40px;
    background-position: top center;
    background-repeat: no-repeat;
}

.simple_benefits .pict.sale
{
    background: url('../img/simple_benefits/sale.png') no-repeat center top;
    height: 29px;
}

.simple_benefits .pict.men
{
    background: url('../img/simple_benefits/men.png') no-repeat center top;
    height: 24px;
}


.simple_benefits .pict.money
{
    background: url('../img/simple_benefits/money.png') no-repeat center top;
    height: 24px;
}


.simple_benefits .pict.cart
{
    background: url('../img/simple_benefits/cart.png') no-repeat center top;
    height: 24px;
}
/**simple_benefits**/



/**promo_benefits**/
.promo_benefits .pict
{
    width: 102px;
    height: 102px;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #1da9af;
    border-radius: 50%;
}

.promo_benefits .pict.sale
{
    background-image: url('../img/promo_benefits/sale.png');
}

.promo_benefits .pict.men
{
    background-image: url('../img/promo_benefits/men.png');
}


.promo_benefits .pict.money
{
    background-image: url('../img/promo_benefits/money.png');
}


.promo_benefits .pict.cart
{
    background-image: url('../img/promo_benefits/cart.png');
}
/**promo_benefits**/


/**doc**/
.doc_list .doc_pict
{
    width: 24px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
	background-image: url('../img/doc/file.png');
}

.doc_list .doc_pict.pdf
{
    background-image: url('../img/doc/pdf.png');
}

.doc_list .doc_pict.xls
{
    background-image: url('../img/doc/xls.png');
}

.doc_list .doc_pict.doc
{
    background-image: url('../img/doc/doc.png');
}
/**doc**/

/**warning**/
.warning .pict
{
    width: 34px;
    height: 34px;
    background-position: center;
    background-repeat: no-repeat;
}

.warning .pict.circle
{
    background-image: url('../img/warning/circle.png');
}

.warning .pict.triangle
{
    background-image: url('../img/warning/triangle.png');
}

/**warning**/