@media (max-width: 450px) {
    div#bottomAd {
        height: 0;
    }
    .main_wrapper #map-bank.mobile-maps-modal {
        position: fixed;
        top: -75px;
        left: 0;
        right: 0;
        z-index: 101;
    }
    .main_wrapper #modal_form {
        padding: 0;
        width: 100%;
        height: 100%;
        top: 0 !important;
    }
    .main_wrapper #modal_form .modal_fon {
        padding: 0;
        background-color: transparent;
    }
    .main_wrapper #modal_form .mobile-title {
        padding: 2px 0 0;
        margin: 0;
        background: #fff;
        height: 50px;
    }
    .main_wrapper #modal_form .mobile-content {
        padding: 0;
        position: absolute;
        top: 280px;
        left: 0;
        right: 0;
    }
    .main_wrapper #modal_form .modal-content-top {
        padding-top: 35px;
        padding-bottom: 30px;
        margin-bottom: 0;
        background: #fff;
    }
    .main_wrapper #modal_form .info-content {
        height: 310px;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .main_wrapper #modal_form .start-marshrut {
        padding: 20px 0;
        margin: 0;
        background: #fff;
    }
    .main_wrapper #modal_form .background-linck {
        background: #fff;
        padding-top: 16px;
        padding-bottom: 100%;
    }
    .main_wrapper #modal_form .modal-content-bottom {
        background: #fff;
    }
    .main_wrapper #modal_form .modal-title {
        font-size: 100%;
    }
    .main_wrapper #modal_form .adres {
        font-size: 100%;
    }
    .main_wrapper #modal_form .modal_close {
        margin: 0 auto;
        position: absolute;
        top: 3px;
        right: 40px;
    }
    .modal-open #modal_form-contact form {
        padding: 0 30px 0;
    }
    #modal_form-contact.modal_div .modal_fon {
        padding: 30px 0 !important;
    }
    #modal_form-contact.modal_div .complex_input_noicon.use .text {
        top: 0;
        font-size: 9px;
    }
    #modal_form-contact.modal_div .complex_input_noicon .text {
        font-size: 13px;
    }
    #modal_form-contact.modal_div .jq-selectbox .select_title {
        font-size: 10px;
    }
    #modal_form-contact.modal_div .form_application_button_right {
        float: none;
        text-align: center;
        margin: 30px 0 0;
    }
    #modal_form-contact.modal_div .form_application_button .formstyle {
        margin: 5px 10px 5px 0;
        float: left;
    }
    #modal_form-contact.modal_div .form_application_button label label.error {
        margin-top: 50px;
        margin-left: 0;
    }
    #modal_form-contact.modal_div .form_application_title {
        font-size: 25px;
        margin-bottom: 40px;
        margin-top: 40px;
    }
    #modal_form-contact.modal_div .form_application_text {
        padding: 0 25px;
    }
    #modal_form-contact.modal_div .form_application .modal_close {
        position: absolute;
        top: -15px;
        right: 20px;
    }
    .main_wrapper #atm-ofice-filtr .toggle-light .toggle-slide {
        margin-top: 1px;
    }
    .main_wrapper .basic-filter {
        padding-top: 15px;
        height: 180px;
        position: relative;
    }
    .main_wrapper .mobile-offices-cash {
        margin: 25px 0;
    }
    .main_wrapper .block-filtr-list {
        padding: 0;
        margin-bottom: 30px;
        background: #fff;
    }
    .main_wrapper .mobile-text-fixed {
        margin: 30px 0 20px;
    }
    .toggle-light-text span.h-1 {
        font-weight: 600;
        font-size: 160%;
        line-height: 1.2;
    }
    .main_wrapper .wr-toggle-light-text .toggle-light-wr {
        height: 20px;
        background: #1a9599;
    }
    #atm-ofice-filtr .wr_complex_input.complex_input_noicon .text.search {
        top: 12px;
        left: 12px;
        font-size: 12px;
    }
    .main_wrapper .wr_complex_input.complex_input_noicon.focus .text.search {
        top: 0;
        left: 15px;
        font-size: 9px;
    }
    #atm-ofice-filtr .complex_input_noicon .simple_input {
        margin: 0;
        width: 90%;
    }
    #atm-ofice-filtr .complex_input_noicon.use .text.search {
        top: 0;
        font-size: 10px;
    }
    .main_wrapper #atm-ofice-filtr .toggle-light-wr {
        margin: 0px 12px;
    }
    .main_wrapper .complex_input_noicon .complex_input_body .fa {
        color: #1a9599;
    }
    .main_wrapper .text-right {
        text-align: left;
        padding-top: 0 !important;
        position: absolute;
        bottom: -73px;
        z-index: 9;
    }
    .main_wrapper .open-mobile-filtr {
        color: #1a9599;
        font-size: 25px;
        display: block;
    }
    .main_wrapper .text-right .toggle-light-text  {
        color: #1a9599;
        padding: 11px 14px;
        margin-right: -4px;
        width: 50px;
        height: 50px;
        background-color: #fff;
        border: 2px solid #e2e8eb;
    }
    .main_wrapper .text-right .toggle-light-text.on {
        color: #fff;
        background-color: #1a9599;
        border: 2px solid #1a9599;
    }
    .main_wrapper .text-right .toggle-light-text.off {
        color: #1a9599;
        background-color: #fff;
        border: 2px solid #e2e8eb;
    }
    .main_wrapper #list-bank {
        padding-top: 85px;
    }
    .main_wrapper .card-block-list {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .main_wrapper .list-bank-mobile {
        padding-right: 1rem !important;
    }
    #list-bank .list-bank-mobile {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    #list-bank .list-bank-mobile .card-block-list {
        padding: 20px 15px 20px;
    }
    .main_wrapper a.open_modal.hover:hover .card-block-list,
    .main_wrapper a.open_modal.hover:active .card-block-list,
    .main_wrapper a.open_modal.hover:focus .card-block-list {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .main_wrapper a.open_modal.hover .card-block-list {
        margin-bottom: 0;
        border-top: 1px solid #e2e8eb;
        border-radius: 0;
        background-color: #f6f6f6;
    }
    .main_wrapper #list-bank .full-linck {
        padding: 0 1.3rem;
    }
    #modal_form_filtr.modal_div.mobile {
        padding: 0;
    }
    #modal_form_filtr.modal_div.mobile .modal_fon {
        padding: 0;
        background-color: #fff;
        border-radius: 0;
        -moz-border-radius: 0;
        -o-border-radius: 0;
        -webkit-border-radius: 0;
        z-index: 1005;
    }
    #modal_form_filtr.modal_div.mobile .modal-title {
        color: #1a9599;
        float: left;
    }
    #modal_form_filtr.modal_div.mobile .modal_close {
        color: #1a9599;
    }
    #modal_form_filtr.modal_div.mobile .top-modal {
        border-bottom: 1px solid #e2e8eb;
    }
    #modal_form_filtr.modal_div.mobile .content-modal {
        padding: 20px 0;
    }
    #modal_form-contact h3 {
        font-size: 25px;
    }
    .container-menu.glyphicon-menu-down,
    .container-menu.glyphicon-menu-down,
    .container-menu.glyphicon-menu-down {
        color: #333;
        padding: 0 60px 35px;
        margin: 0 auto;
        display: none;
        background: #fff;
        width: 300px;
        position: absolute;
        top: 57px;
        right: 10px;
        z-index: 13;
        -webkit-box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.03);
        -moz-box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.03);
        box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.03);
    }
    .container-menu.glyphicon-menu-down::after {
        content: '';
        position: absolute;
        right: 35px;
        top: -26px;
        border: 20px solid transparent;
        border-bottom: 20px solid #fff;
    }
    .container-menu.glyphicon-menu-down .title-cont {
        color: #899aa3;
        font-size: 12px;
        text-transform: uppercase;
        padding: 30px 0 34px;
    }
    .container-menu.glyphicon-menu-down .content {
        color: #899aa3;
    }
    .container-menu.glyphicon-menu-down .phone {
        font-size: 20px;
    }
    .container-menu.glyphicon-menu-down .icon-linck {
        text-align: center;
        color: #1da9af;
        margin: 30px 14px 0;
        width: 76px;
        height: 50px;
        border: 2px solid #1da9af;
        border-radius: 3px;
    }
    .container-menu.glyphicon-menu-down .icon-linck .fa {
        color: #1da9af;
        font-size: 30px;
        margin: 8px 0;
    }
    .container-menu.glyphicon-menu-down .linck {
        margin: 15px 0 0;
    }
    .container-menu.glyphicon-menu-down .linck a {
        color: rgb(255, 255, 255);
        font-size: 13px;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
        padding: 15px 0 0;
        margin: 0 auto;
        width: 180px;
        height: 50px;
        display: block;
        background-color: #1da9af;
        border-radius: 3px;
        transition: background 0.2s linear, color 0.2s linear;
        -webkit-transition: background 0.2s linear, color 0.2s linear;
        -moz-transition: background 0.2s linear, color 0.2s linear;
        -o-transition: background 0.2s linear, color 0.2s linear;
        -ms-transition: background 0.2s linear, color 0.2s linear;
    }
    .container-menu.glyphicon-menu-down .linck a:hover,
    .container-menu.glyphicon-menu-down .linck a:active,
    .container-menu.glyphicon-menu-down .linck a:focus {
        background: #1a9599;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
    .content_rates_tabs .content_tab li.ui-tabs-active a.ui-tabs-anchor {
        color: #1da9af;
        border-color: #1da9af;
    }
    .modal-open .modal-title {
        font-size: 18px;
        color: #1da9af;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        white-space: nowrap;
        padding: 5px 0;
        position: relative;
        overflow: hidden;
    }
    .modal-open .modal_close {
        color: #1da9af;
    }
    #modal_form-contact .complex_input_noicon .simple_input {
        margin: 0 0px 3px;
        height: 30px;
        font-size: 15px;
    }
    #modal_form-contact.modal_div .complex_input_noicon textarea.simple_input {
        min-height: 90px;
    }
    .modal-open .content_rates_tabs .content_tab li {
        width: 50%;
        float: left;
    }
    .modal-open .content_rates_tabs .content_tab li.ui-tabs-active {
        width: 50%;
        float: left;
    }
    .modal-open .content_rates_tabs .content_tab a.ui-tabs-anchor {
        font-size: 12px;
    }
    .main_wrapper .modal-content #marshrut.modal_close {
        text-align: center;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 14px;
        width: 280px;
        height: 42px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
    }

    /** Модальное окно банкомата и офиса мобилка **/
    #modal_form-atm .modal-dialog .modal-header,
    #modal_form-office .modal-dialog .modal-header {
        padding: 15px 20px;
    }
    #modal_form-atm .mobile-modal-content,
    #modal_form-office .mobile-modal-content  {
        padding: 0 0 30px;
        width: 100%;
        position: absolute;
        top: 350px;
        background: #fff;
        width: 100%;
    }
    #modal_form-atm .modal-dialog,
    #modal_form-office .modal-dialog {
        margin: 0;
    }
    #modal_form-atm .modal-dialog .modal-content,
    #modal_form-office .modal-dialog .modal-content {
        border: 0;
        border-radius: 0;
    }
    #modal_form-atm .modal-dialog .block-line,
    #modal_form-office .modal-dialog .block-line {
        padding: 5px 20px 30px;
    }
    #modal_form-atm .modal-dialog .block-line-bottom,
    #modal_form-office .modal-dialog .block-line-bottom {
        padding: 5px 20px 30px;
    }
    #modal_form-atm .modal-dialog .modal-footer,
    #modal_form-office .modal-dialog .modal-footer {
        padding: 30px 20px;
    }
    #modal_form-atm .modal-dialog .modal-content-top,
    #modal_form-office .modal-dialog .modal-content-top {
        padding: 0 20px;
    }
    #modal_form-atm .modal-dialog .content_tab a.ui-tabs-anchor,
    #modal_form-office .modal-dialog .content_tab a.ui-tabs-anchor {
        font-size: 13px;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        white-space: nowrap;
        position: relative;
        overflow: hidden;
    }
    /* О банке мобильная версия */
    .title_to .full-linck-header .button {
        width: 100%;
    }
    .container.about-page {
        margin-top: 0;
    }
    .about-page .manager.views-mobile.views-1 {
        margin-bottom: 40px;
    }
    .container.about-page .conditions h3 {
        margin-left: 25px;
    }
    .container .views-mobile {
        padding: 0 20px;
    }
    .manager-top {
        margin-top: 50px;
        margin-bottom: 40px;
    }
    .about-page .conditions {
        border: 0;
    }
    .about-page .button.min_height {
        width: 100%;
    }
    .container.about-page .logo-bank {
        margin: 0 25px 20px;
        display: block;
        float: left;
    }
}
@media (min-width: 451px) and (max-width: 992px) {
    .toggle.toggle-light {
        margin-top: 1px;
    }
    .main_wrapper span.h-1 {
        font-size: 25px;
    }
    .main_wrapper .mobile-offices-cash {
        margin-bottom: 20px;
    }
    .main_wrapper .basic-filter {
        padding-top: 15px;
        height: 155px;
        position: relative;
    }
    .main_wrapper .toggle-light-wr {
        height: 20px;
    }
    .main_wrapper .wr_complex_input .complex_input_body {
        margin-right: 0;
        padding: 10px 13px;
        position: relative;
    }
    .main_wrapper .wr_complex_input .complex_input_body .fa {
        color: #1a9599;
        font-size: 20px;
        position: absolute;
        top: 15px;
        right: 15px;
    }
    .main_wrapper .complex_input_noicon .simple_input {
        margin: 3px 0px;
        width: 95%;
    }
    .main_wrapper .wr_complex_input.complex_input_noicon .text.search {
        top: 15px;
        left: 15px;
        font-size: 14px;
    }
    .main_wrapper .wr_complex_input.use.complex_input_noicon .text {
        top: 0;
        font-size: 10px;
    }
    .main_wrapper .text.search {
        top: 15px;
        font-size: 12px;
    }
    .main_wrapper .block-filtr-list {
        padding: 0;
        margin-bottom: 0;
    }
    .main_wrapper .open-mobile-filtr {
        color: #1a9599;
        font-size: 31.5px;
        display: block;
    }
    .main_wrapper .basic-filter .text-right {
        text-align: left;
        padding-top: 0 !important;
        position: absolute;
        bottom: -90px;
        z-index: 9;
    }
    .main_wrapper .text-right .toggle-light-text  {
        color: #1a9599;
        padding: 11px 14px;
        margin-right: -4px;
        width: 50px;
        height: 50px;
        background-color: #fff;
        border: 2px solid #e2e8eb;
    }
    .main_wrapper .text-right .toggle-light-text.on {
        color: #fff;
        background-color: #1a9599;
        border: 2px solid #1a9599;
    }
    .main_wrapper .text-right .toggle-light-text.off {
        color: #1a9599;
        background-color: #fff;
        border: 2px solid #e2e8eb;
    }
    .main_wrapper #list-bank {
        padding-top: 100px;
    }
    .main_wrapper #map-bank.offices {
        margin-top: 20px;
    }
    .main_wrapper .list-bank-mobile {
        padding-right: 15px;
    }
    .main_wrapper .switching-offices-atm {
        padding-top: 30px;
    }
    .main_wrapper #map-bank.offices .mobile-maps-modal {
        margin: 0;
        height: 200px;
        position: absolute;
        top: -150px;
        left: 0;
        right: 0;
        z-index: 12;
    }
    .main_wrapper #modal_form_filtr .modal_fon {
        padding: 0;
        background-color: #fff;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        -webkit-border-radius: 5px;
        z-index: 1005;
    }
    .main_wrapper .top-modal {
        color: #1da9af;
        position: relative;
        -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
    }
    .main_wrapper .top-modal .fa {
        color: #1da9af;
    }
    .main_wrapper .content-modal {
        padding: 40px 0;
        background-color: #f6f6f6;
    }
    .main_wrapper .content-modal .block-filtr-list {
        background-color: transparent;
    }
    .main_wrapper .footer-madal {
        background-color: #f6f6f6;
    }
    .main_wrapper #map-bank.mobile-maps-modal {
        position: fixed;
        top: -90px;
        left: 0;
        right: 0;
        z-index: 101;
    }
    .main_wrapper #modal_form {
        padding: 0;
        width: 100%;
        top: 0 !important;
    }
    .main_wrapper #modal_form .modal_fon {
        padding: 0;
        background-color: transparent;
    }
    .main_wrapper #modal_form .mobile-title {
        padding: 2px 0 0;
        margin: 0;
        background: #fff;
        height: 50px;
    }
    .main_wrapper #modal_form .mobile-content {
        padding: 0;
        position: absolute;
        top: 315px;
        left: 0;
        right: 0;
    }
    .main_wrapper #modal_form .info-content {
        height: 310px;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .main_wrapper #modal_form .modal-content-top {
        padding-top: 35px;
        padding-bottom: 30px;
        margin-bottom: 0;
        background: #fff;
    }
    .main_wrapper #modal_form .modal-content-bottom {
        background: #fff;
    }
    .main_wrapper #modal_form .ui-tabs .ui-tabs-nav {
        padding: 0px 30px;
    }
    .main_wrapper #modal_form .background-linck {
        background: #fff;
        padding-bottom: 100%;
    }
    .main_wrapper #modal_form .start-marshrut {
        margin: 0 30px;
    }
    .main_wrapper #modal_form .start-marshrut .modal_close {
        margin: 0;
    }
    .main_wrapper .modal_fon {
        padding: 30px 0;
        background-color: #fff;
        border-radius: 0;
        -moz-border-radius: 0;
        -o-border-radius: 0;
        -webkit-border-radius: 0;
    }
    #modal_form-contact.modal_div .complex_input_noicon.use .text {
        top: 2px;
        font-size: 9px;
    }
    #modal_form-contact.modal_div .form_application_button {
        float: left;
    }
    #modal_form-contact.modal_div .form_application_button label label.error {
        margin-top: 0;
        margin-left: 43px;
    }
    #modal_form-contact.modal_div .form_application .modal_close {
        position: absolute;
        top: -15px;
        right: 0;
    }
    .main_wrapper .content_rates_tabs .content_tab li {
        width: 50%;
        float: left;
    }
    .main_wrapper .content_rates_tabs .content_tab li.ui-tabs-active {
        width: 50%;
        float: left;
    }
    #modal_form-contact h3 {
        font-size: 35px;
    }
    .container-menu.glyphicon-menu-down,
    .container-menu.glyphicon-menu-down,
    .container-menu.glyphicon-menu-down {
        color: #333;
        padding: 0 20px 30px;
        margin: auto;
        display: none;
        width: 220px;
        background: #fff;
        position: absolute;
        top: 57px;
        right: 0;
        z-index: 13;
        -webkit-box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.03);
        -moz-box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.03);
        box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.03);
    }
    .container-menu.glyphicon-menu-down::after {
        content: '';
        position: absolute;
        right: 35px;
        top: -26px;
        border: 20px solid transparent;
        border-bottom: 20px solid #fff;
    }
    .container-menu.glyphicon-menu-down .title-cont {
        color: #899aa3;
        font-size: 12px;
        text-transform: uppercase;
        padding: 30px 0 34px;
    }
    .container-menu.glyphicon-menu-down .content {
        color: #899aa3;
    }
    .container-menu.glyphicon-menu-down .phone {
        font-size: 20px;
    }
    .container-menu.glyphicon-menu-down .icon-linck {
        text-align: center;
        color: #1da9af;
        margin: 30px 14px 0;
        width: 76px;
        height: 50px;
        border: 2px solid #1da9af;
        border-radius: 3px;
    }
    .container-menu.glyphicon-menu-down .icon-linck .fa {
        color: #1da9af;
        font-size: 30px;
        margin: 8px 0;
    }
    .container-menu.glyphicon-menu-down .linck {
        margin: 15px 0 0;
    }
    .container-menu.glyphicon-menu-down .linck a {
        color: rgb(255, 255, 255);
        font-size: 13px;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
        padding: 15px 0 0;
        margin: 0 auto;
        width: 180px;
        height: 50px;
        display: block;
        background-color: #1da9af;
        border-radius: 3px;
        transition: background 0.2s linear, color 0.2s linear;
        -webkit-transition: background 0.2s linear, color 0.2s linear;
        -moz-transition: background 0.2s linear, color 0.2s linear;
        -o-transition: background 0.2s linear, color 0.2s linear;
        -ms-transition: background 0.2s linear, color 0.2s linear;
    }
    .container-menu.glyphicon-menu-down .linck a:hover,
    .container-menu.glyphicon-menu-down .linck a:active,
    .container-menu.glyphicon-menu-down .linck a:focus {
        background: #1a9599;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }

    /** Модальное окно банкомата и офиса планшет **/
    .main_wrapper #modal_form-atm .modal-dialog,
    .main_wrapper #modal_form-office .modal-dialog {
        min-width: 100%;
        margin: 0;
    }
    #modal_form-atm .modal-dialog .modal-header,
    #modal_form-office .modal-dialog .modal-header {
        padding: 15px 20px;
    }
    #modal_form-atm .mobile-modal-content,
    #modal_form-office .mobile-modal-content  {
        padding: 0 0 100%;
        position: absolute;
        top: 350px;
        background: #fff;
        width: 100%;
    }
    #modal_form-atm .modal-dialog,
    #modal_form-office .modal-dialog {
        margin: 0;
    }
    #modal_form-atm .modal-dialog .modal-content,
    #modal_form-office .modal-dialog .modal-content {
        border: 0;
        border-radius: 0;
    }
    #modal_form-atm .modal-dialog .modal-content-top,
    #modal_form-office .modal-dialog .modal-content-top {
        padding: 0 20px;
    }
    /* О банке планшет */
    .container.about-page {
        margin-top: 0;
    }
    .about-page .conditions h3 {
        margin: 0 0 0;
    }
    .container .views-mobile {
        padding: 0 20px;
    }
    .manager-top {
        margin-top: 50px;
        margin-bottom: 40px;
    }
    .about-page .conditions {
        border: 0;
    }
    .container.about-page .logo-bank {
        margin: 0 48px 0 0;
    }
    .about-page .button.min_height {
        /* тест */
    }
}
@media (min-width: 993px) and (max-width: 1199px) {
    #modal_form-contact .modal-content {
        background-color: transparent;
        border: 0;
    }
    #modal_form-contact .modal-content .modal_fon {
        width: 700px;
        margin: 0 auto;
    }
    #modal_form-contact h3 {
        font-size: 35px;
    }
}
@media (min-width: 1199px) {
    #modal_form-contact .modal-content {
        background-color: transparent;
        border: 0;
    }
    #modal_form-contact .modal-content .modal_fon {
        width: 700px;
        margin: 0 auto;
    }
    #modal_form-contact h3 {
        font-size: 35px;
    }
    #modal_form {
        z-index: 14;
    }
}