.private-banking .main_slider .text
{
    color: rgba(255, 255, 255, 0.702);
}


.private-banking .button
{
    border-color: #c49e80;
    background: #c49e80;
}

.private-banking .button:hover
{
    background: #a27c61;
    border-color: #a27c61;
}

.private-banking .header>.all_products:hover,
.private-banking .header>.net_bank:hover
{
    border-color: #a27c61;
}

.private-banking .header .all_products:hover,
.private-banking .header .net_bank:hover
{
    color: #a27c61;
}

.private-banking .header .top_menu a.selected,
.private-banking .header .top_menu a.select,
.private-banking .header .top_menu a:hover,
.private-banking .header .all_products.select,
.private-banking .header .net_bank.select
{
    border-color: #a27c61;
    color: #a27c61;
}

.private-banking .wr_main_cards .b_text,
.private-banking .wr_main_cards .title
{
    color: #a27c61;
}

.private-banking .wr_main_cards .left
{
    color: #3f3f3f;
}

.private-banking .wr_services .services_right_block:hover
{
    background: #3f3f3f;
}

.wr_main_cards .main_cards_item:hover .title
{
    color: rgb(27, 29, 31);
}


.private-banking .wr_top_line {
    background: #3f3f3f;
}

.private-banking .wr_top_line .ul_top_line a
{
    color: rgb(131, 96, 68);
}

.private-banking .wr_top_line .ul_top_line a.select
{
    color: rgb(255, 255, 255);
}

.private-banking .wr_top_line .ul_top_line a:hover
{
    color: rgba(255, 255, 255, 0.4);
}

.private-banking .header .logo {
    background: url('../img/top/_logo.png') no-repeat center;
}

.private-banking .sky {
    top: 386px;
    overflow: visible;
}

.private-banking .footer {
    background: #3f3f3f;
}


.private-banking .footer a{
    color: #c49e80;
}

.private-banking .footer a:hover
{
    color: #a27c61;
}


.private-banking .button.footer
{
    border-color: #c49e80;
    color: #fff;
}

.private-banking .button.footer:hover
{
    background: #a27c61;
    border-color: #a27c61;
    color: #fff;
}

.private-banking .footer .block_menu li a:hover
{
    color: #a27c61;
}


.private-banking .ico.all_products {
    background-image: url('../img/top/__menu.png');
}
.private-banking .ico.close {
    background-image: url('../img/top/__lock.png');
}
.private-banking .wr_top_line .ul_top_line .button_select_top_menu>a:after {
    background-image: url('../img/_menubottom.png');
}



.private-banking .path_svg_a
{
    stroke:#c49e80;
}

.private-banking .slick-dots li.slick-active
{
    background: #c49e80;
}
