body {
    /*overflow-x: hidden;*/
    position: relative;
}
*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input[type='submit'] {
    -webkit-appearance: none;
    -moz-appearance: none;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
    display: table;
    content: " ";
}
.container:after,
.container-fluid:after,
.row:after {
    clear: both;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
.col-xs-12 {
    width: 100%;
}
.col-xs-11 {
    width: 91.66666667%;
}
.col-xs-10 {
    width: 83.33333333%;
}
.col-xs-9 {
    width: 75%;
}
.col-xs-8 {
    width: 66.66666667%;
}
.col-xs-7 {
    width: 58.33333333%;
}
.col-xs-6 {
    width: 50%;
}
.col-xs-5 {
    width: 41.66666667%;
}
.col-xs-4 {
    width: 33.33333333%;
}
.col-xs-3 {
    width: 25%;
}
.col-xs-2 {
    width: 16.66666667%;
}
.col-xs-1 {
    width: 8.33333333%;
}
.col-xs-offset-12 {
    margin-left: 100%;
}
.col-xs-offset-11 {
    margin-left: 91.66666667%;
}
.col-xs-offset-10 {
    margin-left: 83.33333333%;
}
.col-xs-offset-9 {
    margin-left: 75%;
}
.col-xs-offset-8 {
    margin-left: 66.66666667%;
}
.col-xs-offset-7 {
    margin-left: 58.33333333%;
}
.col-xs-offset-6 {
    margin-left: 50%;
}
.col-xs-offset-5 {
    margin-left: 41.66666667%;
}
.col-xs-offset-4 {
    margin-left: 33.33333333%;
}
.col-xs-offset-3 {
    margin-left: 25%;
}
.col-xs-offset-2 {
    margin-left: 16.66666667%;
}
.col-xs-offset-1 {
    margin-left: 8.33333333%;
}
.col-xs-offset-0 {
    margin-left: 0;
}
.col-left {
    position: absolute;
    top: 0;
    left: 0;
}
.col-right {
    position: absolute;
    top: 0;
    right: 0;
}
.pull-0 {
    right: auto;
}

.pull-1 {
    right: 8.333333%;
}

.pull-2 {
    right: 16.666667%;
}

.pull-3 {
    right: 25%;
}

.pull-4 {
    right: 33.333333%;
}

.pull-5 {
    right: 41.666667%;
}

.pull-6 {
    right: 50%;
}

.pull-7 {
    right: 58.333333%;
}

.pull-8 {
    right: 66.666667%;
}

.pull-9 {
    right: 75%;
}

.pull-10 {
    right: 83.333333%;
}

.pull-11 {
    right: 91.666667%;
}

.pull-12 {
    right: 100%;
}

.push-0 {
    left: auto;
}

.push-1 {
    left: 8.333333%;
}

.push-2 {
    left: 16.666667%;
}

.push-3 {
    left: 25%;
}

.push-4 {
    left: 33.333333%;
}

.push-5 {
    left: 41.666667%;
}

.push-6 {
    left: 50%;
}

.push-7 {
    left: 58.333333%;
}

.push-8 {
    left: 66.666667%;
}

.push-9 {
    left: 75%;
}

.push-10 {
    left: 83.333333%;
}

.push-11 {
    left: 91.666667%;
}

.push-12 {
    left: 100%;
}

.offset-1 {
    margin-left: 8.333333%;
}

.offset-2 {
    margin-left: 16.666667%;
}

.offset-3 {
    margin-left: 25%;
}

.offset-4 {
    margin-left: 33.333333%;
}

.offset-5 {
    margin-left: 41.666667%;
}

.offset-6 {
    margin-left: 50%;
}

.offset-7 {
    margin-left: 58.333333%;
}

.offset-8 {
    margin-left: 66.666667%;
}

.offset-9 {
    margin-left: 75%;
}

.offset-10 {
    margin-left: 83.333333%;
}

.offset-11 {
    margin-left: 91.666667%;
}
.m-0 {
    margin: 0 0 !important;
}
.mt-0 {
    margin-top: 0 !important;
}
.mr-0 {
    margin-right: 0 !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.ml-0 {
    margin-left: 0 !important;
}
.mx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.m-1 {
    margin: 0.25rem 0.25rem !important;
}
.mt-1 {
    margin-top: 0.25rem !important;
}
.mr-1 {
    margin-right: 0.25rem !important;
}
.mb-1 {
    margin-bottom: 0.25rem !important;
}
.ml-1 {
    margin-left: 0.25rem !important;
}
.mx-1 {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
}
.my-1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
}
.m-2 {
    margin: 0.5rem 0.5rem !important;
}
.mt-2 {
    margin-top: 0.5rem !important;
}
.mr-2 {
    margin-right: 0.5rem !important;
}
.mb-2 {
    margin-bottom: 0.5rem !important;
}
.ml-2 {
    margin-left: 0.5rem !important;
}
.mx-2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
}
.my-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}
.m-3 {
    margin: 1rem 1rem !important;
}
.mt-3 {
    margin-top: 1rem !important;
}
.mr-3 {
    margin-right: 1rem !important;
}
.mb-3 {
    margin-bottom: 1rem !important;
}
.ml-3 {
    margin-left: 1rem !important;
}
.mx-3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}
.my-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
.m-4 {
    margin: 1.5rem 1.5rem !important;
}
.mt-4 {
    margin-top: 1.5rem !important;
}
.mr-4 {
    margin-right: 1.5rem !important;
}
.mb-4 {
    margin-bottom: 1.5rem !important;
}
.ml-4 {
    margin-left: 1.5rem !important;
}
.mx-4 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
}
.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}
.m-5 {
    margin: 3rem 3rem !important;
}
.mt-5 {
    margin-top: 3rem !important;
}
.mt-6 {
    margin-top: 5rem !important;
}
.mr-5 {
    margin-right: 3rem !important;
}
.mb-5 {
    margin-bottom: 3rem !important;
}
.ml-5 {
    margin-left: 3rem !important;
}
.mx-5 {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
}
.my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}
.p-0 {
    padding: 0 0 !important;
}
.pt-0 {
    padding-top: 0 !important;
}
.pr-0 {
    padding-right: 0 !important;
}
.pb-0 {
    padding-bottom: 0 !important;
}
.pl-0 {
    padding-left: 0 !important;
}
.px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.p-1 {
    padding: 0.25rem 0.25rem !important;
}
.pt-1 {
    padding-top: 0.25rem !important;
}
.pr-1 {
    padding-right: 0.25rem !important;
}
.pb-1 {
    padding-bottom: 0.25rem !important;
}
.pl-1 {
    padding-left: 0.25rem !important;
}
.px-1 {
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
}
.py-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}
.p-2 {
    padding: 0.5rem 0.5rem !important;
}
.pt-2 {
    padding-top: 0.5rem !important;
}
.pr-2 {
    padding-right: 0.5rem !important;
}
.pb-2 {
    padding-bottom: 0.5rem !important;
}
.pl-2 {
    padding-left: 0.5rem !important;
}
.px-2 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
}
.py-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}
.p-3 {
    padding: 1rem 1rem !important;
}
.pt-3 {
    padding-top: 1rem !important;
}
.pr-3 {
    padding-right: 1rem !important;
}
.pb-3 {
    padding-bottom: 1rem !important;
}
.pl-3 {
    padding-left: 1rem !important;
}
.px-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}
.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
.p-4 {
    padding: 1.5rem 1.5rem !important;
}
.pt-4 {
    padding-top: 1.5rem !important;
}
.pr-4 {
    padding-right: 1.5rem !important;
}
.pb-4 {
    padding-bottom: 1.5rem !important;
}
.pl-4 {
    padding-left: 1.5rem !important;
}
.px-4 {
    padding-right: 30px !important;
    padding-left: 30px !important;
}
.py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}
.p-5 {
    padding: 3rem 3rem !important;
}
.pt-5 {
    padding-top: 3rem !important;
}
.pr-5 {
    padding-right: 3rem !important;
}
.pb-5 {
    padding-bottom: 3rem !important;
}
.pl-5 {
    padding-left: 3rem !important;
}
.px-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
}
.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}
.p-6 {
    padding: 6rem 6rem !important;
}
.pt-6 {
    padding-top: 6rem !important;
}
.pr-6 {
    padding-right: 5rem !important;
}
.px-7 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
}
.invisible {
    visibility: hidden !important;
}
.hidden-xs-up {
    display: none !important;
}
.hidden-xl-down {
    display: none !important;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
    display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
    display: none !important;
}
.text-right {
    text-align: right;
}
.text-right .toggle-light-wr {
    display: none;
}
.text-fixed {
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
}
.block-card {
    padding: 40px;
    margin-bottom: 40px;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    background: #fff;
}
.block-card ul li {
    display: block;
    padding-left: 35px;
    position: relative;
    margin-bottom: 20px;
}
.block-card ul li:before {
    position: absolute;
    top: 0px;
    left: 0px;
    color: #1da9af;
    font-weight: 600;
    font-size: 23px;
    line-height: 25px;
}
.block-card ol li ul li:before {
    position: absolute;
    top: 12.5px;
    left: 2px;
    font-weight: 600;
    font-size: 23px;
    line-height: 25px;
    width: 17px;
    height: 3px;
    background: #1da9af;
}
input.user-neme {
    text-transform: capitalize;
}
#map-bank .wr_complex_input.complex_input_noicon .text,
#list-bank .wr_complex_input.complex_input_noicon .text {
    top: 21px;
    font-size: 12px;
}
#map-bank .wr_complex_input.complex_input_noicon.focus .text,
#list-bank .wr_complex_input.complex_input_noicon.focus .text {
    top: 5px;
    font-size: 10px;
}
#map-bank .wr_complex_input.complex_input_noicon.use .text,
#list-bank .wr_complex_input.complex_input_noicon.use .text {
    top: 5px;
    font-size: 10px;
}
.wr_complex_input.complex_input_noicon .text.search .fa {
    color: #1ab3a5;
    font-size: 16px;
    margin-left: 10px;
}
span.h-1 {
    font-weight: 600;
    font-size: 41px;
    line-height: 1.2;
}
ul.line li {
    padding: 0 0 0 15px;
    display: inline-block;
}
ul.line li:before {
    display: none;
}
ul.line li a {
    cursor: pointer;
    color: #1b1d1f;
}
ul.line li a:hover,
ul.line li a:active,
ul.line li a:focus {
    color: #899aa3;
}
ol {
    padding-left: 20px;
    margin-bottom: 0px;
}
ol li {
    padding-left: 15px;
    position: relative;
    margin-bottom: 5px;
}
ol li:before {
    content: "";
}
ol li ul.big_list li:before {
    position: absolute;
    top: 12.5px;
    left: 2px;
    font-weight: 600;
    font-size: 23px;
    line-height: 25px;
    width: 17px;
    height: 3px;
    background: #1da9af;
}
nav.page.navigation {
    text-align: center;
}
.about-page table.tb td {
    font-size: 15px;
}
span.issue-bonds {
    text-align: center;
}
span.issue-bonds thead th {
    font-size: 15px;
    padding: 0 0 15px;
}
.placeholder {
    float: left;
    padding-top: 20px;
    margin-right: 25px;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
}
span.placeholder-icon {
    margin: 5px 10px 0 20px;
    width: 15px;
    height: 20px;
    background-image: url(/demo/css-bk/../images/placeholder.png);
    background-repeat: no-repeat;
    background-size: 15px auto;
    -moz-background-size: 15px auto;
    -o-background-size: 15px auto;
    -webkit-background-size: 15px auto;
    display: block;
    float: left;
}
span.placeholder-empty-icon {
    margin: 5px 10px 0 0;
    width: 15px;
    height: 20px;
    background-image: url(/demo/css-bk/../images/placeholder-empty.png);
    background-repeat: no-repeat;
    background-size: 15px auto;
    -moz-background-size: 15px auto;
    -o-background-size: 15px auto;
    -webkit-background-size: 15px auto;
    display: inline-block;
    display: block;
    float: left;
}
.placeholder .text {
    font-size: 13px;
    color: #899aa3;
}
textarea {
    width: 100%;
    height: 145px;
    resize: none;
    border: 0 solid;
}
#atm-ofice .wr_complex_input.complex_input_noicon #search-adres.complex_input_body input,
#atm-ofice .wr_complex_input.complex_input_noicon #search-adres.complex_input_body input {
    margin: 0;
}
#filtr-atm-ofice-all .wr_complex_input.complex_input_noicon .complex_input_body .fa {
    color: #1da9af;
    position: absolute;
    top: 12px;
    right: -13px;
}
#modal_form-contact #form_text_10-error,
#modal_form-contact #form_text_11-error,
#modal_form-contact #form_text_12-error,
#modal_form-contact #text-error,
#modal_form-contact #form_textarea_13-error {
    margin-top: -30px;
}
#modal_form-contact .complex_input_noicon.use .text {
    top: 8px;
    font-size: 11px;
}
#modal_form-contact .complex_input_noicon .text {
    top: 16px;
    font-size: 15px;
}
#modal_form-contact .first_step,
#modal_form-contact .to_step.win {
    display: block;
}
#modal_form-contact .first_step.win,
#modal_form-contact .to_step {
    display: none;
}
#modal_form-contact .to_step .wr_form_application .form_application {
    padding: 50px 0 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
#modal_form #modal_close {
    cursor: pointer;
    width: 21px;
    height: 21px;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
}
#overlay {
    cursor:pointer;
    width:100%;
    height:100%;
    display:none;
    opacity:0.4;
    -moz-opacity:0.4;
    filter:alpha(opacity=40);
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
.modal-open-top {
    overflow: hidden;
}
.modal-open-top.win {
    padding-right: 17px;
}
.modal-open .modal_div {
    overflow-x: hidden;
    overflow-y: scroll;
}
.modal_div {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}
.modal_fon {
    padding: 30px 0;
    background-color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    z-index: 1005;
}
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
.modal-header {
    padding: 15px;
}

.map-modal
{
    position: absolute;
    height: 285px;
    top: 65px;
    left: 0px;
    right: 0px;
}

.map-modal ymaps
{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.modal-header .close {
    margin-top: -2px;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
}
.modal-body {
    position: relative;
    padding: 15px;
}
.modal-content h5 {
    color: #93a2aa;
    font-weight: 400;
    text-transform: uppercase;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.modal_close {
    font-size: 20px;
    color: #bcc7cc;
    padding: 0 10px;
    float: right;
    cursor: pointer;
    display: block;
    z-index: 9;
    position: relative;
}
.modal_close:hover,
.modal_close:active,
.modal_close:focus {
    color: #1da9af;
}
#modal_form h5 {
    color: #899aa3;
    font-size: 11px;
    text-transform: uppercase;
}
.modal-title {
    font-size: 25px;
}
a.open_modal.hover .card-block-list {
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
a.open_modal.hover:hover .card-block-list,
a.open_modal.hover:active .card-block-list,
a.open_modal.hover:focus .card-block-list {
    -webkit-box-shadow: 0px 3px 8px 0px rgb(29, 169, 175);
    -moz-box-shadow: 0px 3px 8px 0px rgb(29, 169, 175);
    box-shadow: 0px 3px 8px 0px rgb(29, 169, 175);
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
#modal_form .content_body {
    background-color: #f9f9f9;
}
#modal_form .c-container,
#modal_form .ui-tabs .c-container {
    width: 100%;
}
#modal_form .content_rates_tabs {
    border-bottom: 0;
}
.modal-content .c-container,
.modal-content .ui-tabs .c-container {
    width: 100%;
}
.modal-content #marshrut.modal_close {
    float: left;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 10px 40px;
    background-color: #1da9af;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
}
.modal-content a#marshrut.modal_close:hover,
.modal-content a#marshrut.modal_close:active,
.modal-content a#marshrut.modal_close:focus {
    border-color: #1a9599;
    text-decoration: none;
}
#modal_form .content_rates_tabs .content_tab,
#modal_form .content_rates_tabs .block-line {
    border-bottom: 1px solid #e4e7eb;
}
#modal_form .content_rates_tabs .block-line-bottom {
    border-radius-bottom: 5px;
}
#modal_form-contact h3 {
    font-weight: 600;
    text-align: center;
    margin: 0 0 50px;
}
#modal_form-contact .formstyle {
    margin-bottom: 20px;
}
#modal_form-contact .wr_complex_input {
    margin-bottom: 30px;
}
#modal_form-contact .wr_complex_input .content {
    height: 170px;
}
#modal_form-contact .form_application_button_left {
    margin-top: 15px;
}
#modal_form-contact .form_application_button {
    margin-top: 15px;
}
#modal_form-contact .form_application_button label label.error {
    margin-top: 0;
    margin-left: 44px;
}
#modal_form-contact .form_application_button .formstyle {
    margin-bottom: 0;
}
#modal_form-contact textarea {
    margin: 10px 0 0 0;
    height: 145px;
}
#modal_form-contact form {
    padding: 0 30px 0;
}
#modal_form-contact .form_application_button_right {
    float: right;
}
#modal_form-contact .form_application .modal_close {
    position: absolute;
    top: -15px;
    right: -5px;
}
.mobile-modal-content {
    padding: 217px 0 30px 0;
}
.start-marshrut {
    margin: 15px 0 30px;
}
.start-marshrut .modal_close {
    float: none;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 15px;
    margin: 0 30px 0;
    width: 280px;
    display: block;
    background-color: rgb(29, 169, 175);
}
li.menu_contact .container-menu {
    display: none;
}
li.menu_contact:hover .container-menu,
li.menu_contact:active .container-menu,
li.menu_contact:focus .container-menu {
    color: #333;
    display: block;
    margin: auto;
    position: absolute;
    top: 47px;
    left: 0;
    right: 0;
    max-width: 1280px;
    width: 100%;
    z-index: 101;
}
li.menu_contact .cd-dropdown {
    padding: 0 20px;
    background: #fff;
    width: 220px;
    height: 340px;
    position: absolute;
    right: 0;
    -webkit-box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.03);
}
li.menu_contact .cd-dropdown::after {
    content: '';
    position: absolute;
    left: 90px;
    top: -26px;
    border: 20px solid transparent;
    border-bottom: 20px solid #fff;
}
li.menu_contact .cd-dropdown .title-cont {
    color: #899aa3;
    font-size: 12px;
    text-transform: uppercase;
    padding: 30px 0 20px;
}
li.menu_contact .cd-dropdown .content {
    color: #899aa3;
}
li.menu_contact .cd-dropdown .phone {
    font-size: 20px;
}
li.menu_contact .cd-dropdown .icon-linck {
    text-align: center;
    color: #1da9af;
    margin: 30px 14px 0;
    width: 76px;
    height: 50px;
    border: 2px solid #1da9af;
    border-radius: 3px;
}
li.menu_contact .cd-dropdown .icon-linck .fa {
    color: #1da9af;
    font-size: 30px;
    margin: 8px 0;
}
li.menu_contact .cd-dropdown .icon-linck .fa-skype:before {
    content: "";
    background: url("/local/templates/bz/css/../img/skype.png") no-repeat;
    width: 34px;
    height: 33px;
    display: block;
}
li.menu_contact .cd-dropdown .icon-linck .fa-weixin:before {
    content: "";
    background: url("/local/templates/bz/css/../img/chat.png") no-repeat 0 3px;
    width: 36px;
    height: 30px;
    display: block;
}
li.menu_contact .cd-dropdown .linck {
    margin: 15px 0 0;
}
li.menu_contact .cd-dropdown .linck a {
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    padding: 3px 0 0;
    margin: 0 auto;
    width: 180px;
    height: 50px;
    display: block;
    background-color: #1da9af;
    border-radius: 3px;
    transition: background 0.2s linear, color 0.2s linear;
    -webkit-transition: background 0.2s linear, color 0.2s linear;
    -moz-transition: background 0.2s linear, color 0.2s linear;
    -o-transition: background 0.2s linear, color 0.2s linear;
    -ms-transition: background 0.2s linear, color 0.2s linear;
}
li.menu_contact .cd-dropdown .linck a:hover,
li.menu_contact .cd-dropdown .linck a:active,
li.menu_contact .cd-dropdown .linck a:focus {
    background: #1a9599;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#filtr-bank .jq-selectbox {
    z-index: 9!important;
}
#form-list-ofis .jq-selectbox {
    z-index: 8!important;
}

#filtr-bank .jq-selectbox.opened,
#form-list-ofis .jq-selectbox.opened
{
    z-index: 100!important;
}

/* responsive tables */
.responsive-stacked-table {
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
    /*table-layout: fixed;*/
}
.responsive-stacked-table th,
.responsive-stacked-table td {
    padding: 10px;
    border-top: 1px solid #ddd;
}
.responsive-stacked-table thead {
    /*background: #eee;*/
    /*border-bottom: 3px solid #ddd;*/
}
.responsive-stacked-table tr:nth-child(even) {
    background: #f5f5f5;
}
.responsive-stacked-table .fa {
    margin-right: 5px;
}
.responsive-stacked-table .fa-check-circle {
    color: #690;
}
.responsive-stacked-table .fa-times-circle {
    color: #c00;
}

.responsive-stacked-table.with-mobile-labels {
    font-size: .85em;
}

@media (max-width: 767px) {
    .responsive-stacked-table thead {
        display: none;
    }
    .responsive-stacked-table tr,
    .responsive-stacked-table th,
    .responsive-stacked-table td {
        display: block;
    }
    .responsive-stacked-table td {
        border-top: none;
    }
    .responsive-stacked-table tr td:first-child {
        border-top: 1px solid #ddd;
        font-weight: bold;
    }
    .responsive-stacked-table.with-mobile-labels tr td:first-child {
        font-weight: 300;
    }
    .responsive-stacked-table.with-mobile-labels td:before {
        display: block;
        font-weight: bold;
    }
}