.toggle-light-text.on
{
    color: rgb(27, 29, 31);
}

.toggle-light-text.off
{
    color: rgb(138, 138, 139);
}

.toggle-light-text
{
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.title_header_block .toggle-light-text
{
    letter-spacing: -2px;
}