/* font-family: "LatoRegular"; */
@font-face {
    font-family: "Lato";
    src: url("LatoRegular/LatoRegular.eot");
    src: url("LatoRegular/LatoRegular.eot?#iefix")format("embedded-opentype"),
    url("LatoRegular/LatoRegular.woff") format("woff"),
    url("LatoRegular/LatoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
/* font-family: "LatoBold"; */
@font-face {
    font-family: "Lato";
    src: url("LatoBold/LatoBold.eot");
    src: url("LatoBold/LatoBold.eot?#iefix")format("embedded-opentype"),
    url("LatoBold/LatoBold.woff") format("woff"),
    url("LatoBold/LatoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
/* font-family: "LatoItalic"; */
@font-face {
    font-family: "Lato";
    src: url("LatoItalic/LatoItalic.eot");
    src: url("LatoItalic/LatoItalic.eot?#iefix")format("embedded-opentype"),
    url("LatoItalic/LatoItalic.woff") format("woff"),
    url("LatoItalic/LatoItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 400;
}
/* font-family: "LatoLight"; */
@font-face {
    font-family: "Lato";
    src: url("LatoLight/LatoLight.eot");
    src: url("LatoLight/LatoLight.eot?#iefix")format("embedded-opentype"),
    url("LatoLight/LatoLight.woff") format("woff"),
    url("LatoLight/LatoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}
/* font-family: "LatoBoldItalic"; */
@font-face {
    font-family: "Lato";
    src: url("LatoBoldItalic/LatoBoldItalic.eot");
    src: url("LatoBoldItalic/LatoBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("LatoBoldItalic/LatoBoldItalic.woff") format("woff"),
    url("LatoBoldItalic/LatoBoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 700;
}
/* font-family: "LatoLightItalic"; */
@font-face {
    font-family: "Lato";
    src: url("LatoLightItalic/LatoLightItalic.eot");
    src: url("LatoLightItalic/LatoLightItalic.eot?#iefix")format("embedded-opentype"),
    url("LatoLightItalic/LatoLightItalic.woff") format("woff"),
    url("LatoLightItalic/LatoLightItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 300;
}
