.ya-share2__title {
	display: none;
}
.ya-share2__item_service_facebook{
	background: url(/local/templates/bz/css/../img/footer/_f.png) no-repeat top center;
}
.ya-share2__item_service_twitter{
	background: url(/local/templates/bz/css/../img/footer/_tw.png) no-repeat top center;
}
.ya-share2__item_service_vkontakte{
	background: url(/local/templates/bz/css/../img/footer/_vk.png) no-repeat top center;
}
.wr_block_type ul ul {
	margin-left: 0px!important;
	margin-top: 0px!important;
}