
/**ProximaNova**/

@font-face {
    font-family: "ProximaNova";
    src: url("ProximaNovaT-Thin.eot");
    src: url("ProximaNovaT-Thin.eot?#iefix")format("embedded-opentype"),
    url("ProximaNovaT-Thin.woff") format("woff"),
    url("ProximaNovaT-Thin.ttf") format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "ProximaNova";
    src: url("ProximaNova-ThinIt.eot");
    src: url("ProximaNova-ThinIt.eot?#iefix")format("embedded-opentype"),
    url("ProximaNova-ThinIt.woff") format("woff"),
    url("ProximaNova-ThinIt.ttf") format("truetype");
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: "ProximaNova";
    src: url("ProximaNova-Light.eot");
    src: url("ProximaNova-Light.eot?#iefix")format("embedded-opentype"),
    url("ProximaNova-Light.woff") format("woff"),
    url("ProximaNova-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "ProximaNova";
    src: url("ProximaNova-LightIt.eot");
    src: url("ProximaNova-LightIt.eot?#iefix")format("embedded-opentype"),
    url("ProximaNova-LightIt.woff") format("woff"),
    url("ProximaNova-LightIt.ttf") format("truetype");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "ProximaNova";
    src: url("ProximaNova-Regular.eot");
    src: url("ProximaNova-Regular.eot?#iefix")format("embedded-opentype"),
    url("ProximaNova-Regular.woff") format("woff"),
    url("ProximaNova-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "ProximaNova";
    src: url("ProximaNova-RegularIt.eot");
    src: url("ProximaNova-RegularIt.eot?#iefix")format("embedded-opentype"),
    url("ProximaNova-RegularIt.woff") format("woff"),
    url("ProximaNova-RegularIt.ttf") format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "ProximaNova";
    src: url("ProximaNova-Semibold.eot");
    src: url("ProximaNova-Semibold.eot?#iefix")format("embedded-opentype"),
    url("ProximaNova-Semibold.woff") format("woff"),
    url("ProximaNova-Semibold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "ProximaNova";
    src: url("ProximaNova-SemiboldIt.eot");
    src: url("ProximaNova-SemiboldIt.eot?#iefix")format("embedded-opentype"),
    url("ProximaNova-SemiboldIt.woff") format("woff"),
    url("ProximaNova-SemiboldIt.ttf") format("truetype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "ProximaNova";
    src: url("ProximaNova-Bold.eot");
    src: url("ProximaNova-Bold.eot?#iefix")format("embedded-opentype"),
    url("ProximaNova-Bold.woff") format("woff"),
    url("ProximaNova-Bold.ttf") format("truetype");
    font-style:normal;
    font-weight:700;
}

@font-face {
    font-family: "ProximaNova";
    src: url("ProximaNova-BoldIt.eot");
    src: url("ProximaNova-BoldIt.eot?#iefix")format("embedded-opentype"),
    url("ProximaNova-BoldIt.woff") format("woff"),
    url("ProximaNova-BoldIt.ttf") format("truetype");
    font-style:italic;
    font-weight:700;
}

@font-face {
    font-family: "ProximaNova";
    src: url("ProximaNova-Black.eot");
    src: url("ProximaNova-Black.eot?#iefix")format("embedded-opentype"),
    url("ProximaNova-Black.woff") format("woff"),
    url("ProximaNova-Black.ttf") format("truetype");
    font-style: normal;
    font-weight:800;
}

@font-face {
    font-family: "ProximaNova";
    src: url("ProximaNova-BoldIt.eot");
    src: url("ProximaNova-BoldIt.eot?#iefix")format("embedded-opentype"),
    url("ProximaNova-BoldIt.woff") format("woff"),
    url("ProximaNova-BoldIt.ttf") format("truetype");
    font-style: italic;
    font-weight:800;
}

@font-face {
    font-family: "ProximaNova";
    src: url("ProximaNova-Extrabld.eot");
    src: url("ProximaNova-Extrabld.eot?#iefix")format("embedded-opentype"),
    url("ProximaNova-Extrabld.woff") format("woff"),
    url("ProximaNova-Extrabld.ttf") format("truetype");
    font-style: normal;
    font-weight:900;
}

@font-face {
    font-family: "ProximaNova";
    src: url("ProximaNova-ExtrabldIt.eot");
    src: url("ProximaNova-ExtrabldIt.eot?#iefix")format("embedded-opentype"),
    url("ProximaNova-ExtrabldIt.woff") format("woff"),
    url("ProximaNova-ExtrabldIt.ttf") format("truetype");
    font-style: italic;
    font-weight:900;
}

/**ProximaNovaCond**/

@font-face {
    font-family: "ProximaNovaCond";
    src: url("ProximaNovaCond-Thin.eot");
    src: url("ProximaNovaCond-Thin.eot?#iefix")format("embedded-opentype"),
    url("ProximaNovaCond-Thin.woff") format("woff"),
    url("ProximaNovaCond-Thin.ttf") format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "ProximaNovaCond";
    src: url("ProximaNovaCond-ThinIt.eot");
    src: url("ProximaNovaCond-ThinIt.eot?#iefix")format("embedded-opentype"),
    url("ProximaNovaCond-ThinIt.woff") format("woff"),
    url("ProximaNovaCond-ThinIt.ttf") format("truetype");
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: "ProximaNovaCond";
    src: url("ProximaNovaCond-Light.eot");
    src: url("ProximaNovaCond-Light.eot?#iefix")format("embedded-opentype"),
    url("ProximaNovaCond-Light.woff") format("woff"),
    url("ProximaNovaCond-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "ProximaNovaCond";
    src: url("ProximaNovaCond-LightIt.eot");
    src: url("ProximaNovaCond-LightIt.eot?#iefix")format("embedded-opentype"),
    url("ProximaNovaCond-LightIt.woff") format("woff"),
    url("ProximaNovaCond-LightIt.ttf") format("truetype");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "ProximaNovaCond";
    src: url("ProximaNovaCond-Regular.eot");
    src: url("ProximaNovaCond-Regular.eot?#iefix")format("embedded-opentype"),
    url("ProximaNovaCond-Regular.woff") format("woff"),
    url("ProximaNovaCond-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "ProximaNovaCond";
    src: url("ProximaNovaCond-RegularIt.eot");
    src: url("ProximaNovaCond-RegularIt.eot?#iefix")format("embedded-opentype"),
    url("ProximaNovaCond-RegularIt.woff") format("woff"),
    url("ProximaNovaCond-RegularIt.ttf") format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "ProximaNovaCond";
    src: url("ProximaNovaCond-Semibold.eot");
    src: url("ProximaNovaCond-Semibold.eot?#iefix")format("embedded-opentype"),
    url("ProximaNovaCond-Semibold.woff") format("woff"),
    url("ProximaNovaCond-Semibold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "ProximaNovaCond";
    src: url("ProximaNovaCond-SemiboldIt.eot");
    src: url("ProximaNovaCond-SemiboldIt.eot?#iefix")format("embedded-opentype"),
    url("ProximaNovaCond-SemiboldIt.woff") format("woff"),
    url("ProximaNovaCond-SemiboldIt.ttf") format("truetype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "ProximaNovaCond";
    src: url("ProximaNovaCond-Bold.eot");
    src: url("ProximaNovaCond-Bold.eot?#iefix")format("embedded-opentype"),
    url("ProximaNovaCond-Bold.woff") format("woff"),
    url("ProximaNovaCond-Bold.ttf") format("truetype");
    font-style:normal;
    font-weight:700;
}

@font-face {
    font-family: "ProximaNovaCond";
    src: url("ProximaNovaCond-BoldIt.eot");
    src: url("ProximaNovaCond-BoldIt.eot?#iefix")format("embedded-opentype"),
    url("ProximaNovaCond-BoldIt.woff") format("woff"),
    url("ProximaNovaCond-BoldIt.ttf") format("truetype");
    font-style:italic;
    font-weight:700;
}

@font-face {
    font-family: "ProximaNovaCond";
    src: url("ProximaNovaCond-Black.eot");
    src: url("ProximaNovaCond-Black.eot?#iefix")format("embedded-opentype"),
    url("ProximaNovaCond-Black.woff") format("woff"),
    url("ProximaNovaCond-Black.ttf") format("truetype");
    font-style: normal;
    font-weight:800;
}

@font-face {
    font-family: "ProximaNovaCond";
    src: url("ProximaNovaCond-BoldIt.eot");
    src: url("ProximaNovaCond-BoldIt.eot?#iefix")format("embedded-opentype"),
    url("ProximaNovaCond-BoldIt.woff") format("woff"),
    url("ProximaNovaCond-BoldIt.ttf") format("truetype");
    font-style: italic;
    font-weight:800;
}

@font-face {
    font-family: "ProximaNovaCond";
    src: url("ProximaNovaCond-Extrabld.eot");
    src: url("ProximaNovaCond-Extrabld.eot?#iefix")format("embedded-opentype"),
    url("ProximaNovaCond-Extrabld.woff") format("woff"),
    url("ProximaNovaCond-Extrabld.ttf") format("truetype");
    font-style: normal;
    font-weight:900;
}

@font-face {
    font-family: "ProximaNovaCond";
    src: url("ProximaNovaCond-ExtrabldIt.eot");
    src: url("ProximaNovaCond-ExtrabldIt.eot?#iefix")format("embedded-opentype"),
    url("ProximaNovaCond-ExtrabldIt.woff") format("woff"),
    url("ProximaNovaCond-ExtrabldIt.ttf") format("truetype");
    font-style: italic;
    font-weight:900;
}

/**ProximaNovaExCn**/

@font-face {
    font-family: "ProximaNovaExCn";
    src: url("ProximaNovaExCn-Thin.eot");
    src: url("ProximaNovaExCn-Thin.eot?#iefix")format("embedded-opentype"),
    url("ProximaNovaExCn-Thin.woff") format("woff"),
    url("ProximaNovaExCn-Thin.ttf") format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "ProximaNovaExCn";
    src: url("ProximaNovaExCn-ThinIt.eot");
    src: url("ProximaNovaExCn-ThinIt.eot?#iefix")format("embedded-opentype"),
    url("ProximaNovaExCn-ThinIt.woff") format("woff"),
    url("ProximaNovaExCn-ThinIt.ttf") format("truetype");
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: "ProximaNovaExCn";
    src: url("ProximaNovaExCn-Light.eot");
    src: url("ProximaNovaExCn-Light.eot?#iefix")format("embedded-opentype"),
    url("ProximaNovaExCn-Light.woff") format("woff"),
    url("ProximaNovaExCn-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "ProximaNovaExCn";
    src: url("ProximaNovaExCn-LightIt.eot");
    src: url("ProximaNovaExCn-LightIt.eot?#iefix")format("embedded-opentype"),
    url("ProximaNovaExCn-LightIt.woff") format("woff"),
    url("ProximaNovaExCn-LightIt.ttf") format("truetype");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "ProximaNovaExCn";
    src: url("ProximaNovaExCn-Regular.eot");
    src: url("ProximaNovaExCn-Regular.eot?#iefix")format("embedded-opentype"),
    url("ProximaNovaExCn-Regular.woff") format("woff"),
    url("ProximaNovaExCn-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "ProximaNovaExCn";
    src: url("ProximaNovaExCn-RegularIt.eot");
    src: url("ProximaNovaExCn-RegularIt.eot?#iefix")format("embedded-opentype"),
    url("ProximaNovaExCn-RegularIt.woff") format("woff"),
    url("ProximaNovaExCn-RegularIt.ttf") format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "ProximaNovaExCn";
    src: url("ProximaNovaExCn-Semibold.eot");
    src: url("ProximaNovaExCn-Semibold.eot?#iefix")format("embedded-opentype"),
    url("ProximaNovaExCn-Semibold.woff") format("woff"),
    url("ProximaNovaExCn-Semibold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "ProximaNovaExCn";
    src: url("ProximaNovaExCn-SemiboldIt.eot");
    src: url("ProximaNovaExCn-SemiboldIt.eot?#iefix")format("embedded-opentype"),
    url("ProximaNovaExCn-SemiboldIt.woff") format("woff"),
    url("ProximaNovaExCn-SemiboldIt.ttf") format("truetype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "ProximaNovaExCn";
    src: url("ProximaNovaExCn-Bold.eot");
    src: url("ProximaNovaExCn-Bold.eot?#iefix")format("embedded-opentype"),
    url("ProximaNovaExCn-Bold.woff") format("woff"),
    url("ProximaNovaExCn-Bold.ttf") format("truetype");
    font-style:normal;
    font-weight:700;
}

@font-face {
    font-family: "ProximaNovaExCn";
    src: url("ProximaNovaExCn-BoldIt.eot");
    src: url("ProximaNovaExCn-BoldIt.eot?#iefix")format("embedded-opentype"),
    url("ProximaNovaExCn-BoldIt.woff") format("woff"),
    url("ProximaNovaExCn-BoldIt.ttf") format("truetype");
    font-style:italic;
    font-weight:700;
}

@font-face {
    font-family: "ProximaNovaExCn";
    src: url("ProximaNovaExCn-Black.eot");
    src: url("ProximaNovaExCn-Black.eot?#iefix")format("embedded-opentype"),
    url("ProximaNovaExCn-Black.woff") format("woff"),
    url("ProximaNovaExCn-Black.ttf") format("truetype");
    font-style: normal;
    font-weight:800;
}

@font-face {
    font-family: "ProximaNovaExCn";
    src: url("ProximaNovaExCn-BoldIt.eot");
    src: url("ProximaNovaExCn-BoldIt.eot?#iefix")format("embedded-opentype"),
    url("ProximaNovaExCn-BoldIt.woff") format("woff"),
    url("ProximaNovaExCn-BoldIt.ttf") format("truetype");
    font-style: italic;
    font-weight:800;
}

@font-face {
    font-family: "ProximaNovaExCn";
    src: url("ProximaNovaExCn-Extrabld.eot");
    src: url("ProximaNovaExCn-Extrabld.eot?#iefix")format("embedded-opentype"),
    url("ProximaNovaExCn-Extrabld.woff") format("woff"),
    url("ProximaNovaExCn-Extrabld.ttf") format("truetype");
    font-style: normal;
    font-weight:900;
}

@font-face {
    font-family: "ProximaNovaExCn";
    src: url("ProximaNovaExCn-ExtrabldIt.eot");
    src: url("ProximaNovaExCn-ExtrabldIt.eot?#iefix")format("embedded-opentype"),
    url("ProximaNovaExCn-ExtrabldIt.woff") format("woff"),
    url("ProximaNovaExCn-ExtrabldIt.ttf") format("truetype");
    font-style: italic;
    font-weight:900;
}