.main_content {
    min-height: 920px;
    background-color: #f6f6f6;
}
.basic-filter {
    padding-top: 80px;
    height: 170px;
    position: relative;
}
.basic-filter .toggle-light-wr {
    height: 20px;
}
#map-bank .hidden,
#list-bank .hidden,
#cash-dispenser .hidden,
#offices .hidden {
    display: none;
}
#map-bank.offices {
    min-height: 750px;
    position: relative;
}
.bank .jq-selectbox__select {
    background-color: transparent;
}
.bank.bank-filtr {

}
.block-filtr {
    width: 100%;
    border: 2px solid #e2e8eb;
    border-radius: 2px;
    position: absolute;
    z-index: 1;
}
.block-filtr-list {
    padding: 1px 0 15px;
    margin-bottom: 15px;
    background: #fff;
}
.block-filtr-list.select {
    background: transparent;
}
.filtr-block-1 {
    width: 350px;
    height: 610px;
    background: #fff;
    border: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 1.5rem;
    left: 15px;
}
.filtr-block-2 {
    width: 350px;
    height: 65px;
    background: #fff;
    border: 0;
    left: 15px;
    bottom: -45.5rem;
}
.filtr-block-3 {
    width: 253px;
    height: 65px;
    border: 0;
    top: 1.55rem;
}
.filtr-block-4 {
    width: 253px;
    height: 295px;
    border: 0;
    background: #fff;
    top: 7.45rem;
}
.filtr-block-5 {
    width: 253px;
    height: 58px;
    border: 0;
    top: 7.45rem;
    z-index: 3;
}
.filtr-block-5 .jq-selectbox__dropdown {
    margin: -5px 0 0;
}
.filtr-block-6 {
    width: 253px;
    height: 110px;
    border: 0;
    background: #fff;
    top: 13rem;
}
.block-filtr .card-block.data {
    padding: 0 20px 5px;
    position: relative;
}
.block-filtr .card-block.data:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e2e8eb;
    position: absolute;
    left: 0;
    top: -20px;
}
.block-filtr label,
.block-filtr-list label {
    margin: 20px 15px 0;
    width: 100%;
    display: block;
}
.card-block-list {
    padding: 20px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    background: #fff;
}
#list-bank .full-linck a {
    color: rgb(27, 29, 31);
    background: transparent;
}
#list-bank .full-linck a:hover,
#list-bank .full-linck a:active,
#list-bank .full-linck a:focus {
    color: #fff;
    background: #1da9af;
}
#map-bank h2.title-ofice:first-child,
#map-bank h3.title-ofice:first-child {
    margin-top: 19px;
}
#map-bank .title-ofice,
#list-bank .title-ofice {
    color: #1da9af;
    margin-top: 0px;
}
#map-bank p,
#list-bank p,
.adres,
.round-clock,
.currency,
.phone-one,
.phone-two,
.cash-acceptance,
.currency-exchange,
.free,
.weekdays,
.weekend {
    color: rgb(27, 29, 31);
}
.phone-one a,
.phone-two a {
    color: rgb(27, 29, 31);
}
#modal_form .adres {
    clear: both;
}
.modal-open.modal {
    overflow-x: hidden;
    overflow-y: auto;
}