@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1130px;
    }
}
@media (max-width: 700px) {
    .col-mb-1, .col-mb-2, .col-mb-3, .col-mb-4, .col-mb-5, .col-mb-6, .col-mb-7, .col-mb-8, .col-mb-9, .col-mb-10, .col-mb-11, .col-mb-12 {
        float: left;
    }
    .col-mb-12 {
        width: 100%;
    }
    .col-mb-11 {
        width: 91.66666667%;
    }
    .col-mb-10 {
        width: 83.33333333%;
    }
    .col-mb-9 {
        width: 75%;
    }
    .col-mb-8 {
        width: 66.66666667%;
    }
    .col-mb-7 {
        width: 58.33333333%;
    }
    .col-mb-6 {
        width: 50%;
    }
    .col-mb-5 {
        width: 41.66666667%;
    }
    .col-mb-4 {
        width: 33.33333333%;
    }
    .col-mb-3 {
        width: 25%;
    }
    .col-mb-2 {
        width: 16.66666667%;
    }
    .col-mb-1 {
        width: 8.33333333%;
    }
    .col-mb-pull-12 {
        right: 100%;
    }
    .col-mb-pull-11 {
        right: 91.66666667%;
    }
    .col-mb-pull-10 {
        right: 83.33333333%;
    }
    .col-mb-pull-9 {
        right: 75%;
    }
    .col-mb-pull-8 {
        right: 66.66666667%;
    }
    .col-mb-pull-7 {
        right: 58.33333333%;
    }
    .col-mb-pull-6 {
        right: 50%;
    }
    .col-mb-pull-5 {
        right: 41.66666667%;
    }
    .col-mb-pull-4 {
        right: 33.33333333%;
    }
    .col-mb-pull-3 {
        right: 25%;
    }
    .col-mb-pull-2 {
        right: 16.66666667%;
    }
    .col-mb-pull-1 {
        right: 8.33333333%;
    }
    .col-mb-pull-0 {
        right: auto;
    }
    .col-mb-push-12 {
        left: 100%;
    }
    .col-mb-push-11 {
        left: 91.66666667%;
    }
    .col-mb-push-10 {
        left: 83.33333333%;
    }
    .col-mb-push-9 {
        left: 75%;
    }
    .col-mb-push-8 {
        left: 66.66666667%;
    }
    .col-mb-push-7 {
        left: 58.33333333%;
    }
    .col-mb-push-6 {
        left: 50%;
    }
    .col-mb-push-5 {
        left: 41.66666667%;
    }
    .col-mb-push-4 {
        left: 33.33333333%;
    }
    .col-mb-push-3 {
        left: 25%;
    }
    .col-mb-push-2 {
        left: 16.66666667%;
    }
    .col-mb-push-1 {
        left: 8.33333333%;
    }
    .col-mb-push-0 {
        left: auto;
    }
    .col-mb-offset-12 {
        margin-left: 100%;
    }
    .col-mb-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-mb-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-mb-offset-9 {
        margin-left: 75%;
    }
    .col-mb-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-mb-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-mb-offset-6 {
        margin-left: 50%;
    }
    .col-mb-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-mb-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-mb-offset-3 {
        margin-left: 25%;
    }
    .col-mb-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-mb-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-mb-offset-0 {
        margin-left: 0;
    }
}
@media (min-width: 700px) and (max-width: 990px) {
    .col-mt-1, .col-mt-2, .col-mt-3, .col-mt-4, .col-mt-5, .col-mt-6, .col-mt-7, .col-mt-8, .col-mt-9, .col-mt-10, .col-mt-11, .col-mt-12 {
        float: left;
    }
    .col-mt-12 {
        width: 100%;
    }
    .col-mt-11 {
        width: 91.66666667%;
    }
    .col-mt-10 {
        width: 83.33333333%;
    }
    .col-mt-9 {
        width: 75%;
    }
    .col-mt-8 {
        width: 66.66666667%;
    }
    .col-mt-7 {
        width: 58.33333333%;
    }
    .col-mt-6 {
        width: 50%;
    }
    .col-mt-5 {
        width: 41.66666667%;
    }
    .col-mt-4 {
        width: 33.33333333%;
    }
    .col-mt-3 {
        width: 25%;
    }
    .col-mt-2 {
        width: 16.66666667%;
    }
    .col-mt-1 {
        width: 8.33333333%;
    }
    .col-mt-pull-12 {
        right: 100%;
    }
    .col-mt-pull-11 {
        right: 91.66666667%;
    }
    .col-mt-pull-10 {
        right: 83.33333333%;
    }
    .col-mt-pull-9 {
        right: 75%;
    }
    .col-mt-pull-8 {
        right: 66.66666667%;
    }
    .col-mt-pull-7 {
        right: 58.33333333%;
    }
    .col-mt-pull-6 {
        right: 50%;
    }
    .col-mt-pull-5 {
        right: 41.66666667%;
    }
    .col-mt-pull-4 {
        right: 33.33333333%;
    }
    .col-mt-pull-3 {
        right: 25%;
    }
    .col-mt-pull-2 {
        right: 16.66666667%;
    }
    .col-mt-pull-1 {
        right: 8.33333333%;
    }
    .col-mt-pull-0 {
        right: auto;
    }
    .col-mt-push-12 {
        left: 100%;
    }
    .col-mt-push-11 {
        left: 91.66666667%;
    }
    .col-mt-push-10 {
        left: 83.33333333%;
    }
    .col-mt-push-9 {
        left: 75%;
    }
    .col-mt-push-8 {
        left: 66.66666667%;
    }
    .col-mt-push-7 {
        left: 58.33333333%;
    }
    .col-mt-push-6 {
        left: 50%;
    }
    .col-mt-push-5 {
        left: 41.66666667%;
    }
    .col-mt-push-4 {
        left: 33.33333333%;
    }
    .col-mt-push-3 {
        left: 25%;
    }
    .col-mt-push-2 {
        left: 16.66666667%;
    }
    .col-mt-push-1 {
        left: 8.33333333%;
    }
    .col-mt-push-0 {
        left: auto;
    }
    .col-mt-offset-12 {
        margin-left: 100%;
    }
    .col-mt-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-mt-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-mt-offset-9 {
        margin-left: 75%;
    }
    .col-mt-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-mt-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-mt-offset-6 {
        margin-left: 50%;
    }
    .col-mt-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-mt-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-mt-offset-3 {
        margin-left: 25%;
    }
    .col-mt-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-mt-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-mt-offset-0 {
        margin-left: 0;
    }
}
@media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666667%;
    }
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-md-1 {
        width: 8.33333333%;
    }
    .col-md-pull-12 {
        right: 100%;
    }
    .col-md-pull-11 {
        right: 91.66666667%;
    }
    .col-md-pull-10 {
        right: 83.33333333%;
    }
    .col-md-pull-9 {
        right: 75%;
    }
    .col-md-pull-8 {
        right: 66.66666667%;
    }
    .col-md-pull-7 {
        right: 58.33333333%;
    }
    .col-md-pull-6 {
        right: 50%;
    }
    .col-md-pull-5 {
        right: 41.66666667%;
    }
    .col-md-pull-4 {
        right: 33.33333333%;
    }
    .col-md-pull-3 {
        right: 25%;
    }
    .col-md-pull-2 {
        right: 16.66666667%;
    }
    .col-md-pull-1 {
        right: 8.33333333%;
    }
    .col-md-pull-0 {
        right: auto;
    }
    .col-md-push-12 {
        left: 100%;
    }
    .col-md-push-11 {
        left: 91.66666667%;
    }
    .col-md-push-10 {
        left: 83.33333333%;
    }
    .col-md-push-9 {
        left: 75%;
    }
    .col-md-push-8 {
        left: 66.66666667%;
    }
    .col-md-push-7 {
        left: 58.33333333%;
    }
    .col-md-push-6 {
        left: 50%;
    }
    .col-md-push-5 {
        left: 41.66666667%;
    }
    .col-md-push-4 {
        left: 33.33333333%;
    }
    .col-md-push-3 {
        left: 25%;
    }
    .col-md-push-2 {
        left: 16.66666667%;
    }
    .col-md-push-1 {
        left: 8.33333333%;
    }
    .col-md-push-0 {
        left: auto;
    }
    .col-md-offset-12 {
        margin-left: 100%;
    }
    .col-md-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-md-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-md-offset-9 {
        margin-left: 75%;
    }
    .col-md-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-md-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-md-offset-6 {
        margin-left: 50%;
    }
    .col-md-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-md-offset-3 {
        margin-left: 25%;
    }
    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-md-offset-0 {
        margin-left: 0;
    }
}
@media (min-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }
    .col-lg-12 {
        width: 100%;
    }
    .col-lg-11 {
        width: 91.66666667%;
    }
    .col-lg-10 {
        width: 83.33333333%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-8 {
        width: 66.66666667%;
    }
    .col-lg-7 {
        width: 58.33333333%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-5 {
        width: 41.66666667%;
    }
    .col-lg-4 {
        width: 33.33333333%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-2 {
        width: 16.66666667%;
    }
    .col-lg-1 {
        width: 8.33333333%;
    }
    .col-lg-pull-12 {
        right: 100%;
    }
    .col-lg-pull-11 {
        right: 91.66666667%;
    }
    .col-lg-pull-10 {
        right: 83.33333333%;
    }
    .col-lg-pull-9 {
        right: 75%;
    }
    .col-lg-pull-8 {
        right: 66.66666667%;
    }
    .col-lg-pull-7 {
        right: 58.33333333%;
    }
    .col-lg-pull-6 {
        right: 50%;
    }
    .col-lg-pull-5 {
        right: 41.66666667%;
    }
    .col-lg-pull-4 {
        right: 33.33333333%;
    }
    .col-lg-pull-3 {
        right: 25%;
    }
    .col-lg-pull-2 {
        right: 16.66666667%;
    }
    .col-lg-pull-1 {
        right: 8.33333333%;
    }
    .col-lg-pull-0 {
        right: auto;
    }
    .col-lg-push-12 {
        left: 100%;
    }
    .col-lg-push-11 {
        left: 91.66666667%;
    }
    .col-lg-push-10 {
        left: 83.33333333%;
    }
    .col-lg-push-9 {
        left: 75%;
    }
    .col-lg-push-8 {
        left: 66.66666667%;
    }
    .col-lg-push-7 {
        left: 58.33333333%;
    }
    .col-lg-push-6 {
        left: 50%;
    }
    .col-lg-push-5 {
        left: 41.66666667%;
    }
    .col-lg-push-4 {
        left: 33.33333333%;
    }
    .col-lg-push-3 {
        left: 25%;
    }
    .col-lg-push-2 {
        left: 16.66666667%;
    }
    .col-lg-push-1 {
        left: 8.33333333%;
    }
    .col-lg-push-0 {
        left: auto;
    }
    .col-lg-offset-12 {
        margin-left: 100%;
    }
    .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-lg-offset-9 {
        margin-left: 75%;
    }
    .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-lg-offset-6 {
        margin-left: 50%;
    }
    .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-lg-offset-3 {
        margin-left: 25%;
    }
    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-lg-offset-0 {
        margin-left: 0;
    }
}
@media (max-width: 767px) {
    .visible-xs {
        display: block !important;
    }
    table.visible-xs {
        display: table !important;
    }
    tr.visible-xs {
        display: table-row !important;
    }
    th.visible-xs,
    td.visible-xs {
        display: table-cell !important;
    }
}
@media (max-width: 767px) {
    .visible-xs-block {
        display: block !important;
    }
}
@media (max-width: 767px) {
    .visible-xs-inline {
        display: inline !important;
    }
}
@media (max-width: 767px) {
    .visible-xs-inline-block {
        display: inline-block !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm {
        display: block !important;
    }
    table.visible-sm {
        display: table !important;
    }
    tr.visible-sm {
        display: table-row !important;
    }
    th.visible-sm,
    td.visible-sm {
        display: table-cell !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-block {
        display: block !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-inline {
        display: inline !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-inline-block {
        display: inline-block !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md {
        display: block !important;
    }
    table.visible-md {
        display: table !important;
    }
    tr.visible-md {
        display: table-row !important;
    }
    th.visible-md,
    td.visible-md {
        display: table-cell !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-block {
        display: block !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-inline {
        display: inline !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-inline-block {
        display: inline-block !important;
    }
}
@media (min-width: 1200px) {
    .visible-lg {
        display: block !important;
    }
    table.visible-lg {
        display: table !important;
    }
    tr.visible-lg {
        display: table-row !important;
    }
    th.visible-lg,
    td.visible-lg {
        display: table-cell !important;
    }
}
@media (min-width: 1200px) {
    .visible-lg-block {
        display: block !important;
    }
}
@media (min-width: 1200px) {
    .visible-lg-inline {
        display: inline !important;
    }
}
@media (min-width: 1200px) {
    .visible-lg-inline-block {
        display: inline-block !important;
    }
}
@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none !important;
    }
}
@media (min-width: 992px) {
    .hidden-lg {
        display: none !important;
    }
}
.visible-print {
    display: none !important;
}
@media print {
    .visible-print {
        display: block !important;
    }
    table.visible-print {
        display: table !important;
    }
    tr.visible-print {
        display: table-row !important;
    }
    th.visible-print,
    td.visible-print {
        display: table-cell !important;
    }
}
.visible-print-block {
    display: none !important;
}
@media print {
    .visible-print-block {
        display: block !important;
    }
}
.visible-print-inline {
    display: none !important;
}
@media print {
    .visible-print-inline {
        display: inline !important;
    }
}
.visible-print-inline-block {
    display: none !important;
}
@media print {
    .visible-print-inline-block {
        display: inline-block !important;
    }
}
@media print {
    .hidden-print {
        display: none !important;
    }
}