@media (max-width: 767px) {
    .main_wrapper #modal_form,
    .main_wrapper #modal_form-list {
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .main_wrapper #modal_form .modal-title,
    .main_wrapper #modal_form-list .modal-title {
        font-size: 100%;
    }
    .main_wrapper #modal_form .adres,
    .main_wrapper #modal_form-list .adres {
        font-size: 100%;
    }
    .main_wrapper #modal_form .modal_close,
    .main_wrapper #modal_form-list .modal_close {
        float: none;
        position: absolute;
        top: -30px;
        right: 25px;
    }
    .main_wrapper .basic-filter {
        padding-top: 25px;
        height: 180px;
        position: relative;
    }
    .main_wrapper .mobile-offices-cash {
        margin: 25px 0;
    }
    .main_wrapper .block-filtr-list {
        padding: 0;
        margin-bottom: 30px;
        background: #fff;
    }
    .main_wrapper .mobile-text-fixed {
        margin: 30px 0 20px;
    }
    .toggle-light-text span.h-1 {
        font-weight: 600;
        font-size: 160%;
        line-height: 1.2;
    }
    .main_wrapper .wr-toggle-light-text .toggle-light-wr {
        height: 20px;
        background: #1a9599;
    }
    .main_wrapper .wr_complex_input.complex_input_noicon .text.search {
        top: 12px;
        left: 12px;
        font-size: 12px;
    }
    .main_wrapper .wr_complex_input.complex_input_noicon.focus .text.search {
        top: 0;
        left: 15px;
        font-size: 9px;
    }
    .main_wrapper .wr_complex_input .complex_input_body {
        padding: 0 10px 7px;
    }
    .main_wrapper .complex_input_noicon .simple_input {
        margin: 10px 0 0 0;
        width: 90%;
    }
    .main_wrapper .complex_input_noicon .complex_input_body .fa {
        color: #1a9599;
    }
    .main_wrapper .text-right {
        text-align: left;
        padding-top: 0 !important;
        position: absolute;
        bottom: -73px;
        z-index: 9;
    }
    .main_wrapper .open-mobile-filtr {
        color: #1a9599;
        font-size: 25px;
        display: block;
    }
    .main_wrapper .text-right .toggle-light-text  {
        color: #1a9599;
        padding: 11px 14px;
        margin-right: -4px;
        width: 50px;
        height: 50px;
        background-color: #fff;
        border: 2px solid #e2e8eb;
    }
    .main_wrapper .text-right .toggle-light-text.on {
        color: #fff;
        background-color: #1a9599;
        border: 2px solid #1a9599;
    }
    .main_wrapper .text-right .toggle-light-text.off {
        color: #1a9599;
        background-color: #fff;
        border: 2px solid #e2e8eb;
    }
    .main_wrapper #list-bank {
        padding-top: 85px;
    }
    .main_wrapper .card-block-list {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .main_wrapper .list-bank-mobile {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .main_wrapper a.open_modal.hover:hover .card-block-list,
    .main_wrapper a.open_modal.hover:active .card-block-list,
    .main_wrapper a.open_modal.hover:focus .card-block-list {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .main_wrapper a.open_modal.hover .card-block-list.views-row-1 {
        border-top: 0;
    }
    .main_wrapper a.open_modal.hover .card-block-list {
        margin-bottom: 0;
        border-top: 1px solid #e2e8eb;
        border-radius: 0;
        background-color: #f6f6f6;
    }
    .main_wrapper #list-bank .full-linck {
        padding: 0 1.3rem;
    }
    #modal_form_filtr.modal_div.mobile {
        padding: 0;
        position: absolute;
        top: -50px !important;
        left: 0;
        right: 0;
    }
    #modal_form_filtr.modal_div.mobile .modal_fon {
        padding: 0;
        background-color: #fff;
        border-radius: 0;
        -moz-border-radius: 0;
        -o-border-radius: 0;
        -webkit-border-radius: 0;
        z-index: 1005;
    }
    #modal_form_filtr.modal_div.mobile .modal-title {
        color: #1a9599;
        width: 85%;
    }
    #modal_form_filtr.modal_div.mobile .modal_close {
        color: #1a9599;
    }
    #modal_form_filtr.modal_div.mobile .top-modal {
        border-bottom: 1px solid #e2e8eb;
    }
    #modal_form_filtr.modal_div.mobile .content-modal {
        padding: 20px 0;
    }
}
@media (min-width: 700px) and (max-width: 991px) {
    .main_wrapper span.h-1 {
        font-size: 25px;
    }
    .main_wrapper .mobile-offices-cash {
        margin-bottom: 20px;
    }
    .main_wrapper .basic-filter {
        padding-top: 50px;
        height: 155px;
        position: relative;
    }
    .main_wrapper .toggle-light-wr {
        height: 20px;
    }
    .main_wrapper .wr_complex_input .complex_input_body {
        margin-right: 60px;
        padding: 10px 13px;
        position: relative;
    }
    .main_wrapper .wr_complex_input .complex_input_body .fa {
        color: #1a9599;
        font-size: 20px;
    }
    .main_wrapper .complex_input_noicon .simple_input {
        margin: 3px 0px;
        width: 95%;
    }
    .main_wrapper .wr_complex_input.complex_input_noicon .text.search {
        top: 15px;
        left: 15px;
        font-size: 14px;
    }
    .main_wrapper .wr_complex_input.use.complex_input_noicon .text {
        top: 0;
        font-size: 10px;
    }
    .main_wrapper .text.search {
        top: 15px;
        font-size: 12px;
    }
    .main_wrapper .block-filtr-list {
        padding: 0;
        margin-bottom: 0;
    }
    .main_wrapper .open-mobile-filtr {
        color: #1a9599;
        font-size: 31.5px;
        display: block;
    }
    .main_wrapper .basic-filter .text-right {
        text-align: left;
        padding-top: 0 !important;
        position: absolute;
        bottom: -90px;
        z-index: 9;
    }
    .main_wrapper .text-right .toggle-light-text  {
        color: #1a9599;
        padding: 11px 14px;
        margin-right: -4px;
        width: 50px;
        height: 50px;
        background-color: #fff;
        border: 2px solid #e2e8eb;
    }
    .main_wrapper .text-right .toggle-light-text.on {
        color: #fff;
        background-color: #1a9599;
        border: 2px solid #1a9599;
    }
    .main_wrapper .text-right .toggle-light-text.off {
        color: #1a9599;
        background-color: #fff;
        border: 2px solid #e2e8eb;
    }
    .main_wrapper #list-bank {
        padding-top: 100px;
    }
    .main_wrapper #map-bank.offices {
        margin-top: 20px;
    }
    .main_wrapper #modal_form_filtr.modal_div.mobile {
        padding: 0;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -50px !important;
        left: 0;
        right: 0;
    }
    .main_wrapper #modal_form_filtr .modal_fon {
        padding: 0;
        background-color: #fff;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        -webkit-border-radius: 5px;
        z-index: 1005;
    }
    .main_wrapper .top-modal {
        color: #1da9af;
        position: relative;
        -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
    }
    .main_wrapper .top-modal .fa {
        color: #1da9af;
    }
    .main_wrapper .content-modal {
        padding: 40px 0;
        background-color: #f6f6f6;
    }
    .main_wrapper .content-modal .block-filtr-list {
        background-color: transparent;
    }
    .main_wrapper .footer-madal {
        background-color: #f6f6f6;
    }
    .main_wrapper .modal-content-bottom {
        padding-bottom: 30px;
    }
    .main_wrapper #modal_form,
    .main_wrapper #modal_form-list {
        padding: 0;
        width: 100%;
        top: 0 !important;
    }
    .main_wrapper .modal_fon {
        padding: 30px 0;
        background-color: #fff;
        border-radius: 0;
        -moz-border-radius: 0;
        -o-border-radius: 0;
        -webkit-border-radius: 0;
    }
    .main_wrapper .modal_close {
        position: relative;
        z-index: 9;
    }
    .main_wrapper .content_rates_tabs .content_tab li {
        width: 50%;
        float: left;
    }
    .main_wrapper .content_rates_tabs .content_tab li.ui-tabs-active {
        width: 50%;
        float: left;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {

}