@media screen and (max-width: 1025px) {
    body, html {
        min-width: inherit;
    }
    .c-container,
    .ui-tabs .c-container,
    .z-container,
    .ui-tabs .z-container
    {
        width: auto;
        margin: auto;
    }

    .title_header_block {
        margin: 0px 30px;
    }

    .wr_block_type.calculator .block_type.to_column .block_type_center {
        width: 535px;
    }

    .promo_benefits.big_element .body {
        max-width: 380px;
    }
    .wr_menu_bottom .menu_bottom_block_title.attention:before {
        left: -24px;
        top: calc(50% - 10px);
        width: 20px;
        height: 20px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1300px) {
    .c-container,
    .ui-tabs .c-container,
    .z-container,
    .ui-tabs .z-container
    {
        padding: 0 15px;
    }
    .wr_burger_menu .burger_menu {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 992px) {


    .wr_main_cards .b_text
    {
        display: none;
    }

    .wr_main_cards .left
    {
        width: auto;
    }

    .wr_main_cards .left br
    {
        display: none;
    }

    .wr_main_cards .title
    {
        min-height: 0px;
        margin-bottom: 40px;
        font-size: 16px;
    }

    .wr_main_cards .num
    {
        font-size: 16px;
    }

    .wr_main_cards .text
    {
        font-size: 14px;
    }

    body, html {
        min-width: inherit;
    }

    .wr_block_type.calculator .block_type.to_column .block_type_center {
        width: auto;
        float: inherit;
    }

    .wr_block_type.calculator .block_type .block_type_right {
        float: inherit;
        margin-top: 4px;
        width:100%;
    }

    .wr_block_type.calculator .block_type:first-child {
        margin-top: 40px;
    }

    .calculator h1 {
        margin-bottom: 40px;
    }

    .wr_block_type .block_type.to_column, .wr_block_type .block_type, .content_rates_tabs .content_tab {
        padding-left: 20px;
        padding-right: 20px;
    }

    h1 {
        font-size: 22px;
        color: rgb(27, 29, 31);
        line-height: 0.938;
        margin-top: 0px;
        margin-bottom: 35px;
    }

    .form_application .form_application_item_label {
        margin-right: 0px;
        display: block;
        margin-bottom: 10px;
    }

    .form_application .form_application_tree {
        width: auto;
    }

    .wr_block_type.calculator .text_block {
        padding: 15px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .right_bank_block .right_bank_summ_summ.big {
        font-size: 37px;
    }

    .right_bank_block .right_bank_summ_summ {
        font-size: 26px;
        margin-bottom: 23px;
    }





    .ui-tabs .ui-tabs-nav {
        padding: 0px 20px;
    }

    .content_rates_tabs .content_tab li {
        margin-right: 0px;
        float: inherit;
    }

    .content_rates_tabs .content_tab a.ui-tabs-anchor {
        float: inherit;
        display: block;
        padding: 20px 0px 20px;
    }

    .wr_block_type .block_type:first-child {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .content_rates_tabs .content_body_left {
        display: block;
        width: auto;
    }

    .content_rates_tabs .content_body_body {
        display: block;
        margin-left: 70px;
    }

    .content_rates_tabs .content_body_pict {
        float: left;
    }

    .content_rates_tabs .content_body_right {
        display: block;
        width: auto;
    }

    .content_rates_tabs .content_body_item.title {
        min-height: inherit;
    }
    .content_rates_tabs .content_body_item {
        margin: 20px 0px;
        overflow: hidden;
    }

    .jq-selectbox__dropdown
    {
        width: 100%!important;
    }

    .jq-selectbox.focused .jq-selectbox__dropdown
    {
       /* display: block!important;*/
    }

    table.min_table
    {
        display: block;
    }

    table.min_table tr
    {
        border-top: 1px solid #e2e8eb;
        display: block;
    }

    table.min_table tr:last-child
    {
        border-bottom: 1px solid #e2e8eb;
    }

    table.min_table td
    {
        display: block;
        border-top: none;
        border-bottom: none;
        padding: 20px 0px 0px;
    }

    table.min_table td:last-child {
        padding-bottom: 20px;
    }

    table.tb tr:nth-child(even), .wr_block_type table tr:nth-child(even) {
        background: transparent;
    }

    .wr_block_type .block_type
    {
        display: flex;
        flex-wrap: wrap;
    }

    .wr_block_type .block_type.to_column .block_type_center {
        margin-right: 0px;
        order: 10;
        width: 100%;
    }

    .block_type_right {
        float: inherit;
        width: 100%;
        order: 20;
    }

    .banners .wr_banners_item {
        margin-right: 0%;
        width: 100%;
        display: block;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .banners .banners_item {
        padding: 200px 44px 40px;
        margin-bottom: 30px;
        text-align: center;
    }

    .banners .banners_pict {
        right: inherit;
        bottom: inherit;
        top: 30px;
        left: 50%;
        margin-left: -92.5px;
    }

    .simple_benefits .body {
        margin-left: 59px;
        margin-right: 30px;
    }

    .simple_benefits .simple_benefits_item {
        display: block;
        width: auto;
    }

    .promo_benefits .promo_benefits_item {
        width: auto;
        display: block;
        margin-bottom: 50px;
    }

    .promo_benefits .pict {
        float: inherit;
    }

    .promo_benefits .body {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 20px;
    }

    .wr_block_type .block_type .block_type_right
    {
        float: inherit;
        width: 100%;
    }

    .photo_blocks .slick-arrow
    {
        display: none!important;
    }

    .photo_blocks .caption
    {
        display: none;
    }

    .photo_blocks .caption_text {
        margin-right: 0px;
    }

    video .video_text {
        margin-right: 0px;
    }

    .wr_max_block {
        margin-bottom: 60px;
    }

    .promo_benefits .promo_benefits_item:last-child, .promo_benefits .promo_benefits_item:nth-last-child(2).promo_benefits_item:nth-child(odd) {
        margin-bottom: 50px;
    }

    .doc_list .doc_item {
        display: block;
        width: 100%;
    }

    .right_top_line .block_top_line {
        margin-top: 40px;
    }

    .ipoteka_list .ipoteka_item {
        display: block;
        width: 100%;

    }

    .ipoteka_list .wr_ipoteka_item
    {
        border-left:none;
    }

    .ipoteka_list .ipoteka_item:nth-last-child(2).ipoteka_item:nth-child(odd) {
        border-radius: 0px 0px 0px 0px;
    }

    .ipoteka_list .ipoteka_item:nth-child(2) .wr_ipoteka_item {
        border-top: 1px solid #e2e8eb;
    }

    .ipoteka_list .ipoteka_item:nth-child(1) {
        border-radius: 10px 10px 0px 0px;
    }

    .ipoteka_list .ipoteka_item:nth-child(2) {
        border-radius: 0px 0px 0px 0px;
    }

    .ipoteka_list .ipoteka_item:last-child {
        border-radius: 0px 0px 10px 10px;
    }

    .wr_block_type .text_block {
        padding: 30px 0px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .faq .faq_item {
        padding: 18px 15px;
    }

    .faq .faq_text {
        margin-left: 30px;
    }

    .wr_block_type .block_type {
        padding-top: 35px;
    }

    .conditions .conditions_item {
        margin: 30px 0px;
    }

    .conditions {
        padding: 0px 0px;
        text-align: left;
    }

    .wr_block_type .text_block {
        padding: 20px 20px;
    }


    .wr_block_type .block_type.to_column.reversal .block_type_center
    {
        order: 30;
    }

    .filter_block_title
    {
        display: none;
    }

    .filter_block_title.mini_show
    {
        display: block;
    }

    .filter_block_title.right
    {
        display: block;
        margin: 4px 0px 5px;
    }


    .filter_block .form_note.bottom {
        left: 20px;
        bottom: 18px;
        border-top: none;
    }

    .wr_step_filter_block {
        width: 100%;
        margin: 10px 0px;
    }

    .wr_step_filter_block .step_filter_block {
        width: 100%;
    }
    .wr_step_filter_block .step_filter_block:nth-child(2) {
        display: none;
    }

    .time_icon {
        display: inline-block;
        vertical-align: top;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .filter_block .form_note {
        width: calc(100% - 50px);
        display: inline-block;
        vertical-align: top;
        margin-left: 11px;
    }

    .reversal
    {
        position: relative;
        padding-bottom: 14px;
    }

    .new_icon {
        margin: 0px 0px 20px;
    }

    .dom_icon {
        margin: 0px 0px 20px;
    }

    .filter_block .filter_block_body {
        margin: 10px 0px;
    }

    .form_application .form_application_tree {
        width: 100%;
        margin-bottom: 38px;
    }

    .form_application .form_application_tree:nth-child(2)
    {
        margin: 0px 0 38px;
    }

    .form_application .form_application_tree:nth-child(3)
    {
        margin-bottom: 0px;
    }

    .wr_form_application .form_application_button_left {
        float: inherit;
        width: 100%;
        margin-top: 0px;
    }

    .wr_form_application .form_application {
        background: transparent;
        padding: 0px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .wr_block_type {
        /*background: #fff;*/
    }

    .wr_form_application .form_application_button_left .jq-checkbox {
        margin: 0 10px 10px 0px;
        float: left;
    }

    .wr_form_application .form_application_line_button_line
    {
        margin-top: 0px;
    }

    .wr_form_application .form_application_button_right {
        float: inherit;
        width: auto;
        text-align: inherit;
        margin-top: 20px;
    }

    .wr_form_application .button
    {
        width: 100%;
    }

    .form_application_button_left label.error
    {
        display: none!important;
    }

    .form_application_text br
    {
        display: none;
    }



    .hide_min
    {
        display: none;
    }

    .show_min
    {
        display: block;
    }

    .show_min .filter_block_title
    {
        display: block;
    }


    .wr_news_list .right_top_line {
        padding-top: 20px;
    }

    .contant_block_fixwd
    {
        position: relative;
        width: auto;
        order: 20;
        margin-top: 80px;
    }

    .wr_news_list .wr_form_block .form_application_line:last-child
    {
        height: auto;
    }

    .form_application_line {
        margin-bottom: 20px;
    }

    .news_list .body {
        padding: 20px;
    }

    .news_list .news_list_item_title {
        font-size: 19px;
    }

    .news_list .pict
    {
        display: none;
    }

    .news_list .body.right {
        margin-left: 0px;
    }

    .news_list .news_list_item_data {
        font-size: 15px;
    }

    .news_list .news_list_item_source {
        font-size: 15px;
    }

    .news_detail .news_detail_body {
        padding: 20px;
    }

    .news_detail .bottom {
        padding: 20px;
    }

    .after_news_list .after_news_item {
        padding: 20px;
    }

    .news_detail {
        margin: 0px -20px;
        border-radius: 0px;
        font-size: 14px;
    }

    .news_detail .news_detail_title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .news_detail .news_detail_data {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .news_detail .news_detail_source {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .news_detail .news_detail_body_wr {
        margin-top: 20px;
    }

    .note {
        font-size: 16px;
        margin: 5px 0px 20px 20px;
    }

    .news_detail .bottom .left
    {
        display: none;
    }

    .news_detail .bottom .right {
        float: none;
        width: auto;
    }

    .news_detail .bottom .right {
        float: none;
        width: auto;
        line-height: 40px;
    }

    .share_net {
        margin: 0px 0px 0px 0px;
        float: right;
    }

    .after_news_list .after_news_item_title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .after_news_list .after_news_item_data {
        margin-bottom: 10px;
    }

    .after_news_list .after_news_item_text {
        font-size: 14px;
        color: rgb(27, 29, 31);
    }

    .wr_top_line
    {
        display: none;
    }

    .wr_fix_top {
        min-height: 50px;
    }

    .header {
        width: 100%;
        min-height: 60px;
    }


    .header .top_menu
    {
        display: none;
    }

    .header>.all_products,
    .header>.net_bank
    {
        display: none;
    }

    .header .logo
    {
        width: 78px;
        height: 60px;
        background-size: 65px auto;
        margin-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        float: left;
    }
    .header .mobile-header-phone {
        display: block;
        float: left;
        font-size: 14px;
        padding-top: 22px;
        width: calc(100% - 200px);
        text-align: center;
    }
    .private-banking .header .logo
    {
        background-image: url('../img/mini_logo.png');
    }

    .wr_mobail_min_menu
    {
        display: block;
    }

    .wr_menu_bottom
    {
        top: 95px;
        bottom: 0px;
        overflow: auto;
        position: fixed;
    }

    .wr_burger_menu .burger_menu {
        padding: 25px 20px;
        width: auto;
    }

    .wr_burger_menu .burger_menu_item {
        width: auto;
        display: block;
        margin-bottom: 23px;
    }

    .wr_burger_menu .burger_menu_item:nth-child(2)
    {
        width: auto;
    }

    .wr_fix_top.fix .fix_top,
    .wr_fix_top.no_fix_res .fix_top
    {
        top: 0px;
        position: relative;
        min-width: 0px;
        width: auto;
    }

    .wr_fix_top .fix_top {
        top: 0px;
    }

    .wr_burger_menu .burger_menu_title {
        padding: 25px 0px 0px;
    }

    .wr_burger_menu .burger_menu_menu span {
        font-weight: bold;
    }

    .wr_burger_menu .burger_menu_menu span:hover
    {
        color: rgb(27, 29, 31);
    }

    .wr_burger_menu .burger_menu_menu ul
    {
        display: block!important;
    }

    .wr_burger_menu .burger_menu_menu span:after
    {
        display: none;
    }

    .ipoteka_list .ipoteka_item_text
    {
        height:auto;
    }

    .footer .call
    {
        display: none;
    }

    .footer .block_menu
    {
        width: auto;
        display:block;
    }

    .footer .block_menu li:nth-child(n+4) {
        display: none;
    }

    .footer .block_menu:nth-child(n+3)
    {
        display: none;
    }

    .footer {
        padding-top: 0px;
    }

    .footer .first_line
    {
        padding: 0px;
    }

    .footer .block_menu li
    {
        padding: 0px;
        margin: 0px 0px 0px;
    }

    .footer .block_menu li a
    {
        font-size: 14px;
        text-align: center;
        border-bottom: 1px solid #1d5053;
        line-height: 60px;
        display: block;
    }

    .footer .links {
        display: block;
        margin-left: 0px;
        margin-top: 45px;
        text-align: center;
    }

    .footer .license
    {
        display: block;
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .footer .text_block
    {
        display: block;
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .footer .text_block.min {
        width: 100%;
    }

    .footer .text_block .st
    {
        display: none;
    }

    .footer .copyrighted {
        display: block;
        text-align: center;
        width: 100%;
    }

    .footer .to_line .z-container
    {
        display: flex;
        flex-wrap: wrap;
    }

    .footer .text_block
    {
        order:10;
    }

    .footer .license
    {
        order:20;
    }

    .footer .copyrighted {
        order:30;
    }


    .line_initial
    {
        display: block;
        margin-left: 0px;
        width: 100%;
        padding-top: 16px;
        text-align: center;
    }


}



@media screen and (max-width: 1025px)
{
    .header .top_menu li {
        margin-right: 9px;
    }

    .header .logo {
        margin-right: 5px;
    }

    .header>.all_products, .header>.net_bank {
        margin-left: 0px;
    }

    .main_slider .main_slider_item
    {
        margin: 0px 20px;
    }

    .main_slider .title {
        font-size: 60px;
        margin-top: 8px;
        top: 0px;
    }

    .main_slider .precent {
        font-size: 138px;
    }

    .main_slider .pict {
        left: 50%;
    }

    .wr_select_city .select_city
    {
        width: 800px;
        margin-left: -400px;
    }

    .wr_select_city .select_city_fr {
        margin: 10px 15px 10px;
    }

    .wr_select_city .select_city_title {
        margin-bottom: 10px;
    }
}


@media screen and (max-width: 992px)
{
    .modal-open-top {
        position: fixed;
    }
    .exchange_rates .exchange_name
    {
        margin-right: 200px;
    }

    .exchange_rates .exchange_value {
        width: 96px;
    }

    .exchange_value:not(.exchange_grey) {
        padding-left: 0;
    }
    .exchange_value.exchange_grey {
        text-align: left;
    }
    .wr_services    {
        margin-bottom: 70px;
    }

    .main_slider .title {
        font-size: 34px;
        line-height: 32px;
        margin-left: 0px;
        margin-top: 0px;
    }

    .main_slider .text {
        font-size: 16px;
        min-height: 76px;
        margin-top:17px;
    }

    .button {
        padding: 0px 25px;
        line-height: 51px;
        height: 50px;
    }

    .main_page,
    .main_page.fon_big_business,
    .main_page.private-banking
    {
        background-size: initial;
    }

    .main_slider .pict
    {
        width: 100%!important;
        left: 0%;
        margin-left: 0px!important;
        height: 274px!important;
        bottom: 40px;
        z-index: 3;
    }

    .main_slider .slick-active .pict {
        bottom: 50px;
    }

    .main_slider:after
    {
        display: none;
    }

    .main_news_item_block .slick-next
    {
        right: 0px;
        display: block!important;
    }

    .main_news_item_block .slick-next:hover
    {
        right: 2.5px;
    }

    .main_news_item_block .slick-prev
    {
        right: 53px;
    }

    .main_news_item_block .slick-prev:hover
    {
        right: 50.5px;
    }

    .main_slider:before
    {
        display: none;
    }

    .main_slider .main_slider_item:before
    {
        background: url(/local/templates/bz/css/../img/slider/_cloud_four1.png);
        height: 499px;
        top: 200px;
        display: block;
        content: '';
        z-index: 3;
        margin-top: 61px;
        left: -20px;
        right: -20px;
        background-position: top center;
        position: absolute;
    }

    .main_slider .main_slider_item:after
    {
        height: 499px;
        top: 230px;
        display: block;
        content: '';
        z-index: 3;
        background: url(/local/templates/bz/css/../img/slider/_cloud_four.png);
        left: -20px;
        right: -20px;
        background-position: top center;
        position: absolute;
    }

    .clouds_one, .clouds_two, .clouds_three, .main_slider:after, .main_slider:before
    {
        width: 100%;
        background-position: top center;
    }




    .sky {
        top: 235px;
    }


    .main_slider .right
    {
        display: none;
    }

    .main_slider .left
    {
        width: 100%;
        position: initial;
        z-index: initial;
    }


    .main_slider .main_slider_item_wr
    {
        min-height: 430px;

    }

    .main_slider .left .button
    {
        position: absolute;
        bottom: 0px;
        left:0px;
        right: 0px;
        z-index: 5;
    }



    .main_slider .precent span {
        margin-right: -56px;
    }

    .main_slider .precent {
        font-size: 80px;
        letter-spacing: -2px;
    }

    .main_slider .main_slider_wrapper_naw {
        padding: 0px 60px;
    }

    .slick-dots li {
        margin: 0px 7px;
    }

    .wr_main_cards .main_cards_item {
        display: block;
        width: auto;
        margin-right: 0%;
    }

    .wr_main_cards .main_cards_item:nth-child(3n+3)
    {
        margin-right: 15px;
    }

    .wr_main_cards .main_cards_item {
        display: block;
        width: auto;
        margin: 15px 15px;
    }

    .wr_main_cards .main_cards_item:last-child {
        margin-right: 15px;
    }

    .wr_main_cards .wr_main_cards_item {
        padding: 35px 15px;
    }
    .wr_main_cards .wr_main_cards_item .title {
        margin-bottom: 20px;
    }
    .wr_main_cards .more {
        bottom: 20px;
        right: 20px;
        width: 80px;
        height: 80px;
    }
    .wr_main_cards .more .wr_more_pict {
        width: 90px;
        height: 80px;
    }
    .wr_main_cards .more .more_pict {
        width: 90px;
        height: 70px;
    }
    .wr_main_cards  .main_cards_item:hover .more {
        transform: translate(20px, 20px);
    }

    .wr_main_cards {
        padding: 0px 0px 30px;
    }

    .wr_main_cards .bottom {
        margin-top: 10px;
        padding-right: 88px;
    }

    .wr_services .services {
        margin: 0px 15px;
    }

    .wr_services .wr_exchange_title {
        margin: 0px 15px;
    }

    .wr_services .left {
        display: block;
        width: auto;
        margin-right: 0%;
        margin-bottom: 15px;
    }

    .wr_services .wr_inner_services {
        padding: 25px 0px 25px;
    }

    .exchange_rates .exchange_title {
        padding-left: 25px;
        margin-bottom: 50px;
    }

    .exchange_rates .exchange_title_t {
        display: inline-block;
        vertical-align: middle;
        margin-right: 2px;
    }

    .exchange_rates .exchange_title_p {
        display: inline-block;
        vertical-align: middle;
    }

    .wr_services .right {
        display: block;
        width: auto;
    }

    .wr_services .services_right_block {
        margin-bottom: 15px;
    }

    .wr_services .pict {
        width: 130px;
    }
    
    .wr_services .body {
        width: 485px;
        margin-left: 0px;
    }

    .wr_main_news .main_news {
        margin: 30px 15px 72px;
    }

    .wr_main_news .wr_main_news_item_block {
        display: block;
        width: auto;
        padding-top: 0px;
        margin-top: 0px;
    }

    .main_news_item_block .slick-prev,
    .main_news_item_block .slick-next
    {
        top: -63px;
    }
    .main_news_item_block .slick-prev:hover,
    .main_news_item_block .slick-next:hover {
        top: -65px;
    }

    .main_news_body .slick-list {
        padding-bottom: 0px;
    }

    .wr_shares {
        width: auto;
        display: block;
        margin-top: 0px;
    }

    .wr_shares .top_shares {
         margin-bottom: 19px;
    }

    .wr_shares .nav-prev,
    .wr_shares .nav-next {
        top: 6px;
        display: block;
    }

    .wr_shares .nav-prev:hover,
    .wr_shares .nav-next:hover {
        top: 3px;
     }

    .wr_main_news .main_news_item_block {
        left: 0px;
    }

    .wr_footer_banner.wr_footer_banner_businesses,
    .wr_footer_banner.wr_footer_big_banner_businesses,
    .wr_footer_banner.wr_footer_private-banking,
    .wr_footer_banner
    {
        background-size: auto;
    }

    .wr_footer_banner {
        position: relative;
    }

    .wr_footer_banner .footer_banner_right
    {
        display: none;
    }

    .wr_footer_banner .footer_banner_left {
        padding: 80px 0px 0px;
        margin: 0px 15px;
        width: auto;
        float: initial;
    }

    .wr_footer_banner .footer_banner_text {
        /*font-size: 36px;
        line-height: 39px;*/
    }

    .wr_footer_banner .footer_banner_title
    {
        margin-left: 0px;
        line-height: 60px;
        font-size: 46px;
    }

    .footer_banner_left .button
    {
        position: absolute;
        bottom: 30px;
        padding: 0px 0px;
        line-height: 62px;
        text-align: center;
        font-size: 14px;
        font-family: "ProximaNova";
        text-transform: uppercase;
        border-radius: 3px;
        z-index: 2;
        height: 62px;
        width: calc(100% - 30px);
        border: none;
    }

    .footer_banner_left .button:hover
    {
        -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.06);
        -moz-box-shadow:    0px 3px 8px 0px rgba(0, 0, 0, 0.06);
        box-shadow:         0px 3px 8px 0px rgba(0, 0, 0, 0.06);
    }

    .title_header_block {
        margin: 0px 15px;
    }

    .title_header_block .title {
        margin-right: 0px;
        width: auto;
        float: inherit;
    }

    .title_header_block .title_to {
        width: auto;
        float: inherit;
    }

    .wr_breadcrumbs {
        padding-top: 0px;
    }


    .wr_select_city .select_city {
        width: auto;
        margin-left: 0px;
        left: 50px;
        right: 50px;
    }

    .wr_select_city .select_city_body {
        -webkit-column-width: inherit;
        -moz-column-width: inherit;
        column-width: inherit;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 18px;
        -moz-column-gap: 18px;
        column-gap: 18px;
    }

    .wr_select_city .select_city_close {
        top: 5px;
        right: 0px;
    }



    .wr_select_city_in.mobail {
        top: 60px;
        left: 50%;
        margin-left: -160px;
        position: fixed;
    }

    .wr_mobail_city:before
    {
        content: " ";
        position: fixed;
        background: rgba(41, 57, 62, 0.40);
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 15;
    }

    .wr_mobail_city.open,
    .wr_mobail_city.open .wr_select_city_in.mobail
    {
        display: block;
    }


    /* New breadcrumbs banner */
    .page-promo-banner {
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
    }
    .page-promo-banner .banner-background {
        position: absolute;
        bottom: 0;
        right: -35px;
        min-width: calc(100% + 70px);
        min-height: 100%;
    }
    .page-promo-banner .blur-wrap {
        height: 100%;
        position: relative;
    }
    .page-promo-banner .blur-wrap .img-container {
        position: absolute;
        height: 100%;
        min-width: calc(100% + 70px);
        bottom: 0;
        right: -35px;
        box-shadow: inset 0px -22px 20px 0px #000000;
        overflow: hidden;
    }
    .page-promo-banner .blur-wrap .blur-image {
        position: absolute;
        min-width: 100%;
        height: 100%;
        -webkit-filter: blur(10px);
        filter: blur(10px);
        bottom: 0;
        right: 0;
        box-shadow: inset 0px -22px 20px 0px #000000;
    }
    .page-promo-banner .blur-wrap .c-container {
        position: relative;
        height: 100%;
        min-height: 80px;
    }
    .page-promo-banner .blur-wrap .blur-content {
        height: 100%;
        min-height: 150px;
        color: #ffffff;
        padding: 30px 15px 25px;
    }
    .page-promo-banner .blur-wrap .blur-content:before {
        content: '';
        display: block;
        background-color: rgba(0, 0, 0, 0.35);
        position: absolute;
        width: calc(100% + 70px);
        height: 100%;
        color: #ffffff;
        right: -35px;
        left: -35px;
        bottom: 0;
        top: 0;
    }
    .page-promo-banner .blur-wrap .blur-content .detail_picture {
        position: absolute;
        bottom: calc(100% + 80px);
        left: 0;
    }
    .page-promo-banner .blur-wrap .blur-content .title {
        max-width: 100%;
    }
    .page-promo-banner .blur-wrap .blur-content .text {
        /*margin-top: -20px;*/
    }
    .page-promo-banner .blur-wrap .blur-content .text:after {
        content: '';
        display: block;
        clear: both;
    }
    .page-promo-banner .blur-wrap .blur-content .text>p {
        margin-top: 20px;
        margin-bottom: 15px;
        /* display: inline-block; */
        float: none;
        width: 100%;
        padding-right: 15px;
    }
    .page-promo-banner .blur-wrap .blur-content .text>p:last-child {
        width: 100%;
    }
    .page-promo-banner .blur-wrap .blur-content .text ul {
        display: inline-block;
        float: none;
        width: 100%;
    }
    .page-promo-banner .blur-wrap .blur-content .text ul + p {
        padding-right: 0;
    }
    .page-promo-banner .blur-wrap .blur-content .text ul li {
        margin-bottom: 10px;
    }
    .page-promo-banner .blur-wrap .blur-content .text ul li:last-child {
        margin-bottom: 0;
        padding-right: 0 !important;
    }
    .page-promo-banner .blur-wrap .blur-content .text .button {
        float: none;
        display: block;
        max-width: 190px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 12px;
        height: auto;
        padding: 6px;
        line-height: 1.3;
    }
    .page-promo-banner .blur-wrap .blur-content .text .button:hover {
        color: #ffffff;
        background-color: #1da9af;
        border-color: #1da9af;
    }
    .wr_block_type .block_type .block_type_center {
        max-width: 100%;
    }
    table.tb, .wr_block_type table{
        display: block;
        width: 100%;
        overflow-x: auto;
    }
    /**breadcrumbs**/


}

@media screen and (max-width: 600px)
{

    .wr_main_news .main_news_item {
        padding: 0px 0% 0px 0px;
    }

    .wr_footer_banner .footer_banner_car {
        background-size: contain;
        margin-top: 102px;
    }

    .wr_main_news .wr_main_news_item {
        margin-left: 6px;
    }

    .wr_main_news .text {
        margin: 8px 44px 10px;
    }

    .wr_main_news .main_news_title {
        margin-bottom: 17px;
    }


    .wr_services .body {
        width: 210px;
    }

    .promo_benefits.big_element .body {
        max-width: inherit;
        margin-left: 0px;
    }


    .wr_select_city .select_city {
        left: 10px;
        right: 10px;
    }

    .wr_select_city .select_city_title {
        width: 80%;
        font-size: 19px;
    }

    .wr_select_city .select_city_body {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    .wr_bottom_city .bottom_city_list {
        text-align: center;
        text-justify: none;
        text-align-last: center;
    }

    .exchange_rates .exchange_line {
        padding: 0px 26px;
    }

    .wr_services .wr_exchange_title {
        font-size: 30px;
    }
    .simple_input.big {
        height: 40px;
    }
    .conditions .conditions_item {
        margin:15px!important;
        display: block;
    }
}

@media screen and (max-width: 400px)
{
    .wr_services .body {
        width: 155px;
    }

    .exchange_rates .ui-tabs .exchange_tab {
        padding-right: 0px;
        right: inherit;
        left: 23px;
    }

    .wr_select_city_in {
        width: 300px;
    }

    .wr_select_city_in.mobail {
        margin-left: -150px;
    }

    .wr_select_city_in .select_city {
        padding: 29px 25px 0px;
    }
	.wr_shares .text {
	left: 12px;
    right: 12px; 
	}
}
