/** О банке **/

.title_header_block .title-text {
    font-weight: 400;
}
.title_header_block .full-linck-header {
    margin-top: 30px;
}
.about-page {
    margin-top: 20px;
}
.about-page h2 {
    font-size: 28px;
}
.about-page h3 {
    color: rgb(27, 29, 31);
    font-weight: 600;
}
.about-page .conditions h3 {
    text-align: left;
    margin-top: 0;
    margin-left: 40px;
}
.about-page .views-1 .title {
    color: rgb(29, 169, 175);
    font-size: 45px;
    font-weight: 500;
}
.about-page .logo-bank {
    display: inline-block;
    margin: 0 20px 0;
}
.about-page .content_rates_tabs {
    border-bottom: 0;
}
.about-page .content_rates_tabs .content_tab {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
.about-page .content_rates_tabs .content_tab li {
    padding: 0 10px;
    margin: 0 auto;
}
.about-page .content_rates_tabs.social-projects .content_tab li {
    padding: 0 5px;
    margin: 0 auto;
}
.about-page .min-linck .content_rates_tabs .content_tab li {
    padding: 0 10px;
    margin-left: 35px;
}
.about-page .content_rates_tabs .content_tab a.ui-tabs-anchor {
    font-size: 15px;
    text-align: center;
    margin: 0 auto;
}
.about-page .content_rates_tabs .content_body {
    padding: 30px 0 0;
    margin: 0px;
}
.manager.views-row-1 {
    margin-bottom: 50px;
}
.manager h3 {
    margin: 0;
}
.manager .photo img {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
}
.manager .worker {
    margin-bottom: 20px;
}
.manager .position {
    color: rgb(29, 169, 175);
    font-weight: 600;
}
.title_header_block .title-text {
    font-weight: 400;
}
.title_header_block .full-linck-header {
    margin-top: 30px;
}

.about-page h2 {
    font-size: 28px;
}
.about-page h3 {
    color: rgb(27, 29, 31);
    font-weight: 600;
}
.about-page .conditions h3 {
    text-align: left;
    margin-top: 0;
    margin-left: 40px;
}
.about-page .views-1 .title {
    color: rgb(29, 169, 175);
    font-size: 45px;
    font-weight: 500;
}
.about-page .logo-bank {
    display: inline-block;
    margin: 0 20px 0;
}
.manager.views-row-1 {
    margin-bottom: 50px;
}
.manager h3 {
    margin: 0;
}
.manager .photo img {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
}
.manager .worker {
    margin-bottom: 20px;
}
.manager .position {
    color: rgb(29, 169, 175);
    font-weight: 600;
    margin-bottom: 20px;
}
.doc_list .doc_item.full-contener,
.about-page .right .doc_list .doc_item {
    width: 100%;
    margin-bottom: 30px;
}
.preview-content .doc_list .doc_item {
    width: 100%;
}
.about-page table.tb td {
    font-size: 15px;
}
.about-page .right .doc_list .doc_body {
    margin-right: 0;
}
.about-page .wr_form_application {
    margin-bottom: 0;
}
.about-page .wr_form_application .button {
    float: right;
}
.about-page .wr_form_application .form_application {
    background: #fff;
    padding: 40px 40px 100%;
}
.about-page .block-card .wr_form_application .form_application {
    background: #fff;
    padding: 40px 40px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.about-page label.error {
    margin-left: 0;
}
.about-page input.button {
    float: right;
}
.preview-card {
    background: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.06);
}
.about-page .preview-card .content_rates_tabs {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}
.preview-card .preview-content-filtr,
.preview-card .preview-content {
    border-bottom: 1px solid #e2e8eb;
    padding: 40px;
}
.preview-card .title {
    color: #1a9599;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    display: block;
}
.preview-card .text {
    font-size: 16px;
    color: rgb(27, 29, 31);
}
.block-card .faq .doc_list .doc_item,
.preview-content .faq .doc_list .doc_item,
.preview-content-filtr .doc_list .doc_item {
    width: 100%;
}
.block-card .faq .contrnt-otchet,
.preview-content-filtr .faq .contrnt-otchet {
    padding: 0 30px;
}
.preview-content .faq {
    padding: 0 40px;
}