.main_content {
    min-height: 920px;
    background-color: #f6f6f6;
}
#atm-ofice-filtr .jq-selectbox .select_title {
    margin: 8px 0px 0px;
}
#atm-ofice .jq-selectbox__select-text {
    margin: -5px 0 0;
}
.switching-offices-atm {
    padding-top: 12px;
}
.switching-offices-atm .toggle-light-wr {
    vertical-align: -8px;
}
.switch-list-card {
    padding-top: 32px;
    padding-right: 40px;
}
.basic-filter {
    padding-top: 80px;
    height: 170px;
    position: relative;
}
.switch-list-card span.h-1 {
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    margin: 0 0 0 15px;
}
#map-bank .hidden,
#list-bank .hidden,
#cash-dispenser .hidden,
#offices .hidden {
    display: none;
}
#form-list-ofis .block-filtr-list {
    position: relative;
    /*z-index: 1;*/
}
#map-bank.offices {
    min-height: 750px;
    position: relative;
}
.bank .jq-selectbox__select {
    background-color: transparent;
}
.block-filtr {
    width: 100%;
    border: 2px solid #e2e8eb;
    border-radius: 2px;
    position: absolute;
    z-index: 1;
}
.block-filtr-list {
    padding: 1px 0 30px;
    background: #fff;
}
.block-filtr-list.select {
    background: transparent;
}
.filtr-block-1 {
    width: 350px;
    height: 610px;
    background: #fff;
    border: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 1.5rem;
    left: 15px;
}
.filtr-block-2 {
    width: 350px;
    height: 65px;
    background: #fff;
    border: 0;
    left: 15px;
    bottom: -45.5rem;
}
.filtr-block-3 {
    width: 265px;
    height: 65px;
    border: 0;
    top: 1.55rem;
    right: 17px;
}
.filtr-block-4 {
    width: 265px;
    height: 295px;
    border: 0;
    background: #fff;
    top: 7.3rem;
    right: 17px;
}
.filtr-block-5 {
    width: 265px;
    height: 58px;
    border: 0;
    top: 7.2rem;
    z-index: 3;
    right: 17px;
}
.filtr-block-5 .jq-selectbox__dropdown {
    margin: -5px 0 0;
}
.filtr-block-6 {
    width: 265px;
    height: 110px;
    border: 0;
    background: #fff;
    top: 12.75rem;
    right: 17px;
}
.block-filtr .card-block.data {
    padding: 0 20px 5px;
    position: relative;
}
.block-filtr .card-block.data:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e2e8eb;
    position: absolute;
    left: 0;
    top: -20px;
}
.block-filtr label,
.block-filtr-list label {
    margin: 20px 25px 0;
    width: 100%;
    display: block;
}
.card-block-list {
    font-size: 17px;
    line-height: 1.7;
    padding: 20px 30px 20px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    background: #fff;
}
#list-bank .full-linck a {
    color: rgb(27, 29, 31);
    background: transparent;
}
#list-bank .full-linck a:hover,
#list-bank .full-linck a:active,
#list-bank .full-linck a:focus {
    color: #fff;
    background: #1da9af;
}
#map-bank h2.title-ofice:first-child,
#map-bank h3.title-ofice:first-child {
    margin-top: 19px;
}
#map-bank .title-ofice,
#list-bank .title-ofice {
    color: #1da9af;
    margin-top: 0px;
}
#map-bank p,
#list-bank p,
.adres,
.round-clock,
.currency,
.phone-one,
.phone-two,
.cash-acceptance,
.currency-exchange,
.free,
.weekdays,
.weekend {
    color: rgb(27, 29, 31);
}
.phone-one a,
.phone-two a {
    color: rgb(27, 29, 31);
}
#modal_form .adres {
    clear: both;
}
#modal_form-atm .modal-header,
#modal_form-office .modal-header {
    padding: 30px 30px 15px 30px;
}
#modal_form-atm .modal-body,
#modal_form-office .modal-body {
    padding: 0;
}
#modal_form-atm .block-line,
#modal_form-office .block-line {
    padding: 5px 30px 30px;
    background-color: #f9f9f9;
    border-top: 1px solid #e2e8eb;
}
#modal_form-atm .block-line-bottom,
#modal_form-office .block-line-bottom {
    padding: 5px 30px 30px;
    background-color: #f9f9f9;
    border-top: 1px solid #e2e8eb;
}
.modal-content .content_rates_tabs .content_tab a.ui-tabs-anchor {
    font-size: 17px;
    font-weight: 600;
}
#modal_form-atm .modal-footer,
#modal_form-office .modal-footer {
    padding: 30px;
}
.modal-content .content_rates_tabs {
    border-bottom:0;
}
#modal_form-atm .modal-content-top,
#modal_form-office .modal-content-top {
    padding: 0 30px;
}
.list-bank-mobile {
    padding-right: 45px;
}
#atm-ofice-filtr .toggle-light-wr {
    margin: 0 15px;
}
#atm-ofice .wr_complex_input .complex_input_body {
    padding: 10px 8px 7px 0px;
}
#atm-ofice .wr_complex_input {
    height: 60px;
}
#atm-ofice .complex_input_noicon .simple_input {
    margin: 2px 0px 2px;
}
.modal-dialog .content_rates_tabs .content_tab {
    padding-left: 30px;
    padding-right: 30px;
}
#filtr-atm-ofice-all .complex_input_noicon > .complex_input_body {
    margin: 0 25px 0;
}
#filtr-atm-ofice-all .jq-selectbox__select {
    padding: 0 48px 0 25px;
}
#filtr-atm-ofice-all .jq-selectbox li {
    padding: 21px 30px 19px;
}

.col-right.ymap {
    position: absolute;
    top: 1.55rem;
    right: 15px;
    z-index: 3;
}

div.col-right.ymap .block-filtr.filtr-block-3,
div.col-right.ymap .block-filtr.filtr-block-4,
div.col-right.ymap .block-filtr.filtr-block-5,
div.col-right.ymap .block-filtr.filtr-block-6
{
    position: relative ;
    top: auto;
    right: auto;
    margin-bottom: 40px;
    padding-top: 1px;
}
div.col-right.ymap .block-filtr:first-child {
    z-index: 10;
}