
/**wr_block_search**/
.wr_block_search
{
    position: absolute;
    background: #ffffff;
    top: 0px;
    bottom: 0px;
    z-index: 20;
    cursor: initial;
    /*overflow: hidden;*/

    right: 155px;
    width: 0px;

    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); /* IE 5.5+*/
    -moz-opacity: 0; /* Mozilla 1.6 ? ???? */
    -khtml-opacity: 0; /* Konqueror 3.1, Safari 1.1 */
    opacity: 0; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+ */

    transition: opacity 0.2s linear, right 0.2s linear, width 0.2s linear;
    -webkit-transition: opacity 0.2s linear, right 0.2s linear, width 0.2s linear;
    -moz-transition: opacity 0.2s linear, right 0.2s linear, width 0.2s linear;
    -o-transition: opacity 0.2s linear, right 0.2s linear, width 0.2s linear;
}

.wr_block_search.open
{
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); /* IE 5.5+*/
    -moz-opacity: 1; /* Mozilla 1.6 ? ???? */
    -khtml-opacity: 1; /* Konqueror 3.1, Safari 1.1 */
    opacity: 1; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+ */

    right: 0px;
    width: 100%;
}

.wr_block_search .block_search
{
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
}

.wr_block_search.open .block_search
{
    max-width: 1280px;
    width: 100%;
    margin: 0px auto;
}

.wr_block_search .block_search_ico
{
    background: url('../img/search/loop.png') no-repeat center;
    width: 47px;
    height: 47px;
    float: left;
}

.wr_block_search .block_search_close
{
    background: url('../img/search/close.png') no-repeat center;
    width: 47px;
    height: 47px;
    float: right;
    cursor: pointer;
    width: 25px;
}

.wr_block_search .block_search_input
{
    margin: 0px 60px;
}

.wr_block_search .block_search_input input
{
    font-size: 18px;
    color: rgba(27, 29, 31, 0.702);
    border: none;
    line-height: 45px;
    width: 100%;
    background: transparent;
}

.wr_block_search .block_search_input input::-webkit-input-placeholder {color: rgba(27, 29, 31, 0.702);}
.wr_block_search .block_search_input input::-moz-placeholder          {color: rgba(27, 29, 31, 0.702);}
.wr_block_search .block_search_input input:-moz-placeholder           {color: rgba(27, 29, 31, 0.702);}
.wr_block_search .block_search_input input:-ms-input-placeholder      {color: rgba(27, 29, 31, 0.702);}
.wr_block_search .block_search_input input:focus{outline: none;}

/*
.wr_block_search .block_search_input input:focus::-webkit-input-placeholder {color: transparent}
.wr_block_search .block_search_input input:focus::-moz-placeholder          {color: transparent}
.wr_block_search .block_search_input input:focus:-moz-placeholder           {color: transparent}
*/

/**wr_block_search**/


.wr_block_search_result
{
    z-index: 20;
    background: #fff;
    position: absolute;
    top: 47px;
    left: 0px;
    right: 0px;
    display: none;
    overflow: hidden;
    -webkit-box-shadow: 0px 7px 10px 2px rgba(0, 0, 0, 0.06);
    -moz-box-shadow:    0px 7px 10px 2px rgba(0, 0, 0, 0.06);
    box-shadow:         0px 7px 10px 2px rgba(0, 0, 0, 0.06);

    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -o-transition: 0.2s linear;
}



.wr_block_search_result .block_search_result
{
    border-top:1px solid #d0d7da;
    padding: 30px 0px;
}

.wr_block_search_result .search_result
{

}

.wr_block_search_result .search_result_block
{
    font-size: 22px;
    color: rgb(0, 0, 0);
}

.wr_block_search_result .search_result_block p
{
    margin: 0px 0px;
}

.wr_block_search_result .search_result_title
{
    font-size: 12px;
    color: rgb(137, 154, 163);
    text-transform: uppercase;
}

.wr_block_search_result .search_result_list
{
    margin-bottom: 30px;
}

.wr_block_search_result .search_result_list:last-child
{
    margin-bottom: 0px;
}

.wr_block_search_result .search_result_list ul
{

}

.wr_block_search_result .search_result_list li
{
    margin: 10px 0px 20px;
}

.wr_block_search_result .search_result_list li:last-child
{
    margin-bottom: 0px;
}

.wr_block_search_result .search_result_list a
{
    font-size: 22px;
    color: rgb(0, 0, 0);
}

.wr_block_search_result .search_result_list a:hover
{
    text-decoration: underline;
}

.wr_block_search_result .search_result_list b
{
    font-weight: 600;
}

.wr_mobail_min_menu .wr_block_search_result
{
    z-index: 1;
    top: 50px;

    position: fixed;
    top: 90px;
    bottom: 0px;
    overflow: auto;
}

.wr_mobail_min_menu .wr_block_search_result .block_search_result
{
    border-top:none;
}

.wr_mobail_min_menu .wr_block_search_result .search_result_list
{
    margin-bottom: 15px;
    border-bottom: 1px solid #d0d7da;
    padding-bottom: 15px;
}

.wr_mobail_min_menu .wr_block_search_result .search_result_list:last-child
{
    margin-bottom: 0px;
    border-bottom: none;
    padding-bottom: 0px;
}

@media screen and (max-width: 992px)
{
    .wr_block_search_result .block_search_result
    {
        padding: 30px 20px;
    }

    .wr_block_search_result .search_result_list a {
        font-size: 18px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1300px) {
    .wr_block_search .block_search_close {
        margin-right: 15px;
    }
}