.ui-slider-horizontal {
    height: .8em;
    border-top: 2px solid #e2e8eb;
    margin: -2px 1px 0px;
}

.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
    border-top: 2px solid #1da9af;
    margin-top: -2px;
    margin-left: -1px;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -16px;
    margin-left: -14px;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 28px;
    height: 28px;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
    background: url('../img/calkh.png') center center no-repeat #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;


    -webkit-box-shadow: 0px 1px 4px 0px rgba(13, 19, 26, 0.12),0px 4px 16px 0px rgba(13, 19, 26, 0.32);
    -moz-box-shadow:    0px 1px 4px 0px rgba(13, 19, 26, 0.12),0px 4px 16px 0px rgba(13, 19, 26, 0.32);
    box-shadow:         0px 1px 4px 0px rgba(13, 19, 26, 0.12),0px 4px 16px 0px rgba(13, 19, 26, 0.32);

}

.ui-slider .ui-slider-handle:hover
{
    background-color: rgb(29, 169, 175);
}

.ui-slider .ui-slider-handle:focus
{
    background-color: rgb(29, 169, 175);
    outline: none;
}

