.wr_form_application .form_application_button_left .jq-checkbox
{
    overflow: visible!important;
}

.form_application{
    padding:  10px !important;
    background:  white !important;
    border-radius:  5px !important;
}


.cheks .text {
    bottom: 16px;
	top: 0 !important;
	position: relative !important;
}