.rates_right_top
{
    margin-bottom: 35px;
}

.rates_right_body
{

}

.rates_right_body .rates_right_right
{
    margin-bottom: 25px;
}

.rates_right_body .rates_right_left
{

}

@media screen and (max-width: 992px) {
    .rates_right_top {
        margin-top: 35px;
        width: 47%;
    }

    .rates_right_body .rates_right_right {
        margin-bottom: 0px;
        width: 47%;
        float: right;
    }

    .rates_right_body .rates_right_left {
        width: 47%;
        float: left;
    }

    .rates_right_body {
        overflow: hidden;
    }
}


@media screen and (max-width: 600px) {
    .rates_right_top {
        /*margin-top: 0px;*/
        width: auto;
    }

    .rates_right_body .rates_right_left {
        width: auto;
        float: inherit;
    }

    .rates_right_body .rates_right_right {
        margin-bottom: 31px;
        width: initial;
        float: inherit;
    }

}