/* normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* ==========================================================================
 * цвет выделения текста
   ========================================================================== */

::-moz-selection {
  background: #cdcdcd;
  color: #fff;
}

::selection {
  background: #cdcdcd;
  color: #fff;
}

::-moz-selection {
  background: #cdcdcd;
  color: #fff;
}

/* ==========================================================================
   цвет плейсхолдеров
   ========================================================================== */

::-webkit-input-placeholder {
  color: #777;
}

:-moz-placeholder {
  color: #777;
}

/* FF 4-18 */

::-moz-placeholder {
  color: #777;
}

/* FF 19+ */

:-ms-input-placeholder {
  color: #777;
}

/* placeholders focus */

/* IE 10+ */

input:focus::-webkit-input-placeholder {
  color: transprent;
}

input:focus:-moz-placeholder {
  color: transprent;
}

/* FF 4-18 */

input:focus::-moz-placeholder {
  color: transprent;
}

/* FF 19+ */

input:focus:-ms-input-placeholder {
  color: transprent;
}

/* IE 10+ */

:focus::-webkit-input-placeholder {
  color: transprent;
}

:focus::-moz-placeholder {
  color: transprent;
}

:focus:-moz-placeholder {
  color: transprent;
}

:focus:-ms-input-placeholder {
  color: transprent;
}

* {
  min-width: 0;
  min-height: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

* + .app-headline,
* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6,
* + table,
* + address,
* + blockquote,
* + dl,
* + fieldset,
* + figure,
* + ol,
* + p,
* + pre,
* + ul {
  margin-top: 20px;
}

.app-headline,
h1,
h2,
h3,
h4,
h5,
h6,
table,
address,
blockquote,
dl,
fieldset,
figure,
ol,
p,
pre,
ul {
  margin: 0 0 20px 0;
}

/* ==========================================================================
   Заголовки
   ========================================================================== */

.app-headline,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  color: #000;
  text-align: center;
  font-family: Roboto;
}

.app-headline.white,
h1.white,
h2.white,
h3.white,
h4.white,
h5.white,
h6.white {
  color: #fff;
}

.app-headline.black,
h1.black,
h2.black,
h3.black,
h4.black,
h5.black,
h6.black {
  color: #000;
}

.app-headline.blue,
h1.blue,
h2.blue,
h3.blue,
h4.blue,
h5.blue,
h6.blue {
  color: #0099af;
}

.app-headline,
h1 {
  font-size: 48px;
  text-transform: uppercase;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 36px;
}

h5 {
  font-size: 32px;
}

h6 {
  font-size: 28px;
}

/* ==========================================================================
   Цитата
   ========================================================================== */

blockquote {
  font-style: italic;
  background: rgba(205,205,205,0.1);
  border-left: 10px solid #cdcdcd;
  margin: 20px;
  padding: 15px;
}

blockquote p {
  display: inline;
  margin: 0;
}

/* ==========================================================================
   ссылки
   ========================================================================== */

a {
  color: #0099af;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a:active,
a:focus {
  outline: none;
}

a img {
  border: none;
}

/* ==========================================================================
   таблицы
   ========================================================================== */

table caption {
  font-style: italic;
}

table thead,
table th {
  font-weight: 400;
}

table caption,
table th,
table td {
  padding: 10px 20px;
  text-align: left;
}

table.table0 th,
table.table0 td {
  border: none;
}

table.table1 th,
table.table1 td {
  border: 1px solid rgba(218,221,222,0.5);
}

table.table2 thead,
table.table2 th {
  background-color: #cdcdcd;
  color: #fff;
}

/* ==========================================================================
   вставки кода
   ========================================================================== */

pre {
  padding: 10px;
  background: #fafafa;
  font: 12px/18px Consolas, monospace, serif;
  color: #666;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  overflow: auto;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

:not(pre) > code,
:not(pre) > kbd,
:not(pre) > samp {
  font-size: 12px;
  font-family: Consolas, monospace, serif;
  color: #d05;
  white-space: nowrap;
  padding: 0 4px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background: #fafafa;
}

/* ==========================================================================
   SVG -иконки
   ========================================================================== */

.main-svg-sprite {
  display: none;
}

.svg-icon {
  width: 24px;
  height: 24px;
  fill: #333;
}

.svg-icon__link {
  vertical-align: top;
  fill: inherit;
  width: inherit;
  height: inherit;
}

/* ==========================================================================
   хелперы
   ========================================================================== */

.hidden {
  display: none !important;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.max-width {
  max-width: 1170px;
  margin: 0 auto;
}

.white-btn {
  text-decoration: none;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  border-radius: 5px;
  background-color: #fff;
  color: #0099af;
}

.blue-btn {
  text-decoration: none;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  border-radius: 5px;
  background-color: #09c;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#09c), to(#07dcf4));
  background-image: -webkit-linear-gradient(bottom, #09c 0%, #07dcf4 100%);
  background-image: -o-linear-gradient(bottom, #09c 0%, #07dcf4 100%);
  background-image: linear-gradient(to top, #09c 0%, #07dcf4 100%);
  color: #fff;
}

.blue-btn:disabled {
  background: #d7dede;
  color: #000;
}

.about-us {
  position: relative;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  background: #0099af url("../img/about-us-bg.jpg") 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.about-us:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #0099af;
  background-image: -webkit-linear-gradient(60deg, #07dcf4 0%, #09c 100%);
  background-image: -o-linear-gradient(60deg, #07dcf4 0%, #09c 100%);
  background-image: linear-gradient(30deg, #07dcf4 0%, #09c 100%);
  opacity: 0.5;
}

.about-us__in {
  position: relative;
  padding: 90px 0 70px;
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.about-us__in a {
  text-decoration: none;
  color: #fff;
}

.about-us__in .app-headline {
  text-align: left;
}

.about-us__logo-wr {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 300px;
  -ms-flex: 0 0 300px;
  flex: 0 0 300px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.about-us__logo-wr .svg-icon {
  position: relative;
  width: 300px;
  height: 212px;
}

.about-us__logo-wr .svg-icon svg {
  fill: #fff;
}

.about-us__logo-wr .svg-icon:before {
  content: "";
  position: absolute;
  left: 50%;
  top: -999px;
  bottom: 148px;
  width: 1px;
  background: #fff;
  opacity: 0.5;
}

.about-us__logo-wr .svg-icon:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -999px;
  top: 100%;
  margin-top: 15px;
  width: 1px;
  background: #fff;
  opacity: 0.5;
}

.about-us__text {
  padding: 0 0 0 50px;
}

.about-us__text .app-headline {
  margin-bottom: 32px;
}

.about-us__pdf-download .link-name {
  display: inline-block;
  vertical-align: middle;
  border-bottom: 1px solid #fff;
}

.about-us__pdf-download .svg-icon {
  width: 28px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.about-us__pdf-download .svg-icon svg {
  fill: #fff;
}

.advantages-block {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}

.advantages-block__in {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 77px 0 64px;
}

.advantages-block__item {
  margin-bottom: 10px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 31.62393162393162%;
  -ms-flex: 0 0 31.62393162393162%;
  flex: 0 0 31.62393162393162%;
  margin-right: 2.564102564102564%;
  text-align: center;
  -webkit-box-shadow: 0 10px 20px rgba(0,153,175,0.15);
  box-shadow: 0 10px 20px rgba(0,153,175,0.15);
  border-radius: 5px;
  background-color: #fff;
  padding: 27px 10px 4px;
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.advantages-block__item:hover {
  color: #fff;
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  background-color: #0099af;
  background-image: -webkit-linear-gradient(60deg, #09c 0%, #07dcf4 100%);
  background-image: -o-linear-gradient(60deg, #09c 0%, #07dcf4 100%);
  background-image: linear-gradient(30deg, #09c 0%, #07dcf4 100%);
}

.advantages-block__item:hover .svg-icon svg {
  fill: #fff;
}

.advantages-block__item:nth-child(3n) {
  margin-right: 0;
}

.advantages-block__item .svg-icon {
  width: 60px;
  height: 60px;
  display: inline-block;
  margin-bottom: 12px;
}

.advantages-block__item .svg-icon svg {
  fill: #0099af;
}

.advantages-block__title {
  font-size: 18px;
  font-weight: 400;
}

.advantages-dop {
  position: relative;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  background: url("../img/advantages-dop.jpg") 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.advantages-dop .svg-icon--procent-left {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -100px;
  margin-left: -880px;
  width: 230px;
  height: 180px;
}

.advantages-dop .svg-icon--procent-right {
  position: absolute;
  right: 50%;
  top: 50%;
  margin-top: -120px;
  margin-right: -820px;
  width: 150px;
  height: 220px;
}

.advantages-dop__bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: -webkit-linear-gradient(60deg, #07dcf4 0%, #09c 100%);
  background-image: -o-linear-gradient(60deg, #07dcf4 0%, #09c 100%);
  background-image: linear-gradient(30deg, #07dcf4 0%, #09c 100%);
  opacity: 0.5;
}

.advantages-dop__in {
  position: relative;
  padding: 90px 0 140px;
}

.advantages-dop__title {
  margin: 0 0 45px;
}

.advantages-dop__content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 0 30px;
}

.advantages-dop__item {
  position: relative;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  padding: 30px 0 28px;
}

.advantages-dop__item:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-right: 1px solid #fff;
  opacity: 0.25;
}

.advantages-dop__item:nth-child(4n):before {
  border-right: none;
}

.advantages-dop__item:nth-child(1n+5):before {
  border-top: 1px solid #fff;
}

.advantages-dop__item:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  border-radius: 5px;
  background-color: #fff;
  color: #000;
}

.advantages-dop__item:hover .svg-icon svg {
  fill: #0099af;
}

.advantages-dop__item .svg-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 0 15px;
}

.advantages-dop__item .svg-icon svg {
  fill: #fff;
}

.advantages-dop__description {
  display: block;
  padding: 0 15px;
}

.advantages-dop__btn-wr {
  text-align: center;
}

.advantages-dop__btn-wr .blue-btn {
  display: inline-block;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  min-width: 270px;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 28px 20px;
}

.app-footer {
  background: #fff;
}

.app-footer__in {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 30px 0;
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
}

.app-footer__left {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 170px;
  -ms-flex: 0 0 170px;
  flex: 0 0 170px;
}

.app-footer__left .svg-icon {
  width: 170px;
  height: 120px;
}

.app-footer__left .svg-icon svg {
  fill: #0099af;
}

.app-footer__right {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 450px;
  -ms-flex: 0 1 450px;
  flex: 0 1 450px;
}

.app-footer .copyright {
  margin: 0 0 15px;
}

.app-footer__phone {
  text-decoration: none;
  color: #0099af;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 10px;
}

body {
  padding-top: 90px;
}

.app-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  margin: 0;
  background: #fff;
}

.app-header__in {
  min-height: 90px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.app-header__logo {
  position: relative;
  z-index: 1;
  margin-bottom: -35px;
  min-width: 230px;
}

.app-header__logo img {
  max-width: 100%;
}

.app-header__navigation-wr .svg-icon--close {
  display: none;
}

.app-header__navigation-wr ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
  line-height: 1;
}

.app-header__navigation-wr ul li {
  display: inline-block;
  vertical-align: top;
  margin-right: 24px;
}

.app-header__navigation-wr ul li:last-child {
  margin-right: 0;
}

.app-header__navigation-wr ul li a {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  padding: 0 0 3px;
  border-bottom: 1px dashed #0099af;
}

.app-header__navigation-wr ul li a:hover {
  border-color: transparent;
}

.app-header__phone {
  position: relative;
  padding: 0 0 0 22px;
  min-width: 210px;
  max-width: 100%;
}

.app-header__phone .svg-icon {
  width: 17px;
  height: 17px;
  position: absolute;
  left: 0;
  top: 5px;
}

.app-header__phone .svg-icon svg {
  fill: #999;
}

.app-header__phone a {
  text-decoration: none;
  color: #0099af;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

.app-header__mobile-burger {
  display: none;
}

.application-info {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  position: relative;
  background: url("../img/application-info-bg.jpg") 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.application-info__bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #07dcf4;
  background-image: -webkit-linear-gradient(60deg, #07dcf4 0%, #09c 100%);
  background-image: -o-linear-gradient(60deg, #07dcf4 0%, #09c 100%);
  background-image: linear-gradient(30deg, #07dcf4 0%, #09c 100%);
  opacity: 0.25;
}

.application-info__in {
  position: relative;
  padding: 88px 0 100px;
}

.application-info .app-headline {
  margin: 0 0 38px;
}

.application-info__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.application-info__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 31.62393162393162%;
  -ms-flex: 0 0 31.62393162393162%;
  flex: 0 0 31.62393162393162%;
  margin-right: 2.564102564102564%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  border-radius: 5px;
  background-color: #09c;
  background-image: -webkit-linear-gradient(60deg, #09c 0%, #07dcf4 100%);
  background-image: -o-linear-gradient(60deg, #09c 0%, #07dcf4 100%);
  background-image: linear-gradient(30deg, #09c 0%, #07dcf4 100%);
  padding: 39px 0 25px;
}

.application-info__item:nth-child(3n) {
  margin-right: 0;
}

.application-info__item .svg-icon {
  display: inline-block;
  width: auto;
  height: 60px;
  margin-bottom: 16px;
}

.application-info__item .svg-icon svg {
  fill: #fff;
}

.application-info__description {
  display: block;
  color: #fff;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
}

.application-info__description a {
  color: #fff;
}

.application-info__description a.phone {
  text-decoration: none;
}

.application-info__description strong {
  font-size: 30px;
}

.calculator-block {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  background: #f6f6f6;
}

.calculator-block__in {
  padding: 70px 0 75px;
}

.calculator-block__title {
  margin: 0 0 45px;
}

.calculator-block__bottom {
  padding: 21px 100px 50px;
  margin: 0 -100px;
  background: #fafafa;
  border-radius: 0 0 5px 5px;
}

.calculator-block__calculator-content {
  max-width: 770px;
  width: 100%;
  margin: 0 auto;
  padding: 46px 100px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 10px 20px rgba(0,153,175,0.15);
  box-shadow: 0 10px 20px rgba(0,153,175,0.15);
  border-radius: 5px;
  background-color: #fff;
}

.calculator-block__calculator-content .title {
  color: #333;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 14px;
}

.calculator-block__calculator-content .title span {
  color: #0099af;
}

.calculator-block__calculator-content .body {
  position: relative;
  padding: 0 0 20px;
  border-bottom: 1px solid #ccc;
  margin: 0 0 21px;
}

.calculator-block__calculator-content .body.credit-term-wr {
  border-bottom: none;
  padding-bottom: 0;
}

.calculator-block__calculator-content input[type="number"],
.calculator-block__calculator-content input[type="text"] {
  width: 100%;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.calculator-block__calculator-content input[type="number"].monthly-payment,
.calculator-block__calculator-content input[type="text"].monthly-payment {
  font-size: 30px;
  color: #0099af;
  font-family: "Roboto";
  font-weight: 900;
}

.calculator-block .kredit-summa {
  padding-bottom: 54px;
}

.calculator-block .kredit-summa .jq-number__spin {
  display: none;
}

.calculator-block .input_range_slider-left,
.calculator-block .input_range_slider-right {
  position: absolute;
  bottom: 20px;
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  display: inline-block;
}

.calculator-block .input_range_slider-left {
  left: 0;
}

.calculator-block .input_range_slider-right {
  right: 0;
}

.calculator-block .interest-rate-body {
  font-size: 0;
}

.calculator-block .interest-rate-body label {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  font-family: Roboto;
  color: #333;
  font-size: 16px;
  padding: 0 15px 0 0;
}

.calculator-block .interest-rate-body label:nth-child(2n) {
  padding: 0 0 0 15px;
}

.calculator-block .interest-rate-body label:nth-child(2n) .jq-radio {
  left: 15px;
}

.calculator-block .interest-rate-body label .jq-radio {
  position: absolute;
  left: 0;
  top: 0;
}

.calculator-block .interest-rate-body .value {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  vertical-align: middle;
}

.calculator-block .interest-rate-body .info-block {
  display: block;
  margin-left: 25px;
}

.calculator-block .interest-rate-body .interest-rate-info {
  position: relative;
  width: 15px;
  height: 16px;
}

.calculator-block .interest-rate-body .svg-icon {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 16px;
  margin-top: -3px;
  cursor: pointer;
}

.calculator-block .interest-rate-body .svg-icon svg {
  fill: #ccc;
}

.calculator-block .info-popup {
  position: absolute;
  left: 50%;
  bottom: 100%;
  margin-left: -90px;
  width: 180px;
  padding: 5px;
  background: #d0d0d0;
  color: #000;
  border-radius: 3px;
  font-size: 14px;
  margin-top: -30px;
  display: none;
  z-index: 1;
  font-weight: normal;
}

.calculator-block .info-popup.active {
  display: block;
}

.calculator-block .credit-term-wr {
  font-size: 0;
}

.calculator-block .credit-term-wr > div {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Roboto;
  color: #333;
  font-size: 16px;
  padding: 0 15px 0 0;
}

.calculator-block .credit-term-wr > div:nth-child(2n) {
  padding: 0 0 0 15px;
}

.calculator-block .credit-term-wr > div input {
  text-align: center;
}

.calculator-block .credit-term-wr > div.credit-term-left {
  position: relative;
  padding-bottom: 35px;
}

.calculator-block .credit-term-wr > div.credit-term-left .input_range_slider-right {
  right: 15px;
  bottom: 0;
}

.calculator-block .credit-term-wr > div.credit-term-left .input_range_slider-left {
  bottom: 0;
}

.calculator-block .credit-term-wr > div .credit-term-info {
  position: relative;
  width: 15px;
  height: 16px;
}

.calculator-block .credit-term-wr > div .svg-icon {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 16px;
  margin-top: -3px;
  cursor: pointer;
  display: none;
}

.calculator-block .credit-term-wr > div .svg-icon svg {
  fill: #ccc;
}

.calculator-block .result-wrap-block {
  font-size: 0;
  padding-bottom: 17px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 23px;
  text-align: center;
}

.calculator-block .result-wrap-block > div {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Roboto;
  color: #333;
  font-size: 16px;
  padding: 0 15px 0 0;
  padding: 0;
}

.calculator-block .result-wrap-block > div.result-left {
  display: none;
}

.calculator-block .result-wrap-block > div:nth-child(2n) {
  padding: 0 0 0 15px;
}

.calculator-block .result-wrap-block > div .result-body {
  color: #0099af;
  font-size: 36px;
  font-weight: 900;
}

.calculator-block .result-wrap-block > div .title {
  margin-bottom: 6px;
}

.calculator-block .result-wrap-block > div .blue-btn {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 1;
  padding: 21px 20px;
  text-align: center;
}

.calculator-block .information-block {
  color: #666;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
}

.form-block {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  background: url("../img/form-bg.jpg") 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.form-block__in {
  padding: 62px 0 75px;
}

.form-block__in .app-headline {
  margin: 0 0 10px;
}

.form-block__description {
  color: #000;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  max-width: 600px;
  margin: 0 auto 28px;
  text-align: center;
}

.form-block__form-content {
  position: relative;
  padding: 20px;
  max-width: 670px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form-block__form-content:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #07dcf4;
  background-image: -webkit-linear-gradient(60deg, #07dcf4 0%, #09c 100%);
  background-image: -o-linear-gradient(60deg, #07dcf4 0%, #09c 100%);
  background-image: linear-gradient(30deg, #07dcf4 0%, #09c 100%);
  opacity: 0.5;
}

.form-block__form-content form {
  position: relative;
  padding: 26px 30px 30px;
  -webkit-box-shadow: 0 10px 20px rgba(0,153,175,0.15);
  box-shadow: 0 10px 20px rgba(0,153,175,0.15);
  border-radius: 5px;
  background-color: #fff;
}

.form-block__form-content form label {
  display: block;
  margin: 0 0 22px;
}

.form-block__form-content form label.checkbox-wr {
  position: relative;
  padding: 0 0 0 18px;
}

.form-block__form-content form label.checkbox-wr .title {
  color: #000;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}

.form-block__form-content form label.checkbox-wr a {
  color: #0099af;
  text-decoration: underline;
}

.form-block__form-content form label.checkbox-wr a:hover {
  text-decoration: none;
}

.form-block__form-content form label.checkbox-wr input[type="checkbox"] {
  display: none;
}

.form-block__form-content form label.checkbox-wr input[type="checkbox"]:checked ~ .check:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 7px;
  height: 7px;
  background: #0099af;
  margin: -4px 0 0 -3px;
}

.form-block__form-content form label.checkbox-wr .check {
  position: absolute;
  left: 0;
  top: 1px;
  width: 11px;
  height: 11px;
  border: 1px solid #ccc;
}

.form-block__form-content form .title {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  display: block;
  margin: 0 0 10px;
}

.form-block__form-content form .title span {
  color: #0099af;
}

.form-block__form-content input[type="text"],
.form-block__form-content input[type="email"],
.form-block__form-content input[type="tel"] {
  height: 60px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 18px;
  color: #999;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
}

.form-block__form-content .blue-btn {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  padding: 28px 20px;
}

.popup-message-wr {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 9999;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: rgba(0,0,0,0.5);
}

.popup-message-wr.opened {
  visibility: visible;
  opacity: 1;
}

.popup-message-wr .popup-message-in {
  position: relative;
  max-width: 630px;
  width: 100%;
  margin: 0 30px;
  background: #fff;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Roboto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 315px;
}

@supports (display: block) {
  .popup-message-wr .popup-message-in {
    min-height: 315px;
  }
}

.popup-message-wr .popup-message-in:before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  background-color: #07dcf4;
  background-image: -webkit-linear-gradient(60deg, #07dcf4 0%, #09c 100%);
  background-image: -o-linear-gradient(60deg, #07dcf4 0%, #09c 100%);
  background-image: linear-gradient(30deg, #07dcf4 0%, #09c 100%);
  opacity: 0.5;
}

.popup-message-wr .popup-message-in:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-box-shadow: 0 10px 20px rgba(0,153,175,0.15);
  box-shadow: 0 10px 20px rgba(0,153,175,0.15);
  border-radius: 5px;
  background-color: #fff;
}

.popup-message-wr .popup-message-in .svg-icon--close-popup {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  width: 55px;
  height: 55px;
}

.popup-message-wr .popup-message-in .svg-icon--close-popup svg {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  fill: #0099af;
}

.popup-message-wr .popup-message-in .popup-title {
  position: relative;
  z-index: 1;
  max-width: 420px;
  color: #0099af;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.popup-message-wr .popup-message-in .popup-body {
  position: relative;
  z-index: 1;
  max-width: 420px;
  color: #000;
  font-size: 18px;
}

.full-terms {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  background: #f6f6f6;
}

.full-terms__in {
  padding: 88px 0 70px;
}

.full-terms__in .app-headline {
  margin: 0 0 35px;
}

.full-terms__text {
  color: #333;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
}

.full-terms__download {
  color: #0099af;
  text-decoration: underline;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.full-terms__download:hover {
  text-decoration: none;
}

.full-terms__download .svg-icon {
  width: 28px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 28px;
  -ms-flex: 0 0 28px;
  flex: 0 0 28px;
}

.full-terms__download .svg-icon svg {
  fill: #0099af;
}

html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.app-header,
.app-footer {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.app-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.app-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.app-leftbar,
.app-rightbar {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 240px;
  -ms-flex: 0 0 240px;
  flex: 0 0 240px;
}

.app-leftbar {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.map-block {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}

#map-block {
  height: 760px;
  background: #ccc;
  position: relative;
}

#map-block svg {
  max-width: 100%;
  max-height: 100%;
}

#map-block #yandex_map {
  height: 760px;
}

#map-block .mCSB_scrollTools .mCSB_draggerRail {
  background-color: rgba(255,255,255,0.5);
}

#map-block .navigation {
  position: absolute;
  width: 344px;
  height: 620px;
  z-index: 10;
  top: 50px;
  left: 5%;
}

#map-block .navigation:after {
  clear: both;
  display: block;
  content: '';
  visibility: hidden;
}

#map-block .navigation .left {
  width: 370px;
  -webkit-box-shadow: 0 10px 20px rgba(0,153,175,0.15);
  box-shadow: 0 10px 20px rgba(0,153,175,0.15);
  border-radius: 5px;
  background: #0099af;
}

#map-block .navigation .left .list {
  padding: 20px 10px 20px 30px;
}

#map-block .navigation .left .list .scrollable {
  overflow-y: auto;
}

#map-block .navigation .left .list .scrollable .item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 15px;
  border: 3px solid transparent;
}

#map-block .navigation .left .list .scrollable .item.active {
  border-color: rgba(255,255,255,0.5);
}

#map-block .navigation .left .list .scrollable .item .title {
  font-weight: 700;
  margin-bottom: 3px;
}

#map-block .navigation .left .list .scrollable .item p {
  margin: 0;
}

#map-block .navigation .right {
  width: 24px;
  float: right;
  display: none;
}

#map-block .navigation .right .top {
  height: 90px;
  background: url("../img/corner.png") no-repeat 0 100%;
}

#map-block .navigation .right .grey {
  background: #edf2f6;
  height: 135px;
}

#map-block .navigation .select_block {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px;
  background: #fff;
  border-radius: 5px 5px 0 0;
}

#map-block .navigation .select_block .title {
  color: #0099af;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 0 20px;
  line-height: 1;
}

#map-block .navigation .select_block label {
  display: block;
  margin-top: 20px;
  cursor: pointer;
}

#map-block .navigation .select_block label .chk {
  position: relative;
  width: 13px;
  height: 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  border: 1px solid #ccc;
}

#map-block .navigation .select_block label span {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  vertical-align: middle;
}

#map-block .navigation .select_block label input[type='checkbox'] {
  display: none;
}

#map-block .navigation .select_block label input[type='checkbox']:checked + .chk:before {
  content: "";
  position: absolute;
  left: 1px;
  top: 1px;
  width: 9px;
  height: 9px;
  background: #0099af;
}

#map-block .navigation .select_block .select {
  margin-bottom: 20px;
  position: relative;
}

#map-block .navigation .select_block .select:after {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  border-width: 6px 5px 0 5px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #0099af;
  z-index: 1;
  margin-top: -3px;
}

#map-block .navigation .select_block .select select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  padding: 0 15px;
  height: 60px;
  width: 100%;
  display: block;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#map-block .navigation .select_block .select select::-ms-expand {
  display: none;
}

#map-block .navigation .select_block .row {
  font-size: 15px;
}

#map-block .navigation .select_block .row a {
  font-size: 13px;
  color: #0698ad;
  text-decoration: none;
  border-bottom: 1px dashed;
  margin-right: 5px;
}

.repaiment-terms {
  position: relative;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  background: #f6f6f6;
  overflow: hidden;
}

.repaiment-terms__in {
  padding: 88px 0 54px;
  position: relative;
  z-index: 1;
}

.repaiment-terms__title {
  margin: 0 0 40px;
}

.repaiment-terms__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.repaiment-terms__item {
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 48.71794871794872%;
  -ms-flex: 0 0 48.71794871794872%;
  flex: 0 0 48.71794871794872%;
  margin-right: 2.564102564102564%;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.repaiment-terms__item:nth-child(2n) {
  margin-right: 0;
}

.repaiment-terms__item--one .repaiment-terms__text:before {
  background-image: url("../img/one.png");
}

.repaiment-terms__item--two .repaiment-terms__text:before {
  background-image: url("../img/two.png");
}

.repaiment-terms__item--three .repaiment-terms__text:before {
  background-image: url("../img/three.png");
}

.repaiment-terms__item--four .repaiment-terms__text:before {
  background-image: url("../img/four.png");
}

.repaiment-terms__item-in {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 43px 55px 45px 53px;
}

.repaiment-terms__item-in .svg-icon {
  width: 70px;
  height: 70px;
  text-align: right;
  opacity: 0.25;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 70px;
  -ms-flex: 0 0 70px;
  flex: 0 0 70px;
}

.repaiment-terms__item-in .svg-icon svg {
  fill: #0099af;
}

.repaiment-terms__text {
  position: relative;
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  padding: 0 20px 0 50px;
}

.repaiment-terms__text:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 19px;
  height: 26px;
  margin-top: -13px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.banner-block {
  position: relative;
  background-color: #0099af;
  background-image: -webkit-linear-gradient(60deg, #09c 0%, #07dcf4 100%);
  background-image: -o-linear-gradient(60deg, #09c 0%, #07dcf4 100%);
  background-image: linear-gradient(30deg, #09c 0%, #07dcf4 100%);
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}

.banner-block__bg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  opacity: 0.5;
}

.banner-block__in {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 760px;
}

@supports (display: block) {
  .banner-block__in {
    min-height: 760px;
    height: auto;
  }
}

.banner-block__content {
  max-width: 450px;
  margin-left: 100px;
}

.banner-block__title {
  text-shadow: 0 10px 20px rgba(0,0,0,0.15);
  color: #fff;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 48px;
  margin: 0 0 20px;
}

.banner-block__title span {
  font-size: 72px;
}

.banner-block__body {
  color: #fff;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 400;
  margin: 0 0 20px;
}

.banner-block__body > p {
  margin-bottom: 30px;
}

.banner-block .white-btn {
  display: inline-block;
  min-width: 270px;
  padding: 28px 20px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
}

@media all and (max-width: 1210px) {
  .max-width {
    margin: 0 20px;
  }
}

@media all and (max-width: 1023px) {
  .app-header__logo {
    min-width: 0;
  }
}

@media all and (max-width: 939px) {
  .app-headline,
  h1 {
    font-size: 30px;
    text-transform: uppercase;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 22px;
  }

  h6 {
    font-size: 20px;
  }

  .about-us {
    background-image: none;
  }

  .about-us__in {
    padding: 24px 0 10px;
    position: relative;
    font-size: 16px;
  }

  .about-us__logo-wr {
    position: absolute;
    top: 10px;
    right: 0;
    width: 142px;
    height: 100px;
    opacity: 0.5;
  }

  .about-us__logo-wr .svg-icon {
    width: 142px;
    height: 100px;
  }

  .about-us__logo-wr .svg-icon:before,
  .about-us__logo-wr .svg-icon:after {
    display: none;
  }

  .about-us__text {
    padding: 0;
  }

  .about-us__text .app-headline {
    margin: 0 0 18px;
  }

  .about-us__pdf-download .svg-icon {
    width: 19px;
    height: 21px;
  }

  .advantages-block__in {
    padding: 20px 0 1px;
  }

  .advantages-block__item {
    font-size: 18px;
    margin-bottom: 20px;
    color: #fff;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    background-color: #0099af;
    background-image: -webkit-linear-gradient(60deg, #09c 0%, #07dcf4 100%);
    background-image: -o-linear-gradient(60deg, #09c 0%, #07dcf4 100%);
    background-image: linear-gradient(30deg, #09c 0%, #07dcf4 100%);
  }

  .advantages-block__item .svg-icon {
    width: 50px;
    height: 50px;
  }

  .advantages-block__item .svg-icon svg {
    fill: #fff;
  }

  .advantages-block__title {
    font-size: 16px;
  }

  .advantages-dop__in {
    padding: 45px 0 50px;
  }

  .advantages-dop__title {
    margin-bottom: 3px;
  }

  .advantages-dop__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    font-size: 16px;
    padding: 20px 0 16px;
  }

  .advantages-dop__item:nth-child(2n):before {
    border-right: none;
  }

  .advantages-dop__item:nth-child(1n+3):before {
    border-top: 1px solid #fff;
  }

  .advantages-dop__description {
    padding: 0 5px;
  }

  .advantages-dop__btn-wr .blue-btn {
    font-size: 18px;
    min-width: 200px;
    padding: 21px 20px;
  }

  .app-footer__in {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
  }

  .app-footer__left {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-bottom: 10px;
    max-width: 100%;
  }

  .app-footer__left .svg-icon {
    width: 85px;
    height: 60px;
  }

  .app-footer__middle {
    text-align: center;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    max-width: 100%;
  }

  .app-footer__right {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    text-align: center;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    margin-bottom: 10px;
    max-width: 100%;
  }

  .app-footer__phone {
    margin-bottom: 5px;
  }

  body {
    padding-top: 70px;
  }

  .app-header__in {
    min-height: 70px;
  }

  .app-header__in.max-width {
    margin: 0;
  }

  .app-header__logo {
    width: 100px;
    height: 70px;
    margin: 0;
  }

  .app-header__navigation-wr {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .app-header__navigation-wr.opened {
    visibility: visible;
    opacity: 1;
  }

  .app-header__navigation-wr:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #0099af;
    opacity: 0.75;
  }

  .app-header__navigation-wr .svg-icon--close {
    display: block;
    position: absolute;
    right: 0;
    top: 10px;
    width: 45px;
    height: 45px;
  }

  .app-header__navigation-wr .svg-icon--close svg {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -10px 0 0 -10px;
    width: 20px;
    height: 20px;
    fill: #fff;
  }

  .app-header__navigation-wr ul {
    position: relative;
    z-index: 1;
  }

  .app-header__navigation-wr ul li {
    display: block;
    margin-bottom: 25px;
  }

  .app-header__navigation-wr ul li a {
    color: #fff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    border-color: #fff;
  }

  .app-header__phone {
    padding-left: 10px;
    padding-right: 60px;
    min-width: 0;
  }

  .app-header__phone .svg-icon {
    display: none;
  }

  .app-header__phone a {
    font-size: 18px;
  }

  .app-header__mobile-burger {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -23px;
    display: block;
    width: 45px;
    height: 45px;
  }

  .app-header__mobile-burger:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 13px;
    width: 25px;
    height: 3px;
    border: 3px solid #0099af;
    border-left: none;
    border-right: none;
    margin-left: -12px;
  }

  .app-header__mobile-burger:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 25px;
    width: 25px;
    border-top: 3px solid #0099af;
    margin-left: -12px;
  }

  .application-info__in {
    padding: 45px 0 30px;
  }

  .application-info .app-headline {
    margin-bottom: 22px;
  }

  .application-info__item {
    margin-bottom: 20px;
    padding: 29px 0 30px;
  }

  .application-info__item .svg-icon {
    height: 50px;
    max-width: 100%;
    margin-bottom: 11px;
  }

  .application-info__item .svg-icon svg {
    display: inline-block;
    max-width: 100%;
  }

  .application-info__description {
    font-size: 18px;
  }

  .application-info__description strong {
    font-size: 24px;
  }

  .calculator-block__in {
    padding: 23px 0 50px;
  }

  .calculator-block__title {
    margin-bottom: 20px;
  }

  .form-block__in {
    padding: 25px 0 50px;
  }

  .form-block__in.max-width {
    margin: 0;
  }

  .form-block__description {
    font-size: 14px;
    margin-bottom: 17px;
    padding: 0 10px;
  }

  .form-block__form-content .blue-btn {
    font-size: 18px;
    padding: 21px 20px;
  }

  .full-terms__in {
    padding: 25px 0 10px;
  }

  .full-terms__in .app-headline {
    margin: 0 0 20px;
  }

  .full-terms__text {
    font-size: 16px;
  }

  .full-terms__download .svg-icon {
    width: 19px;
    height: 21px;
  }

  #map-block .navigation {
    left: 10px;
    top: 30px;
    height: 485px;
    width: 300px;
  }

  #map-block .navigation .left {
    width: 300px;
  }

  #map-block .navigation .left .list {
    padding: 15px 0px 15px 5px;
  }

  #map-block .navigation .left .list .scrollable {
    height: 255px !important;
  }

  #map-block .navigation .left .list .scrollable .item {
    padding: 5px 10px;
  }

  #map-block .navigation .select_block {
    padding: 10px 20px 10px 10px;
  }

  #map-block .navigation .select_block .title {
    font-size: 30px;
    margin-bottom: 9px;
  }

  #map-block .navigation .select_block .select {
    margin-bottom: 15px;
  }

  #map-block .navigation .select_block label {
    margin-top: 9px;
  }

  #map-block .navigation .select_block label span {
    font-size: 16px;
  }

  #map-block .mCSB_inside>.mCSB_container {
    margin-right: 15px;
  }

  .repaiment-terms:before,
  .repaiment-terms:after {
    display: none;
  }

  .repaiment-terms__in {
    padding: 25px 0 16px;
  }

  .repaiment-terms__title {
    margin-bottom: 20px;
  }

  .repaiment-terms__item {
    margin-bottom: 16px;
  }

  .repaiment-terms__item-in {
    position: relative;
    padding: 12px 15px;
    min-height: 100px;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .repaiment-terms__item-in .svg-icon {
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -35px 0 0 -35px;
  }

  .repaiment-terms__text {
    padding: 0 0 0 30px;
    font-size: 16px;
  }

  .banner-block:before,
  .banner-block:after {
    display: none;
  }

  .banner-block__in {
    height: 410px;
  }

@supports (display: block) {
    .banner-block__in {
      min-height: 410px;
      height: auto;
    }
}

  .banner-block__title {
    font-size: 36px;
  }

  .banner-block__title span {
    font-size: 48px;
    display: block;
  }

  .banner-block__body {
    font-size: 24px;
  }

  .banner-block__content {
    margin-left: 20px;
  }

  .banner-block .white-btn {
    font-size: 18px;
    min-width: 200px;
    padding: 21px 20px;
  }
}

@media all and (max-width: 760px) {
  .max-width {
    margin: 0 10px;
  }

  .application-info__content {
    display: block;
  }

  .application-info__item {
    margin-right: 0;
  }

  .form-block {
    background: none;
  }

  .form-block__form-content {
    padding: 10px;
  }

  .form-block__form-content form {
    padding: 15px 20px 20px;
  }

  .form-block__form-content form label {
    margin-bottom: 16px;
  }

  .form-block__form-content form label.checkbox-wr .title {
    font-size: 10px;
  }
}

@media all and (max-width: 710px) {
  .advantages-block__in {
    display: block;
  }

  .advantages-block__item {
    display: block;
    margin-right: 0;
    padding: 19px 10px 1px;
  }

  .advantages-block__item p {
    margin-bottom: 17px;
  }
}

@media all and (max-width: 700px) {
  .calculator-block__in.max-width {
    margin: 0;
  }

  .calculator-block__calculator-content {
    padding: 30px 10px 0;
  }

  .calculator-block__calculator-content .title {
    margin-bottom: 12px;
  }

  .calculator-block__bottom {
    padding: 15px 10px 15px;
    margin: 0 -10px;
  }

  .repaiment-terms__content {
    display: block;
  }

  .repaiment-terms__item {
    margin-right: 0;
  }
}

@media all and (max-width: 650px) {
  #map-block {
    height: auto;
  }

  #map-block #yandex_map {
    height: 380px;
  }

  #map-block .navigation {
    position: static;
    width: auto;
    height: auto;
  }

  #map-block .navigation .left {
    width: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-radius: 0;
  }

  #map-block .navigation .select_block {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    border-radius: 0;
  }
}

@media all and (max-width: 560px) {
  .calculator-block .interest-rate-body label {
    width: 100%;
    padding: 0;
    margin-bottom: 15px;
  }

  .calculator-block .interest-rate-body label:nth-child(2n) {
    padding: 0;
    margin-bottom: 0;
  }

  .calculator-block .interest-rate-body label:nth-child(2n) .jq-radio {
    left: 0;
  }

  .calculator-block .result-wrap-block > div,
  .calculator-block .credit-term-wr > div {
    width: 100%;
    padding: 0;
    margin-bottom: 15px;
  }

  .calculator-block .result-wrap-block > div:nth-child(2n),
  .calculator-block .credit-term-wr > div:nth-child(2n) {
    padding: 0;
    margin-bottom: 0;
  }

  .calculator-block .result-wrap-block {
    margin-bottom: 10px;
  }

  .calculator-block .information-block {
    font-size: 10px;
  }
}

@media all and (max-width: 480px) {
  #map-block .navigation .left {
    display: block;
  }
}
/* ==========================================================================
   таблицы
   ========================================================================== */
.full-terms__text .table-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 36px;
}
.full-terms__text table {
  background: #fff;
  color: #000;
  font-size: 16px;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  margin-bottom: 30px;
}

.full-terms__text table .blue-color {
  color: #0099af;
  font-weight: bold;
}

.full-terms__text table th {
  padding: 27px 30px;
  min-width: 140px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.full-terms__text table th:first-child {
  border-left: none;
  min-width: 210px;
}

.full-terms__text table td {
  padding: 17px 30px;
  min-width: 140px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.full-terms__text table td:first-child {
  border-left: none;
  min-width: 210px;
}

.full-terms__text table tr:last-child td {
  border-bottom: none;
}
table caption {
  font-style: italic;
}

table thead,
table th {
  font-weight: 400;
}

table caption,
table th,
table td {
  padding: 10px 20px;
  text-align: left;
}

table.table0 th,
table.table0 td {
  border: none;
}

table.table1 th,
table.table1 td {
  border: 1px solid rgba(218,221,222,0.5);
}

table.table2 thead,
table.table2 th {
  background-color: #cdcdcd;
  color: #fff;
}
