@charset "UTF-8";

#modal_form-office {
  z-index: 1500;
}

#overlay {
  z-index: 1400;
}

.main_content.realty {
  min-height: 700px !important;
}

#map-bank.offices {
  min-height: 700px !important;
}

.main_content.realty .filtr-block-1 {
  height: 620px
}

.realty-title {
  @include respond-to(handhelds mobile tablet) {
    margin-top: 30px;
    margin-left: 0px !important;
    padding-left: 10px !important;
  }
  @include respond-to(desktop widescreen largescreen hugescreen) {
    margin-top: 80px;
  }
}

.realty-title h1 {
  @include respond-to(handhelds mobile tablet) {
    margin-bottom: 0px;
  }
}
.object-picture {
  overflow: hidden;
  -webkit-background-size: cover;
  background-size: cover;
}
.object-picture img {
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
  top: 50%;
}

@media (min-width: 992px) {
  .main_wrapper .basic-filter {
    display: none;
  }
}

@media (max-width: 992px) {
  .main_wrapper #map-bank.offices {
    margin-top: 0px !important;
  }
  .main_wrapper .basic-filter {
    height: auto !important;
    padding: 10px 10px !important;
    overflow: hidden;
    margin: 0px !important;
    width: auto;
  }

}

.main_wrapper #map-bank.offices {
  /*min-height: 700px;*/
}

.col-city {
  top: 0rem;
  right: 0;
  position: absolute;
}

.col-city.ymap .filtr-block-3 {
  right: 0;
}

.atm-ofice-full .col-left {
  top: 5rem;
  display: none;
}

.atm-ofice-full .col-right.ymap {
  right: 50px !important;
}

.atm-ofice-full .block-filtr .card-block.data {
  padding: 0 28px 5px;
}

.realty .city-select {
  margin-top: -20px;
  /* padding-right: 50px; */
  margin-left: -20px;
}

.company-logo {
    height: 60px;
}

div.col-right.ymap .block-filtr.filtr-block-4 {
  height: auto !important;
  padding-bottom: 20px;
}

