body {
  //margin: 0;
  //background-color: #f6f6f6;
  //overflow-x: hidden;

  .wr_main_cards {
    z-index: 5;
  }
}

#header-modal.fix-selection {
  position: fixed !important;
  width: 100% !important;
  top: 0 !important;
}

.product_selection {
  background: url("static/img/main_bg.jpg") top center no-repeat;
  background-size: 100%, calc(100vh * 4 * 2.1);

  .main-slider {
    transition: all 2s cubic-bezier(0.67, 0.59, 0.55, 0.76);
    &.active {
      .sky_item {
        &.sky_1 {
          transform: translate(8vw, 0);
        }

        &.sky_2 {
          transform: translate(-10vw, 0);
        }

        &.sky_3 {
          transform: translate(-8vw, 0);
        }

        &.sky_4 {
          transform: translate(-3.5vw, 0);
        }

        &.sky_5 {
        }

        &.sky_6 {
        }
      }
    }
  }

  &.parallax_bg .main-slider {
    transform: translate(0, 60px);
  }

  .container {
    max-width: 1276px;
    margin-right: auto;
    margin-left: auto;
  }
  .main-slider {
    height: 685px;
    position: relative;
    margin-bottom: -60px;
    .slider {
      height: 100%;
    }
    .slick-list {
      height: 100%;
      width: 100%;
      overflow: initial;
      .slick-track {
        height: 100%;
        .slick-slide {
          width: 100vw;
          position: absolute !important;
          height: 100%;
          &.slick-active {
            opacity: 1 !important;
            z-index: 4 !important;
          }
        }
      }
    }

    .slider-item {
      height: 100%;
      width: 100%;
      z-index: 5;

      .slide-content {
        padding-top: 130px;
        max-width: 50%;
        //position: relative
        z-index: 6;

        .title {
          font-size: 70px;
          font-family: "Lato", sans-serif;
          font-style: normal;
          font-weight: 700;
          color: rgb(255, 255, 255);
          line-height: 79px;
          padding-bottom: 35px;
        }

        .text {
          opacity: 0.8;
          color: white;
          font-family: "Proxima Nova", sans-serif;
          font-size: 20px;
          font-weight: 400;
          line-height: 28px;
          margin-bottom: 60px;
        }
      }
    }
    .wr_main_slider_wrapper_naw {
      list-style: none;
      margin: 0px;
      padding: 0px;
      position: absolute;
      left: 0px;
      right: 0px;
      top: 520px;
      text-align: center;
      z-index: 6;

      .main_slider_wrapper_naw {
        display: inline-block;
        position: relative;
        padding: 0px 60px;

        ul.slick-dots {
          list-style: none;
          margin: 0px;
          padding: 0px;
          text-align: center;
          z-index: 4;

          li {
            display: inline-block;
            vertical-align: middle;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #88898a;
            margin: 0px 10px;
            cursor: pointer;
            position: relative;

            &.slick-active {
              background: #1da9af;
            }
          }
        }

        .slick-prev,
        .slick-next {
          background-color: #ffffff;
          width: 40px;
          height: 40px;
          position: absolute;
          border: none;
          top: 50%;
          margin-top: -20px;
          cursor: pointer;
          z-index: 5;
          display: none !important;
          -webkit-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
          -moz-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
          border-radius: 50%;
          outline: none !important;
        }

        .slick-prev .arr,
        .slick-next .arr {
          width: 7px;
          height: 10px;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -5px;
          margin-left: -3.5px;
        }

        .slick-prev .arr {
          background: url("static/img/left_arr.png") top left no-repeat;
          margin-left: -5.5px;
        }

        .slick-next .arr {
          background: url("static/img/right_arr.png") top left no-repeat;
          margin-left: -2.5px;
        }

        .slick-prev:hover .arr,
        .slick-next:hover .arr {
          background-position: bottom left;
        }

        .slick-prev {
          background-position: top left;
          left: 0px;
        }

        .slick-prev:hover {
          background-position: bottom left;
          left: -2.5px;
        }

        .slick-next {
          right: 0px;
        }

        .slick-next:hover {
          background-position: bottom right;
          right: -2.5px;
        }
      }
    }
    &:hover .wr_main_slider_wrapper_naw {
      .main_slider_wrapper_naw {
        .slick-prev,
        .slick-next {
          display: block !important;

          .slick-prev:focus,
          .slick-next:focus {
            outline: none;
          }

          .slick-prev:hover,
          .slick-next:hover {
            width: 45px;
            height: 45px;
            margin-top: -22.5px;
          }
        }
      }
    }
  }
  .slide-animation {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -1;
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 112px;
      position: absolute;
      top: 85%;
      background-color: #ffffff;
      box-shadow: 0 0 40px 80px rgba(255, 255, 255, 1);
      z-index: 5;
    }
    .container {
      height: 100%;
      .static-item {
        position: absolute;
        max-height: 100%;
        max-width: 70%;
        right: 0;
        top: 25%;
      }
    }
    .sky_item {
      transition: transform 15s cubic-bezier(0.67, 0.59, 0.55, 0.76);

      //border: 1px solid black
      &.sky_1 {
        right: 11%;
        top: 10%;
        width: 48.15%;
        z-index: 1;
      }

      &.sky_2 {
        right: 6%;
        bottom: 24%;
        z-index: 5;
        width: 20.34%;
      }

      &.sky_3 {
        bottom: 55%;
        right: 23%;
        width: 13.55%;
        z-index: 5;
      }

      &.sky_4 {
        width: 89%;
        bottom: 15%;
        left: 0;
        z-index: 3;
      }

      &.sky_5 {
        right: 0;
        bottom: -4%;
        width: 20%;
        z-index: 4;
      }

      &.sky_6 {
        border-color: aquamarine;
        bottom: -56%;
        width: 100%;
        z-index: 2;
      }
    }
  }
  @media (max-width: 768px) {
    background: none;
    .main-slider {
      height: 520px;
      margin-bottom: 0;
      .slick-list {
        height: 100%;
        overflow: initial;

        .slick-track {
          height: 100%;
          .slick-slide > div {
            height: 100%;
          }
        }
      }
      .slider-item {
        height: 100%;
        .container {
          height: 100%;
        }
        .slide-content {
          padding-top: 60px;
          max-width: 100%;
          height: 100%;
          width: 100%;
          .title {
            color: #1b1d1f;
            font-size: 36px;
            line-height: 1.2;
            padding-bottom: 20px;
          }
          .text {
            opacity: 0.8;
            color: #1b1d1f;
            font-size: 20px;
            font-weight: 400;
            line-height: 28px;
            margin-bottom: 15px;
          }
          .button {
            z-index: 1;
            position: absolute;
            bottom: 10%;
            left: 15px;
            right: 15px;
            max-width: 420px;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
      .wr_main_slider_wrapper_naw {
        list-style: none;
        margin: 0px;
        padding: 0px;
        position: absolute;
        left: 0px;
        right: 0px;
        top: initial;
        bottom: 5px;
        text-align: center;
        z-index: 6;
      }
      .slide-animation {
        .sky_item {
          max-width: 250px;
        }
        .static-item {
          max-height: 200px;
          max-width: calc(100% - 30px);
          margin-left: auto;
          margin-right: auto;
          left: 15px;
          top: calc(80% - 200px);
        }
        .sky_item.sky_2 {
          right: -14%;
          bottom: 45%;
          z-index: 3;
          width: 55%;
        }
        .sky_3 {
          top: 27%;
          right: 27%;
          width: 80.55%;
          z-index: 0;
        }
        .sky_item.sky_4 {
          width: 100%;
          bottom: 16%;
        }
        .sky_5 {
          right: 0;
          bottom: 0;
          width: 55%;
          z-index: 3;
        }
        .sky_6 {
          bottom: -28%;
        }
        &:after {
          top: 95%;
          height: 20px;
          z-index: 3;
        }
      }
    }
  }
  .intermediate_step {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    overflow: visible;
    height: calc(100vh - 147px);

    &.active {
      .step_content {
        opacity: 1;
      }
    }

    &:first-child {
      //background: transparent url("sky/top_bg_1.png") top center
      background-repeat: no-repeat;
      background-size: 100% auto;
    }

    .step_content {
      position: relative;
      z-index: 2;
      opacity: 0;
      transition: opacity 2s;

      h3 {
        color: #1b1d1f;
        font-family: Lato;
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
      }

      p {
        opacity: 0.6;
        color: #1b1d1f;
        font-family: "Proxima Nova", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 400px;
      margin-left: auto;
      margin-right: auto;

      .button {
        background-color: transparent;
        border: 1px solid white;
        border-radius: 4px;
        width: 100%;
        max-width: 400px;
        line-height: 26px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;

        &:hover {
          background-color: #fff;
          color: #1da9af;
        }

        &:disabled {
          background: #e2e8eb;
          border-color: #e2e8eb;
          color: #899aa3;
        }
      }

      &.cols {
        width: 750px;

        .button {
          max-width: 350px;
        }
      }
    }

    .button_back {
      background-color: transparent;
      border: none;
    }
  }
  .sky_item {
    position: absolute;
    display: inline-block;
    height: auto;
    background-color: transparent;
    z-index: 1;
    max-height: 400px;
    transition: transform 2s ease-in-out;
  }
  .svg_a {
    .slick-active .svg_a {
      display: block;
    }
  }

  //TODO: ждем шаблонов. Переделать
  .page-promo-banner {
    width: 100%;
    height: calc(100vh - 147px);
    position: relative;
    overflow: visible;
  }
  .page-promo-banner>img:first-child{
    position: absolute;
    bottom: 88%;
    z-index: 2;
    width: 100%;
    left: 0;
  }
  .page-promo-banner>img:nth-child(2){
    position: absolute;
    top: -75px;
    z-index: 2;
    width: 100%;
    left: 0;
  }
  .page-promo-banner:before {
    content: "";
    display: block;
    width: 100%;
    height: 39px;
    position: absolute;
    bottom: 94%;
    background-color: #ffffff;
    box-shadow: 0 0 39px 15px white;
    z-index: 2;
  }
  .page-promo-banner .banner-background {
    position: absolute;
    bottom: 0;
    right: -35px;
    min-width: calc(100% + 70px);
    min-height: 100%;
  }
  .page-promo-banner .blur-wrap {
    position: absolute;
    min-height: 230px;
    bottom: 0;
    width: 100%;
    z-index: 5;
  }
  .page-promo-banner .blur-wrap .img-container {
    position: absolute;
    height: 100%;
    min-width: calc(100% + 70px);
    bottom: 0;
    right: -35px;
    box-shadow: inset 0px -22px 20px 0px #000000;
    overflow: hidden;
  }
  .page-promo-banner .blur-wrap .blur-image {
    position: absolute;
    min-width: 100%;
    min-height: calc(100vh - 147px);
    -webkit-filter: blur(10px);
    filter: blur(10px);
    bottom: 0;
    right: 0;
    box-shadow: inset 0px -22px 20px 0px #000000;
  }
  .page-promo-banner .blur-wrap .c-container {
    position: relative;
    height: 100%;
    min-height: 160px;
  }
  .page-promo-banner .blur-wrap .blur-content {
    padding-top: 30px;
    padding-bottom: 25px;
    height: 100%;
    min-height: 230px;
    color: #ffffff;
  }
  .page-promo-banner .blur-wrap .blur-content:before {
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0.35);
    position: absolute;
    width: calc(100% + 70px);
    height: 100%;
    color: #ffffff;
    right: -35px;
    left: -35px;
    bottom: 0;
    top: 0;
  }
  .page-promo-banner .blur-wrap .blur-content .detail_picture {
    position: absolute;
    bottom: calc(100% + 80px);
    left: 0;
  }
  .page-promo-banner .blur-wrap .blur-content .title {
    font-size: 32px;
    font-weight: 800;
    line-height: 1.2;
    max-width: 70%;
  }
  .page-promo-banner .blur-wrap .blur-content .text {
    /*margin-bottom: 10px;*/
    /*max-width: 70%;*/
    margin-top: 0;
  }
  .page-promo-banner .blur-wrap .blur-content .text:after {
    content: '';
    display: block;
    clear: both;
  }
  .page-promo-banner .blur-wrap .blur-content .text > p {
    margin-top: 0;
    margin-bottom: 15px;
    /* display: inline-block; */
    float: left;
    width: 70%;
  }
  .page-promo-banner .blur-wrap .blur-content .text > p:last-child {
    float: left;
    margin: 25px 0 0;
    width: 70%;
  }
  .page-promo-banner .blur-wrap .blur-content .text ul {
    display: inline-block;
    /* float: left; */
    width: 70%;
  }
  .page-promo-banner .blur-wrap .blur-content .text ul + p {
    margin-top: -15px !important;
  }
  .page-promo-banner .blur-wrap .blur-content .text ul li {
    margin-bottom: 10px;
  }
  .page-promo-banner .blur-wrap .blur-content .button {
    position: absolute;
    top: 30%;
    right: 0;
    color: #1da9af;
    background-color: #ffffff;
    border-color: #ffffff;
    transition: all 0.2s linear;
  }
  .page-promo-banner .blur-wrap .blur-content .button:hover {
    color: #ffffff;
    background-color: #1da9af;
    border-color: #1da9af;
  }
}
/**button* */
.button {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  padding: 0px 36px;
  margin: 0px;
  border: 1px solid #1da9af;
  line-height: 61px;
  height: 59px;
  position: relative;
  background: #1da9af;
  border-radius: 3px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 600;
  min-width: 102px;
  text-align: center;
  font-size: 14px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  transition: background 0.2s linear, color 0.2s linear;
  -webkit-transition: background 0.2s linear, color 0.2s linear;
  -moz-transition: background 0.2s linear, color 0.2s linear;
  -o-transition: background 0.2s linear, color 0.2s linear;
  -ms-transition: background 0.2s linear, color 0.2s linear;

  .btn_text {
    transition: all 350ms;
  }

  .loader {
    transition: all 350ms;
    opacity: 0.4;
  }

  &:hover {
    background: #1a9599;
    border-color: #1a9599;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  &:disabled {
    background: #e2e8eb;
    border-color: #e2e8eb;
    color: #899aa3;
  }

  &:active {
    background: #1a9599;
    border-color: #1a9599;
  }

  &:focus {
    outline: none;
  }

  &.loading {
    .btn_text {
      display: inline-block;
      opacity: 0;
    }

    .loader {
      position: absolute;
      top: calc(50% - 12px);
      left: calc(50% - 8px);
      opacity: 1;
      right: 15px;
      display: block;
      width: 20px;
      height: 20px;
      border: 3px solid #899aa3;
      animation: cssload-loader 1.5s infinite ease;
      -o-animation: cssload-loader 1.5s infinite ease;
      -ms-animation: cssload-loader 1.5s infinite ease;
      -webkit-animation: cssload-loader 1.5s infinite ease;
      -moz-animation: cssload-loader 1.5s infinite ease;

      &:after {
        content: "";
        vertical-align: top;
        display: inline-block;
        width: 100%;
        background-color: #899aa3;
        animation: cssload-loader-inner 1.5s infinite ease-in;
        -o-animation: cssload-loader-inner 1.5s infinite ease-in;
        -ms-animation: cssload-loader-inner 1.5s infinite ease-in;
        -webkit-animation: cssload-loader-inner 1.5s infinite ease-in;
        -moz-animation: cssload-loader-inner 1.5s infinite ease-in;
      }
    }
  }
}

.step_result {
  position: relative;
  height: calc(100vh - 147px);
  z-index: 6;
  .result_parallax {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    .bg_1 {
      width: 72.6%;
    }
  }
  .result_content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: url("static/img/result_bg_blur.png") center top no-repeat;
    background-size: cover;
    .result_info {
      float: left
    }
    .button_block {
      float: right
    }
  }
  .result_content:after {
    content: "";
    display: block;
    clear: both
  }
  .result_image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 75.1%;
  }
}

@keyframes cssload-loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes cssload-loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-ms-keyframes cssload-loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes cssload-loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes cssload-loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

@-o-keyframes cssload-loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

@-ms-keyframes cssload-loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

@-webkit-keyframes cssload-loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

@-moz-keyframes cssload-loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}
