@media screen and (max-width: 1600px) {


    .wr_breadcrumbs
    {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 30px;
    }

    .wr_block_type .block_type.to_column,
    .wr_block_type .block_type,
    .content_rates_tabs .content_tab
    {
        padding-left: 30px;
        padding-right: 30px;
    }

    .footer .first_line
    {
        padding: 25px 30px;
    }

    .footer .call {
        width: 29.5%;
    }

    .footer .block_menu {
        width: 23.8%;
    }

    .footer .license
    {
        width: 29.6%;
    }

    .footer .text_block {
        width: 32.4%;
    }

    .wr_services .body {
        width: 400px;
    }

    .main_slider .precent {
        font-size: 160px;
    }

    .header>.all_products, .header>.net_bank {
        margin-left: 20px;
    }


    .photo_blocks .slick-prev {
        left: -21px;
    }

    .photo_blocks .slick-next {
        right: -21px;
    }

    .wr_footer_banner
    {
        background:
            url('../img/footer_banner/down2.png') no-repeat 50% 32%,
            url('../img/footer_banner/fon_2.png') no-repeat bottom center
        ;
        background-size: auto;
    }

    .wr_footer_banner.wr_footer_banner_businesses
    {
        background:
            url('../img/footer_banner/down2.png') no-repeat 50% 32%,
            url('../img/footer_banner/fon_businesses.png') no-repeat bottom center
        ;
        background-size: auto;
    }

    .wr_footer_banner.wr_footer_big_banner_businesses
    {
        background:
            url(../img/footer_banner/down2.png) no-repeat 50% 32%,
            url(../img/footer_banner/fon_big_businesses.png) no-repeat bottom center
        ;
        background-size: auto;
    }

    .wr_footer_banner.wr_footer_private-banking
    {
        background:
            url(../img/footer_banner/down2.png) no-repeat 50% 32%,
            url(../img/footer_banner/bottom.png) no-repeat bottom center
        ;
        background-size: auto;
        margin-top: -595px;
    }

}

@media screen and (max-width: 1025px) {


    .wr_services .body {
        width: 300px;
    }
}
