@media (max-width: 450px) {
    /* О банке мобильная версия */
    .title_to .full-linck-header .button {
        width: 100%;
    }
    .container.about-page {
        margin-top: 0;
    }
    .about-page .manager.views-mobile.views-1 {
        margin-bottom: 40px;
    }
    .container.about-page .conditions h3 {
        margin-left: 25px;
    }
    .container .views-mobile {
        padding: 0 20px;
    }
    .manager-top {
        margin-top: 50px;
        margin-bottom: 40px;
    }
    .about-page .conditions {
        border: 0;
    }
    .about-page .button.min_height {
        width: 100%;
    }
    .container.about-page .logo-bank {
        margin: 0 25px 20px;
        display: block;
        float: left;
    }
}
@media (min-width: 451px) and (max-width: 991px) {
    /* О банке планшет */
    .container.about-page {
        margin-top: 0;
    }
    .about-page .conditions h3 {
        margin: 0 0 0;
    }
    .container .views-mobile {
        padding: 0 20px;
    }
    .manager-top {
        margin-top: 50px;
        margin-bottom: 40px;
    }
    .about-page .conditions {
        border: 0;
    }
    .container.about-page .logo-bank {
        margin: 0 48px 0 0;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 1199px) {

}