.header .button {
	height: auto;
	background: none;
}
.footer {
	color: inherit;
	background: #fff;
	padding-top: 0;
	clear: inherit;
}
.footer a:hover {
	color: inherit;
}
#bottomAd {
	font-size: 0 !important;
}
a.header-links__item:hover {
	color: #fff;
}
body.to_page .main_wrapper {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 1.6;
	font-weight: 400;
}

body.to_page .main_wrapper .button {
	padding: 0 36px;
	font-size: 14px;
	line-height: 61px;
	font-weight: 600;
	font-family: 'Lato', sans-serif;
	border-radius: 3px;
	color: #ffffff;
}

.content_rates_tabs .content_tab a.ui-tabs-anchor {
	color: rgb(29, 169, 175);
}

body.to_page .main_wrapper h2 {
	color: rgb(27, 29, 31);
	line-height: 0.938;
	font-size: 20px;
	margin-bottom: 35px;
	margin-top: 0;
	font-weight: bold;
}
body.to_page .main_wrapper p {
	margin: 5px 0 20px;
}

body.to_page .main_wrapper h3 {
	font-size: 1.1em;
	letter-spacing: -0.2px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}

body.to_page .main_wrapper #map-bank h3 {
	color: #1a9599;
	margin-top: 19px;
}

.main_wrapper a {
	color: rgb(29, 169, 175);
	text-decoration: none;
}