.main_content.realty {
  min-height: 700px !important; }

#map-bank.offices {
  min-height: 700px !important; }

.main_content.realty .filtr-block-1 {
  height: 620px; }

@media (max-width: 425px) {
  .realty-title {
    margin-top: 30px;
    margin-left: 0px !important;
    padding-left: 10px !important; } }
@media (min-width: 426px) and (max-width: 767px) {
  .realty-title {
    margin-top: 30px;
    margin-left: 0px !important;
    padding-left: 10px !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .realty-title {
    margin-top: 30px;
    margin-left: 0px !important;
    padding-left: 10px !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .realty-title {
    margin-top: 80px; } }
@media (min-width: 1200px) and (max-width: 1249px) {
  .realty-title {
    margin-top: 80px; } }
@media (min-width: 1250px) and (max-width: 1289px) {
  .realty-title {
    margin-top: 80px; } }
@media (min-width: 1290px) {
  .realty-title {
    margin-top: 80px; } }

@media (max-width: 425px) {
  .realty-title h1 {
    margin-bottom: 0px; } }
@media (min-width: 426px) and (max-width: 767px) {
  .realty-title h1 {
    margin-bottom: 0px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .realty-title h1 {
    margin-bottom: 0px; } }

.object-picture {
  overflow: hidden;
  -webkit-background-size: cover;
  background-size: cover; }

.object-picture img {
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
  top: 50%; }

@media (min-width: 992px) {
  .main_wrapper .basic-filter {
    display: none; } }
@media (max-width: 992px) {
  .main_wrapper #map-bank.offices {
    margin-top: 0px !important; }

  .main_wrapper .basic-filter {
    height: auto !important;
    padding: 10px 10px !important;
    overflow: hidden;
    margin: 0px !important;
    width: auto; } }
.main_wrapper #map-bank.offices {
  /*min-height: 700px;*/ }

.col-city {
  top: 0rem;
  right: 0;
  position: absolute; }

.col-city.ymap .filtr-block-3 {
  right: 0; }

.atm-ofice-full .col-left {
  top: 5rem;
  display: none; }

.atm-ofice-full .col-right.ymap {
  right: 50px !important; }

.atm-ofice-full .block-filtr .card-block.data {
  padding: 0 28px 5px; }

.realty .city-select {
  margin-top: -20px;
  /* padding-right: 50px; */
  margin-left: -20px; }

.company-logo {
  height: 60px; }

div.col-right.ymap .block-filtr.filtr-block-4 {
  height: auto !important;
  padding-bottom: 20px; }

.modal-content .map-modal {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px; }
.modal-content .mobile-modal-content {
  padding: 0px 0 30px 0; }
@media (max-width: 425px) {
  .modal-content #marshrut.modal_close {
    width: 100%;
    text-align: center; } }
@media (min-width: 426px) and (max-width: 767px) {
  .modal-content #marshrut.modal_close {
    width: 100%;
    text-align: center; } }
@media (min-width: 768px) and (max-width: 991px) {
  .modal-content #marshrut.modal_close {
    width: 100%;
    text-align: center; } }

.main_wrapper .modal_form-office-table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px; }
  .main_wrapper .modal_form-office-table td {
    margin: 0px;
    padding: 0px; }
  @media (max-width: 425px) {
    .main_wrapper .modal_form-office-table {
      height: auto; } }
  @media (min-width: 426px) and (max-width: 767px) {
    .main_wrapper .modal_form-office-table {
      height: auto; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .main_wrapper .modal_form-office-table {
      height: auto; } }
.main_wrapper .basic-filter {
  overflow: visible;
  padding: 10px 25px !important; }

/*# sourceMappingURL=realty.css.map */
