.sky {
    height: 499px;
    position: relative;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 275px;
}

.clouds_one,
.clouds_two,
.clouds_three,
.main_slider:after,
.main_slider:before
{
    background-size: 25%;
    background-position: top center;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 400%;
    transform: translate3d(0, 0, 0) rotate(0.01deg);
    -webkit-transform: translate3d(0, 0, 0) rotate(0.01deg);
    -moz-transform: translate3d(0, 0, 0) rotate(0.01deg);
    -o-transform: translate3d(0, 0, 0) rotate(0.01deg);
    -ms-transform: translate3d(0, 0, 0) rotate(0.01deg);
}

.main_slider:before {
    height: 499px;
    top: 290px;
    display: block;
    content: '';
    z-index: 4;
    background: url("../img/slider/_cloud_four1.png");
    animation: cloud 2500s linear infinite;
    -webkit-animation: cloud 2500s linear infinite;
    -moz-animation: cloud 2500s linear infinite;
    -o-animation: cloud 2500s linear infinite;
    -ms-animation: cloud 2500s linear infinite;
    margin-top: 30px;
    margin-left: -5%;
}

.main_slider:after {
    height: 499px;
    top: 290px;
    display: block;
    content: '';
    z-index: 3;
    background: url("../img/slider/_cloud_four.png");
    animation: cloud 2500s linear infinite;
    -webkit-animation: cloud 2500s linear infinite;
    -moz-animation: cloud 2500s linear infinite;
    -o-animation: cloud 2500s linear infinite;
    -ms-animation: cloud 2500s linear infinite;
    margin-left: 30%;
}

.clouds_one
{
    background: url("../img/slider/_cloud_one.png");
    animation: cloud 1000s linear infinite;
    -webkit-animation: cloud 1000s linear infinite;
    -moz-animation: cloud 1000s linear infinite;
    -o-animation: cloud 1000s linear infinite;
    -ms-animation: cloud 1000s linear infinite;
}

.clouds_two {
    background: url("../img/slider/_cloud_two.png");
    animation: cloud 1500s linear infinite;
    -webkit-animation: cloud 1500s linear infinite;
    -moz-animation: cloud 1500s linear infinite;
    -o-animation: cloud 1500s linear infinite;
    -ms-animation: cloud 1500s linear infinite;
}

.clouds_three {
    background: url("../img/slider/_cloud_three.png");
    animation: cloud 2000s linear infinite;
    -webkit-animation: cloud 2000s linear infinite;
    -moz-animation: cloud 2000s linear infinite;
    -o-animation: cloud 2000s linear infinite;
    -ms-animation: cloud 2000s linear infinite;
}


@-webkit-keyframes cloud {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-200%, 0);
    }
}


@-moz-keyframes cloud {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-200%, 0);
    }
}
