.snippet-online-reserve
{
    background: url('images/calck.png') no-repeat left center #def3f4;
    min-height: 553px;

}

.snippet-online-reserve .snippet-online-reserve-body
{
    padding-top: 69px;
    padding-left: 310px;
    padding-right: 50px;
}

.snippet-online-reserve .snippet-online-reserve-text
{
    font-size: 24px;
    color: rgb(27, 29, 31);
    font-weight: 800;
    letter-spacing: 0.1px;
    line-height: 36px;
}

.snippet-online-reserve .snippet-online-reserve-ul
{
    font-size: 16px;
    color: rgb(137, 154, 163);
    margin: 27px 0px 43px;
}

.snippet-online-reserve .snippet-online-reserve-li
{
    background: url('images/chek.png') no-repeat top left;
    padding-left: 44px;
    line-height: 26px;
    margin-bottom: 10px;
}

.snippet-online-reserve .snippet-online-reserve-li:last-child
{
    margin-bottom: 0px;
}

.snippet-online-reserve .snippet-online-reserve-chek
{
    font-size: 14px;
    color: rgb(27, 29, 31);
    letter-spacing: -0.3px;
    margin-bottom: 35px;
}

.snippet-online-reserve .snippet-online-reserve-chek a
{
    color: rgb(27, 29, 31);
    text-decoration: none;
    border-bottom: 1px dotted rgb(27, 29, 31);
}

.snippet-online-reserve .snippet-online-reserve-button
{

}


.snippet-online-reserve .jq-checkbox {
    margin: 0 13px 0 0;
}

.snippet-online-reserve .button
{
    padding: 0px 52px;
}

.online-reserve-applicatio
{
    display: none;
}


.online-reserve-applicatio.wr_form_application  .form_application
{
    padding: 24px 40px;
}

.online-reserve-applicatio.wr_form_application .form_application:first-child
{
    border-bottom:2px solid #f2f4f6;
}

.online-reserve-applicatio.wr_form_application .form_application:last-child
{
    border-bottom:none;
}

.online-reserve-applicatio h3 {
    margin-bottom: 28px;
}

.online-reserve-applicatio .form_application_line {
    margin-bottom: 27px;
}

.online-reserve-applicatio.wr_form_application .form_application:first-child .form_application_line {
    margin-bottom: 17px;
}

.form_application_line.form_text
{
    font-size: 16px;
    color: rgb(137, 154, 163);
}

.form_application_line.buttom_line .button
{

}

.form_application_line.buttom_line
{
    overflow: hidden;
}

.big_wr_form_application label.error
{
    margin-top: 0px;
}

#recaptchaErrop{
    display: none;
}

.confirmation_block
{
    display: none;
}

.confirmation_block.show
{
    display: block;
}

.big_wr_form_application .diverror {
    margin-top: 0px;
    font-size: 14px;
    color: rgb(208, 2, 27);
    display: block;
    position: absolute;
}

/*
.form_application_line.buttom_line .g-recaptcha>div,
.form_application_line.buttom_line .g-recaptcha iframe
{
    width: 470px!important;
}
*/


.jq-selectbox.opened {
    z-index: 100!important;
}

.form_application_line.buttom_line_captcha
{
    display: none;
}

.form_application_line.buttom_line_captcha.show
{
    display: inline-block;
}

.form_application_line.buttom_line_button
{
    float: right;
    margin-top: 9px;
}

@media screen and (max-width: 992px) {
    .online-reserve-applicatio.wr_form_application .form_application:first-child
    {
        padding-bottom: 0px;
    }
    .online-reserve-applicatio.wr_form_application .form_application:first-child .form_application_line {
        margin-bottom: 0px;
    }
}


@media screen and (max-width: 600px)
{

    .snippet-online-reserve
    {
        background: url('images/calck_min.png') no-repeat 50% 40px #def3f4;
    }

    .snippet-online-reserve .snippet-online-reserve-body {
        padding-top: 265px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .snippet-online-reserve .snippet-online-reserve-text {
        font-size: 18px;
        line-height: 30px;
    }

    .snippet-online-reserve .snippet-online-reserve-button {
        text-align: center;
        padding-bottom: 30px;
    }

    .online-reserve-applicatio.wr_form_application  .form_application
    {
        padding-left: 0px;
        padding-right: 0px;
    }


    .online-reserve-applicatio .wr-toggle-light-text .toggle-light-wr
    {
        height: 18px;
    }

    .wr-toggle-light-text
    {
        text-align: center;
    }

    .main_wrapper .online-reserve-applicatio .wr-toggle-light-text .toggle-light-wr {
        height: 18px!important;
        display: block;
        width: 38px;
        margin: 10px auto;
    }

    .online-reserve-applicatio .wr_complex_input.complex_input_noicon .text {
        font-size: 16px;
        top: 19px;
    }

    .online-reserve-applicatio .form_application .form_application_to {
        width: auto;
        display: block;
        margin: 0px 0px 27px 0px;
    }

    .snippet-online-reserve .button {
        padding: 0px 0px;
        width: 100%;
    }

    .online-reserve-applicatio .form_application_line.buttom_line_captcha {
        display: none;
    }

    .online-reserve-applicatio .form_application_line.buttom_line_captcha.show
    {
        display: block;
    }

    .online-reserve-applicatio .form_application_line.buttom_line_captcha>div>div
    {
        margin: 0px auto;
    }

    .online-reserve-applicatio .form_application_line.buttom_line_button {
        float: inherit;
        margin-top: 0px;
        margin-bottom: 0px;
    }


    .big_wr_form_application .wr_form_application {
        margin-bottom: 0px;
    }

}

/* Модальное окно */
#modal_form-agreement h3 {
    font-weight: 600;
    text-align: center;
    margin: 0 0 40px;
    line-height: 1.2;
}
#modal_form-agreement h4 {
    margin-bottom: 10px;
}
#modal_form-agreement .text-block {
    font-family: 'Lato', sans-serif;
    color: rgb(27, 29, 31);
    font-size: 16px;
    line-height: 1.6;
    font-style: normal;
    font-weight: 400;
}
@media (min-width: 993px) and (max-width: 1199px) {
    #modal_form-agreement .modal-content {
        background-color: transparent;
        border: 0;
    }
    #modal_form-agreement .modal-content .modal_fon {
        width: calc(100% - 150px);
        margin: 0 auto;
    }
}
@media (min-width: 1199px) {
    #modal_form-agreement .modal-content {
        background-color: transparent;
        border: 0;
    }
    #modal_form-agreement .modal-content .modal_fon {
        width: calc(100% - 250px);
        margin: 0 auto;
    }
    #modal_form-agreement h3 {
        font-size: 32px;
    }
}
/* //Модальное окно// */