@charset "UTF-8";

.modal-content
{
  .map-modal
  {
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
  }
  .mobile-modal-content
  {
    padding: 0px 0 30px 0;
  }

  #marshrut.modal_close
  {
    @include respond-to( handhelds mobile tablet ){
      width: 100%;
      text-align: center;
    }
  }
}

.main_wrapper
{
  .modal_form-office-table
  {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    td{
      margin: 0px;
      padding: 0px;
    }
    @include respond-to( handhelds mobile tablet ){
      height: auto;
    }
  }
  .basic-filter
  {
    overflow: visible;
    padding: 10px 25px !important;
  }
}
